Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Use deployed CronJob image for backfill-kubernetes (#601)
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  tests/common/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Add GCS mirror fallback for IFS-ENS and AIFS-single downloads
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
Due: ty

Tighten and DRY operational validation NaN checks
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/validators.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/validators.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/validators.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/validation_test.py
  tests/contrib/noaa/ndvi_cdr/analysis/validators_test.py
  tests/contrib/uarizona/swann/test_validators.py
  tests/noaa/hrrr/forecast_48_hour/validators_test.py
Due: ty, generate-manual-workflows

Parameterize MarsSourceFileCoord URLs with source
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
Due: ty

Rename EcmwfSource to EcmwfOpenDataSource
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ecmwf_utils.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
Due: ty

Dedupe URL calls in ifs_ens _download_from_source and inline S3 URL
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
Due: ty

Stream per-variable NaN fraction logs as they complete
  src/reformatters/common/validation.py
Due: ty

Keep coord-type isinstance asserts in ifs_ens _download_from_source
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Inline get_url calls per match arm to drop ty:ignore
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Lower default validator thread pool to 6 workers
  src/reformatters/common/validation.py
Due: ty

Add GCS, fallback to S3 access pattern for IFS-ENS and AIFS-single downloads (#602)
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ecmwf_utils.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
Due: ty

Bound default validator memory: efficient sampling by default
  src/reformatters/common/validation.py
Due: ty

Drop random_2x2 sampling strategy in favor of random_points
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Bump aifs-ens operational update resources
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Bump aifs-ens operational update resources (#605)
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Keep full ensemble for null analysis in validation run-all
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
Due: ty

Inline ensemble selection in compare functions
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/utils.py
Due: ty

Add init_time_offset to forecast NaN check; use it for GEFS 35-day
  src/reformatters/common/validation.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  tests/common/validation_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/validators_test.py
Due: ty, generate-manual-workflows

Validation: scan full ensemble for nulls (#606)
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
Due: ty

Tighten validator thresholds from observed prod NaN fractions
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
Due: ty, generate-manual-workflows

Use sampling_strategy='all' for structural-NaN datasets
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Revert MRMS to quarter sampling
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Document -3=no data flag for MRMS categorical_precipitation_type_surface
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
Due: ty

Document -3=no data flag for MRMS categorical_precipitation_type_surface (#607)
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
Due: ty

Validation: add --point lat,lon option to run-all
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
Due: ty

Cover remaining branches in common/validation.py
  tests/common/validation_test.py
Due: ty

Address PR #604 review comments
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Rename sampling_strategy kwarg to spatial_sampling in public validation API
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/validation_test.py
Due: ty, generate-manual-workflows

Tighten thresholds, dry up, and optimize NaN operational validation (#604)
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/validators.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/validators.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/validators.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/validation_test.py
  tests/contrib/noaa/ndvi_cdr/analysis/validators_test.py
  tests/contrib/uarizona/swann/test_validators.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/validators_test.py
Due: ty, generate-manual-workflows

Snap AIFS-ENS update to last fully-published cycle
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
Due: ty, generate-manual-workflows

Unsuspend AIFS-ENS update + validate cronjobs
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

AIFS-ENS enable updates and don't attemp to process cycles that haven't started (#608)
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
Due: ty, generate-manual-workflows

Log dimension coordinates in NaN validators
  src/reformatters/common/validation.py
Due: ty

Log dimension coordinates in NaN validators (#610)
  src/reformatters/common/validation.py
Due: ty

Validation: rename "missing" timestamps to "unavailable", add earliest/latest columns
  docs/validation.md
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
Due: ty

Validation: clarify summary audience and bar for --publish
  docs/validation.md
Due: none

Validation: public-audience guidance applies to entire Summary section
  docs/validation.md
Due: none

Improve validation summary report writing expectations, rename "missing" to "unavailable" for null value reporting (#611)
  docs/validation.md
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
Due: ty

Move ensemble member into spatial and time series subsections
  docs/validation.md
  src/scripts/validation/summary.py
Due: ty

Omit ensemble member line when dataset has no ensemble dim
  src/scripts/validation/summary.py
Due: ty
