Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Fix new integration naming convention
  docs/implementation_guide.md
  src/reformatters/common/initialize_new_integration.py
  tests/common/initialize_new_integration_test.py
Due: ty

Extend cross-dataset metadata consistency checks
  tests/common/datasets_cf_compliance_test.py
Due: ty

Match download quiet-window and NaN tolerance to known publish latency
  src/reformatters/common/materialized_region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
Due: ty, generate-manual-workflows

Address scaffolder naming review
  src/reformatters/common/initialize_new_integration.py
  tests/common/initialize_new_integration_test.py
Due: ty

Rework metadata exceptions onto existing allowlist
  tests/common/datasets_cf_compliance_helpers_test.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Standardize dataset subclass names
  src/reformatters/__main__.py
  src/reformatters/common/initialize_new_integration.py
  src/reformatters/eccc/hrdps/forecast/__init__.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/example_materialized/__init__.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/__init__.py
  src/reformatters/example_virtual/dynamical_dataset.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  tests/example_materialized/dynamical_dataset_test.py
  tests/example_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Align example names with dataset policy
  src/reformatters/common/initialize_new_integration.py
  src/reformatters/example_materialized/__init__.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_materialized/region_job.py
  src/reformatters/example_materialized/template_config.py
  src/reformatters/example_virtual/__init__.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/example_virtual/template_config.py
  tests/common/initialize_new_integration_test.py
  tests/example_materialized/dynamical_dataset_test.py
  tests/example_materialized/region_job_test.py
  tests/example_materialized/template_config_test.py
  tests/example_virtual/dynamical_dataset_test.py
  tests/example_virtual/region_job_test.py
  tests/example_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Approve cloud cover metadata exception
  tests/common/datasets_cf_compliance_test.py
Due: ty

Reject virtual in integration variants
  src/reformatters/common/initialize_new_integration.py
  tests/common/initialize_new_integration_test.py
Due: ty

Extend cross-dataset metadata consistency checks (#994)
  tests/common/datasets_cf_compliance_helpers_test.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Fix new integration naming convention (#989)
  docs/implementation_guide.md
  src/reformatters/__main__.py
  src/reformatters/common/initialize_new_integration.py
  src/reformatters/eccc/hrdps/forecast/__init__.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/example_materialized/__init__.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_materialized/region_job.py
  src/reformatters/example_materialized/template_config.py
  src/reformatters/example_virtual/__init__.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/example_virtual/template_config.py
  tests/common/initialize_new_integration_test.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  tests/example_materialized/dynamical_dataset_test.py
  tests/example_materialized/region_job_test.py
  tests/example_materialized/template_config_test.py
  tests/example_virtual/dynamical_dataset_test.py
  tests/example_virtual/region_job_test.py
  tests/example_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Extract the shared NOAA virtual GRIB-index region job
  AGENTS.md
  docs/virtual_datasets.md
  src/reformatters/noaa/hrrr/virtual_region_job.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  src/reformatters/noaa/noaa_grib_index.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
  tests/noaa/noaa_grib_index_test.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Make duplicate index messages first-wins and check every message's byte range
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Correct virtual dataset latency and manifest sizing guidance
  AGENTS.md
  docs/virtual_datasets.md
  src/reformatters/example_materialized/template_config.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
Due: ty

Tighten wording to the general rules
  AGENTS.md
  docs/virtual_datasets.md
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
Due: ty

Restore two-sentence marker rule
  AGENTS.md
Due: none

Apply review: precision on tick, metric, priorities
  docs/virtual_datasets.md
Due: none

Apply review findings to the CHIRPS datasets
  src/reformatters/ucsb_chc/chirps/analysis_final/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/analysis_final/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ucsb_chc/chirps/analysis_final/templates/latest.zarr/zarr.json
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/templates/latest.zarr/zarr.json
  src/reformatters/ucsb_chc/chirps/chirps_config_models.py
  src/reformatters/ucsb_chc/chirps/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/region_job.py
  src/reformatters/ucsb_chc/chirps/template_config.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
  tests/ucsb_chc/chirps/region_job_test.py
  tests/ucsb_chc/chirps/template_config_test.py
Due: ty, generate-manual-workflows

Delay HRDPS updates for source publication
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Apply the WeatherNext 2 publication holdback to valid time
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/template_config.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/template_config.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty, generate-manual-workflows

Keep the historical archive clock-independent and pin the holdback in more tests
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty

Document observed HRDPS publication times
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Resubmit a failed ECDS job after a growing wait instead of aborting the archive run
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Resubmit a failed ECDS job after a growing wait instead of aborting the archive run (#1005)
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Delay HRDPS updates for source publication (#1003)
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Declare a source file's init and lead times once for every model that has them
  AGENTS.md
  src/reformatters/common/region_job.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_virtual_region_job.py
Due: ty

Inherit the shared init and lead time fields in every forecast source file coord
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/eccc/hrdps/forecast/region_job.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
Due: ty

Extract the shared NOAA virtual GRIB-index region job (#990)
  docs/virtual_datasets.md
  src/reformatters/common/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/eccc/hrdps/forecast/region_job.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/virtual_region_job.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  src/reformatters/noaa/noaa_grib_index.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
  tests/noaa/noaa_grib_index_test.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Record the GEFS virtual analysis's window-average step types
  tests/common/datasets_cf_compliance_test.py
Due: ty

Apply review findings to the GEFS virtual base migration
  docs/virtual_datasets.md
  src/reformatters/noaa/gefs/virtual_region_job.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
Due: ty

Require an explicit manifest split entry for every vertical group
  tests/datasets_test.py
Due: ty

Name the unstated-group-split exemption instead of exempting all scalars
  tests/datasets_test.py
Due: ty

Test the GEFS 0.25 degree virtual analysis
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/soil_temperature_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
Due: ty

Give the virtual analysis validator a commit margin and reject doubled refs
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/virtual_region_job.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Start the GEFS virtual archive where the materialized forecast does
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/time/c/0
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/time/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
Due: ty

Complete a GEFS variable when any of its element spellings matches
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_freezing_rain_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_ice_pellets_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_rain_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_snow_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
Due: ty

Apply review findings to the GEFS virtual analysis
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/region_job.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_freezing_rain_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_ice_pellets_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_rain_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_snow_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20200923T12_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20200923T12_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20200923T12_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T06_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T06_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T06_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T12_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T12_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T12_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T06_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T06_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T06_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T12_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T12_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T12_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20260828T00_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20260828T00_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20260828T00_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Build GEFS virtual refs on the shared NOAA virtual region job
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
