Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Unsuspend the GEFS 16 day 0.5 degree virtual cron jobs after the manifest re-split
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Unsuspend the GEFS 16 day 0.5 degree virtual cron jobs after the manifest re-split (#1105)
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Drop the ops card change and reuse shared GRIB2 parsing in the mirror
  docs/ops_card.md
  src/reformatters/common/grib.py
  src/reformatters/noaa/hrrr/nomads_mirror.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/common/grib_test.py
  tests/noaa/grib_index_fixtures.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Remove unused ty ignore
  src/reformatters/common/deaccumulation.py
Due: ty

Retry a partly written NOMADS index instead of ending the fire
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Share one NOMADS download helper across HRRR, GFS and GEFS
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_utils.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
  tests/noaa/noaa_utils_test.py
Due: ty

Validate decode presence maps and cover operational sampling
  docs/validation.md
  src/reformatters/common/validation.py
  tests/common/validation_decode_test.py
  tests/common/virtual_region_job_test.py
Due: ty

Copy mirror pairs in parallel and fold helpers into existing ones
  src/reformatters/common/download.py
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/common/download_test.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Admit mirror copies only as the pool frees and stop each transfer at the deadline
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Wait on copies without a timeout once every pending pair is in flight
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Use coord.relative_path() for mirror keys now that mirror_key is gone
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/region_job.py
  tests/noaa/hrrr/forecast_18_hour_virtual_fast/region_job_test.py
Due: ty

Probe referenced vertical levels in offline validation scans (#1103)
  docs/validation.md
  src/reformatters/common/validation.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  tests/common/validation_decode_test.py
  tests/common/virtual_region_job_test.py
  tests/scripts/validation/decode_scan_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Share one NOMADS download helper across HRRR, GFS and GEFS (#1106)
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_utils.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
  tests/noaa/noaa_utils_test.py
Due: ty

Mirror NOMADS HRRR GRIBs and indexes into R2 (#1095)
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/__main__.py
  src/reformatters/common/download.py
  src/reformatters/common/grib.py
  src/reformatters/noaa/hrrr/nomads_mirror.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/common/download_test.py
  tests/common/grib_test.py
  tests/noaa/fixtures/hrrr.t19z.wrfsfcf00.first2.grib2
  tests/noaa/fixtures/hrrr.t19z.wrfsfcf00.first2.grib2.idx
  tests/noaa/grib_index_fixtures.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty, generate-manual-workflows

Pin the HRRR NOMADS mirror to its product and register archivers with datasets
  .github/workflows/README.md
  docs/implementation_guide.md
  docs/staging.md
  src/reformatters/__main__.py
  src/reformatters/common/deploy.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/nomads_mirror.py
  src/scripts/generate_manual_workflows.py
  tests/common/deploy_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual_fast/dynamical_dataset_test.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty, generate-manual-workflows

Pin which registered owner each deploy filter selects
  tests/common/deploy_test.py
Due: ty

Defer a listed NOMADS file it does not serve, and stream httpx downloads
  src/reformatters/common/download.py
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/common/download_test.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Suspend the NOMADS HRRR mirror cron while its deployment and cost are decided
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Fail a mirror fire whose own init is incomplete at its deadline
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Prototype: give the Modal pilot its own app and secret
  src/reformatters/noaa/hrrr/nomads_mirror_modal.py
Due: ty

Prototype: fix the Modal pilot's deadline when it is launched
  src/reformatters/noaa/hrrr/nomads_mirror_modal.py
Due: ty

Prototype: run the NOMADS mirror's hourly fire on Modal
  pyproject.toml
  src/reformatters/noaa/hrrr/nomads_mirror.py
  src/reformatters/noaa/hrrr/nomads_mirror_modal.py
  tests/noaa/hrrr/nomads_mirror_test.py
  uv.lock
Due: ty

Prototype: keep the Modal fire window in the adapter and bound the pilot
  src/reformatters/noaa/hrrr/nomads_mirror_modal.py
  tests/noaa/hrrr/nomads_mirror_modal_test.py
Due: ty

Suspend the NOMADS HRRR mirror cron while its deployment and cost are decided (#1110)
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Archive ECMWF 46-day initializations as ECDS publishes them and gate updates on a complete archive
  src/reformatters/common/kubernetes.py
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/common/kubernetes_test.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty, generate-manual-workflows

Gate updates on a contiguous, fire-time-consistent archive range; keep the fallback fires
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty, generate-manual-workflows

Let the 06:15 fallback fire run; treat a same-second object as after the fire; no retrieval past the wait
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Only a no-wait probe may start a retrieval after its own duration
  src/reformatters/ecmwf/archive_gribs/archive.py
  tests/ecmwf/archive_gribs/archive_test.py
Due: ty

Type the gate test the way ty checks it
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Sync outside-comment notification workflow
  .github/workflows/outside-comment-notify.yml
Due: none

Sync outside-comment notification workflow (#1112)
  .github/workflows/outside-comment-notify.yml
Due: none

Right-size CHIRPS operational memory requests
  src/reformatters/ucsb_chc/chirps/dynamical_dataset.py
Due: ty, generate-manual-workflows

Right-size CHIRPS operational memory requests (#1116)
  src/reformatters/ucsb_chc/chirps/dynamical_dataset.py
Due: ty, generate-manual-workflows

Trigger ECMWF 46-day updates when archived sources are ready
  docs/ops_card.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes.py
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/common/deploy_test.py
  tests/common/kubernetes_test.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Expose Icechunk GC manifest walk limits
  docs/ops_card.md
  src/scripts/icechunk_utils.py
  tests/scripts/icechunk_utils_test.py
Due: ty

Expose Icechunk GC manifest walk limits (#1121)
  docs/ops_card.md
  src/scripts/icechunk_utils.py
  tests/scripts/icechunk_utils_test.py
Due: ty

Record corrections to published data in a dedicated issue
  .github/ISSUE_TEMPLATE/correct_published_data.md
  AGENTS.md
  docs/backfill.md
Due: none

Close a correction issue only once it is on main everywhere and consumers are told
  .github/ISSUE_TEMPLATE/correct_published_data.md
  AGENTS.md
  docs/backfill.md
Due: none

Log commit preparation time and array count
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty
