Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Record launch scope on WeatherNext 3 operational updates
  docs/weathernext2_holdback.md
  src/reformatters/google/weathernext3/forecast_virtual/region_job.py
  src/scripts/validation/manifest_scan.py
  tests/google/weathernext3/forecast_virtual/integration_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Make WeatherNext launch-scope scan replay explicit
  docs/backfill.md
  docs/validation.md
  src/scripts/validation/manifest_scan.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Describe default scan coverage in the WeatherNext holdback runbook
  docs/weathernext2_holdback.md
Due: none

Grant deployment the trigger Role management permissions
  deploy/trigger-binding-deployer.yaml
  docs/cluster_setup.md
  src/reformatters/common/kubernetes_security.py
  tests/common/kubernetes_security_integration_test.py
Due: ty

Grant delegated Job permissions through RBAC for EKS deployers
  deploy/trigger-binding-deployer.yaml
  docs/cluster_setup.md
  src/reformatters/common/kubernetes_security.py
  tests/common/kubernetes_security_integration_test.py
Due: ty

Surface admission verification read errors consistently
  docs/cluster_setup.md
  src/reformatters/common/deploy.py
Due: ty

Trigger ECMWF 46-day updates after GRIB archiving
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Register trigger bindings concurrently without deploy probes
  docs/cluster_setup.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes_security.py
  tests/common/deploy_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
Due: ty

Clarify policy maintenance and simplify admission verification
  docs/cluster_setup.md
  src/reformatters/common/kubernetes_security.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
Due: ty

Fix trigger deploy permissions and parallelize binding setup (#1142)
  deploy/trigger-binding-deployer.yaml
  docs/cluster_setup.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes_security.py
  tests/common/deploy_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
Due: ty

Retry Earthdata downloads with a fresh session after unauthorized responses (#1136)
  docs/ops_card.md
  src/reformatters/nasa/nasa_auth.py
  tests/nasa/nasa_auth_test.py
Due: ty

Trigger ECMWF 46-day updates after GRIB archiving (#1125)
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Reduce ECMWF 46-day update memory requests
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Bound ECMWF 46-day updates to expected published inits
  docs/ops_card.md
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty, generate-manual-workflows

Clarify ECMWF 46-day operational update guidance
  docs/ops_card.md
Due: none

Omit frame locals from telemetry events
  docs/ops_card.md
  src/reformatters/__main__.py
  tests/common/monitoring_test.py
Due: ty, generate-manual-workflows

Use a generic local marker in telemetry coverage
  tests/common/monitoring_test.py
Due: ty

Constrain deployment events and workflow inputs
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  docs/staging.md
Due: none

Pin container build inputs by digest
  .github/dependabot.yml
  deploy/Dockerfile
  docs/cluster_setup.md
Due: none

Remove ECMWF operations note as requested in review
  docs/ops_card.md
Due: none

Exercise telemetry serialization with the active client
  tests/common/monitoring_test.py
Due: ty

Use the 48-hour licence delay for ECMWF update selection
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Keep build pins versioned and updateable
  .github/dependabot.yml
  .github/workflows/code-quality.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-staging.yml
  deploy/Dockerfile
  docs/cluster_setup.md
  pyproject.toml
Due: none

Scrub nested credential fields while retaining telemetry locals
  docs/ops_card.md
  src/reformatters/__main__.py
  src/reformatters/common/monitoring.py
  tests/common/monitoring_test.py
Due: ty, generate-manual-workflows

Preserve named staging versions in branch validation
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  docs/cluster_setup.md
  docs/staging.md
Due: none

Add inline update validation and retry alongside scheduled checks
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis_virtual/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_test.py
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Keep retry submission failures in their own Sentry issue
  src/reformatters/common/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Reserve two minutes for HRRR virtual inline validation
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Poll ECDS for the newest ECMWF 46-day initialization from 03 UTC
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Never start an ECDS publication probe after the deadline
  src/reformatters/ecmwf/archive_gribs/archive.py
  tests/ecmwf/archive_gribs/archive_test.py
Due: ty

Separate update and validation monitoring and simplify retry reporting
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/operational.py
  src/reformatters/common/staging.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/common/dynamical_dataset_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_test.py
  tests/common/staging_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty, generate-manual-workflows

Align production trigger tests with the environment gate
  tests/common/dynamical_dataset_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Keep exit-code failure policy in the shared Job template
  src/reformatters/common/kubernetes.py
  tests/common/kubernetes_test.py
Due: ty

Add inline update validation and retry alongside scheduled checks (#1126)
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/operational.py
  src/reformatters/common/staging.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_test.py
  tests/common/staging_test.py
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Clarify validation monitor timeout after the pod deadline
  docs/virtual_datasets.md
Due: none

Separate ECDS API authentication from result downloads
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Always download ECDS results in parallel ranges and rename the range setting
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Arbitrate ranged-download failures after joining parts and sanitize mid-body errors
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Download ECDS results over parallel Range requests and log stage timings
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
