Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Better Stack log ingestion via logtail (Sentry logging migration, 1/3) (#785)
  pyproject.toml
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/kubernetes.py
  tests/common/betterstack_test.py
  tests/common/test_kubernetes.py
  uv.lock
Due: ty, generate-manual-workflows

Consolidate has_hour_0_values as a DataVar method
  src/reformatters/common/config_models.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gfs/analysis/region_job.py
  src/reformatters/noaa/gfs/forecast/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour/region_job.py
  src/reformatters/noaa/hrrr/forecast_virtual_region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_utils.py
  src/scripts/validation/manifest_scan.py
  tests/ecmwf/test_ecmwf_config_models.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/hrrr/hour_0_values_test.py
  tests/noaa/hrrr/region_job_test.py
  tests/noaa/noaa_grib_index_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Availability scan: measure usability for hour-0-NaN and sentinel vars
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/availability_test.py
  tests/scripts/validation/summary_test.py
Due: ty

Drop caller reference from has_hour_0_values docstring
  src/reformatters/common/config_models.py
Due: ty

Availability scan: measure usability for hour-0-NaN and sentinel-masked variables (#791)
  docs/validation.md
  src/reformatters/common/config_models.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gfs/analysis/region_job.py
  src/reformatters/noaa/gfs/forecast/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour/region_job.py
  src/reformatters/noaa/hrrr/forecast_virtual_region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_utils.py
  src/scripts/validation/availability.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/ecmwf/test_ecmwf_config_models.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/hrrr/hour_0_values_test.py
  tests/noaa/hrrr/region_job_test.py
  tests/noaa/noaa_grib_index_test.py
  tests/scripts/validation/availability_test.py
  tests/scripts/validation/manifest_scan_test.py
  tests/scripts/validation/summary_test.py
Due: ty

Drop the availability-method note from validation reports
  src/scripts/validation/availability.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/availability_test.py
  tests/scripts/validation/summary_test.py
Due: ty

Document the co-ingested availability cross-check
  docs/validation.md
Due: none

Drop the availability-method note from validation reports (#792)
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/availability_test.py
  tests/scripts/validation/summary_test.py
Due: ty

Better Stack error tracking via Sentry-compatible DSN (Sentry migration, 2/3)
  src/reformatters/common/config.py
  src/reformatters/common/kubernetes.py
  tests/common/test_config.py
  tests/common/test_kubernetes.py
Due: ty

HRRR VBDSF: keep f00 analysis-time record
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

Better Stack error tracking via Sentry-compatible DSN (Sentry migration, 2/3) (#786)
  src/reformatters/common/config.py
  src/reformatters/common/kubernetes.py
  tests/common/test_config.py
  tests/common/test_kubernetes.py
Due: ty

Better Stack heartbeats mirroring cron monitoring (Sentry migration, 3/3)
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  docs/ops_card.md
  docs/staging.md
  pyproject.toml
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  tests/common/betterstack_test.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_kubernetes.py
  tests/conftest.py
  tests/deploy_test.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  uv.lock
Due: ty, generate-manual-workflows

HRRR VBDSF: keep f00 analysis-time record (#793)
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

Add VBDSF (direct/beam solar radiation) to NOAA HRRR (#746)
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
  tests/noaa/hrrr/analysis/region_job_test.py
Due: ty

Better Stack heartbeats mirroring cron monitoring (Sentry migration, 3/3) (#787)
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  docs/ops_card.md
  docs/staging.md
  pyproject.toml
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  tests/common/betterstack_test.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_kubernetes.py
  tests/conftest.py
  tests/deploy_test.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  uv.lock
Due: ty, generate-manual-workflows

Retire Sentry, Better Stack only (Sentry migration cleanup, 4/4)
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  docs/ops_card.md
  docs/staging.md
  src/reformatters/__main__.py
  src/reformatters/common/config.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/staging.py
  src/scripts/generate_manual_workflows.py
  tests/common/monitoring_test.py
  tests/common/test_config.py
  tests/common/test_kubernetes.py
Due: ty, generate-manual-workflows

Group Better Stack errors by exception type + code location
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  tests/common/betterstack_test.py
Due: ty, generate-manual-workflows

Retire Sentry, Better Stack only (Sentry migration cleanup, 4/4) (#788)
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  docs/ops_card.md
  docs/staging.md
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/config.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/staging.py
  src/scripts/generate_manual_workflows.py
  tests/common/betterstack_test.py
  tests/common/monitoring_test.py
  tests/common/test_config.py
  tests/common/test_kubernetes.py
Due: ty, generate-manual-workflows

NASA IMERG: per-run V07B→V07C version boundary (fix Late 2026-03-03 gap)
  src/reformatters/nasa/imerg/region_job.py
  tests/nasa/imerg/region_job_test.py
Due: ty

NASA IMERG: per-run V07B→V07C version boundary (fix Late 2026-03-03 gap) (#795)
  src/reformatters/nasa/imerg/region_job.py
  tests/nasa/imerg/region_job_test.py
Due: ty

Validation plots: readable year ticks + robust precip color scale
  src/scripts/validation/availability.py
  src/scripts/validation/compare_spatial.py
  tests/scripts/validation/availability_test.py
Due: ty

NASA IMERG: enable operational update + validate cron jobs
  src/reformatters/nasa/imerg/dynamical_dataset.py
Due: ty, generate-manual-workflows

Validation plots: readable year ticks + robust precip color scale (#796)
  src/scripts/validation/availability.py
  src/scripts/validation/compare_spatial.py
  tests/scripts/validation/availability_test.py
Due: ty

NASA IMERG: enable operational update + validate cron jobs (#797)
  src/reformatters/nasa/imerg/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix two error-tracking noise sources: GEFS NOMADS redirects, IMERG publish latency
  src/reformatters/common/materialized_region_job.py
  src/reformatters/nasa/imerg/analysis_early/region_job.py
  src/reformatters/nasa/imerg/analysis_late/region_job.py
  src/reformatters/nasa/imerg/region_job.py
  tests/common/region_job_test.py
  tests/nasa/imerg/dynamical_dataset_test.py
  tests/nasa/imerg/region_job_test.py
Due: ty

Quiet-log recent "not published yet" gaps for requests-based downloads
  src/reformatters/common/materialized_region_job.py
  tests/common/region_job_test.py
Due: ty

Move http_status_code helper into download.py as a public util
  src/reformatters/common/download.py
  src/reformatters/common/materialized_region_job.py
  tests/common/test_download.py
Due: ty

Move http_status_code below the http download utils in download.py
  src/reformatters/common/download.py
Due: ty

Quiet-log recent "not published yet" gaps for requests-based downloads (#800)
  src/reformatters/common/download.py
  src/reformatters/common/materialized_region_job.py
  tests/common/region_job_test.py
  tests/common/test_download.py
Due: ty

Revert "Retire Sentry, Better Stack only (Sentry migration cleanup, 4/4) (#788)"
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  docs/ops_card.md
  docs/staging.md
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/config.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/staging.py
  src/scripts/generate_manual_workflows.py
  tests/common/betterstack_test.py
  tests/common/monitoring_test.py
  tests/common/test_config.py
  tests/common/test_kubernetes.py
Due: ty, generate-manual-workflows

Revert "Retire Sentry, Better Stack only (Sentry migration cleanup, 4/4) (#788)" (#801)
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  docs/ops_card.md
  docs/staging.md
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/config.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/staging.py
  src/scripts/generate_manual_workflows.py
  tests/common/betterstack_test.py
  tests/common/monitoring_test.py
  tests/common/test_config.py
  tests/common/test_kubernetes.py
Due: ty, generate-manual-workflows

Revert "Better Stack error tracking via Sentry-compatible DSN (Sentry migration, 2/3) (#786)"
  src/reformatters/common/config.py
  src/reformatters/common/kubernetes.py
  tests/common/test_config.py
  tests/common/test_kubernetes.py
Due: ty

Revert "Better Stack log ingestion via logtail (Sentry logging migration, 1/3) (#785)"
  pyproject.toml
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/kubernetes.py
  tests/common/betterstack_test.py
  tests/common/test_kubernetes.py
  uv.lock
Due: ty, generate-manual-workflows

Revert "Better Stack error tracking via Sentry-compatible DSN (Sentry migration, 2/3) (#786)" (#802)
  src/reformatters/common/config.py
  src/reformatters/common/kubernetes.py
  tests/common/test_config.py
  tests/common/test_kubernetes.py
Due: ty

Revert "Better Stack log ingestion via logtail (Sentry logging migration, 1/3) (#785)" (#803)
  pyproject.toml
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/kubernetes.py
  tests/common/betterstack_test.py
  tests/common/test_kubernetes.py
  uv.lock
Due: ty, generate-manual-workflows

validation: categorical red/yellow/green availability colormap (#780)
  src/scripts/validation/availability.py
Due: ty

Treat IMERG connection reset as missing recent granule
  src/reformatters/nasa/imerg/region_job.py
  tests/nasa/imerg/region_job_test.py
Due: ty

Treat IMERG connection reset as missing recent granule (#804)
  src/reformatters/nasa/imerg/region_job.py
  tests/nasa/imerg/region_job_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
