Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Remove GEFS schedule changes (moved to claude/adjust-gefs-schedules)
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Use httpx for NOMADS downloads to fix Akamai bare redirect errors
  src/reformatters/common/download.py
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/test_download.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Silence httpx INFO logs and remove stray breakpoint
  src/reformatters/common/logging.py
Due: ty

Add httpx dep
  pyproject.toml
  src/reformatters/common/download.py
  src/reformatters/noaa/gefs/utils.py
  uv.lock
Due: ty

Use httpx for NOMADS downloads to fix Akamai bare redirect errors (#452)
  pyproject.toml
  src/reformatters/common/download.py
  src/reformatters/common/logging.py
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/test_download.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
  uv.lock
Due: ty

Add rate limiter and retry 302s for NOMADS downloads
  src/reformatters/common/download.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/test_download.py
Due: ty

Add rate limiter and retry 302s for NOMADS downloads (#453)
  src/reformatters/common/download.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/test_download.py
Due: ty

Quiet recent 404, 403 when source files aren't available on NOMADS yet
  src/reformatters/common/region_job.py
  tests/common/region_job_test.py
Due: ty

Allow request bursting, factor out nomads specific stuff from download.py
  src/reformatters/common/download.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_utils.py
  tests/common/test_download.py
Due: ty

try higher rate limit 10/s
  src/reformatters/noaa/noaa_utils.py
Due: ty

NOMADS: Allow request bursting, factor out nomads specific stuff from download.py and quiet recent 40X errors (#454)
  src/reformatters/common/download.py
  src/reformatters/common/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_utils.py
  tests/common/region_job_test.py
  tests/common/test_download.py
Due: ty

Back to 150/min NOMADS rate limit with no burst
  src/reformatters/common/download.py
  src/reformatters/noaa/noaa_utils.py
Due: ty

Try S3 before NOMADS for GFS and HRRR downloads
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Fix remaining _get_download_source references in dynamical dataset tests
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
Due: ty

Align NOAA cron job schedules with NOMADS data availability (#441)
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
Due: ty, generate-manual-workflows

Try s3 then nomads (#455)
  src/reformatters/common/download.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_utils.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

NOMADS 110/req minute
  src/reformatters/noaa/noaa_utils.py
Due: ty

NOMADS 110/req minute (#456)
  src/reformatters/noaa/noaa_utils.py
Due: ty

Add CITATION.cff and .zenodo.json for Zenodo DOI integration
  .zenodo.json
  CITATION.cff
Due: none

Add Zenodo DOI badge to README
  README.md
Due: none

Remove unused claude github workflow
  .github/workflows/claude.yml
Due: none

Remove unused claude github workflow (#458)
  .github/workflows/claude.yml
Due: none

Update CITATION.cff
  CITATION.cff
Due: none

Add CITATION.cff and .zenodo.json (#457)
  .zenodo.json
  CITATION.cff
  README.md
Due: none

Don't fall back to NOMADS for old init times
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Don't fall back to NOMADS for old init times (#459)
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

add logging instructions to AGENTS.md
  AGENTS.md
Due: none

Handle missing and duplicate vars in GRIB index parsing
  src/reformatters/noaa/noaa_grib_index.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/noaa_grib_index_test.py
Due: ty

Extend HRRR analysis dataset back to 2014-10-01 with PRMSL/MSLMA variable name handling
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/time/c/0
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/time/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/models.py
  src/reformatters/noaa/noaa_grib_index.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/hrrr/analysis/template_config_test.py
Due: ty

Add explicit allow list for duplicate GRIB index entries
  src/reformatters/noaa/noaa_grib_index.py
Due: ty

Address PR review: refactor GRIB index parsing, bump HRRR analysis to v0.2.0
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/noaa_grib_index.py
  tests/noaa/noaa_grib_index_test.py
Due: ty

Add integration guide sections to prevent common review issues
  docs/dataset_integration_guide.md
Due: none

Mark all HRRR precipitation related variables as missing hour 0 values
  src/reformatters/common/config_models.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/noaa_utils.py
Due: ty

Mark all HRRR precipitation related variables as missing hour 0 values (#466)
  src/reformatters/common/config_models.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/noaa_utils.py
Due: ty

Extend HRRR analysis dataset back to 2014-10-01 with PRMSL/MSLMA variable name handling (#431)
  AGENTS.md
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/time/c/0
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/time/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/models.py
  src/reformatters/noaa/noaa_grib_index.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/hrrr/analysis/template_config_test.py
  tests/noaa/noaa_grib_index_test.py
Due: ty

Reduce NOMADS rate limiter from 110 to 100 requests/minute
  src/reformatters/noaa/noaa_utils.py
Due: ty

Reduce NOMADS rate limiter from 110 to 100 requests/minute (#467)
  src/reformatters/noaa/noaa_utils.py
Due: ty

Tighten GEFS schedule based on NOMADS file availability
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

remove test fixing gefs forecast version
  tests/noaa/gefs/forecast_35_day/template_config_test.py
Due: ty
