Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

validation: narrow availability heatmap to 2/3 width, tick per year start
  src/scripts/validation/availability.py
Due: ty

validation: tidy summary headers, one-line decode-health, more scan retries
  src/reformatters/common/validation.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/decode_scan_test.py
Due: ty

validation: lighter-red availability heatmap, drop title, caption + trim method note
  src/scripts/validation/availability.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
Due: ty

Authorize virtual chunk access in icechunk_utils (#727)
  src/scripts/icechunk_utils.py
  src/scripts/validation/utils.py
Due: ty

validation: heatmap red #fa4848, width matches per-var plots, "unavailable" caption
  src/scripts/validation/availability.py
  src/scripts/validation/summary.py
Due: ty

validation: cache-bust image URLs in the rendered report
  src/scripts/validation/render.py
  tests/scripts/validation/render_test.py
Due: ty

validation: keep heatmap labels legible at the per-variable-plot width
  src/scripts/validation/availability.py
Due: ty

HRRR-spatial ops latency: parallel commit flush + smaller manifest windows
  deploy/Dockerfile
  docs/virtual_datasets.md
  pyproject.toml
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  uv.lock
Due: ty, generate-manual-workflows

validation: narrow the availability heatmap panel to 2/3 width, labels unchanged
  src/scripts/validation/availability.py
Due: ty

add doc card
  docs/ops_card.md
Due: none

Moderate HRRR-spatial splits to 600/90/80 after manifest-count tradeoff review
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Prototype opt-in deaccumulation repair modes for corrupt precip fields
  src/reformatters/common/deaccumulation.py
  tests/common/test_deaccumulation.py
Due: ty

Refine comments on variable attributes handling
  AGENTS.md
Due: none

validation: report/tooling polish + docs guidance (#728)
  AGENTS.md
  docs/validation.md
  src/reformatters/common/validation.py
  src/scripts/validation/availability.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/render.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/decode_scan_test.py
  tests/scripts/validation/render_test.py
Due: ty

DWD archive: raise rclone list timeout to 200s
  src/reformatters/dwd/archive_gribs/list_files.py
Due: ty

DWD archive: raise rclone list timeout to 200s (#730)
  src/reformatters/dwd/archive_gribs/list_files.py
Due: ty

Add ECCC HRDPS GRIB archiver
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/__main__.py
  src/reformatters/common/config_models.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/initialize_new_integration.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/rclone.py
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
  src/reformatters/eccc/README.md
  src/reformatters/eccc/__init__.py
  src/reformatters/eccc/hrdps/__init__.py
  src/reformatters/eccc/hrdps/archive_gribs/__init__.py
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
  src/reformatters/eccc/hrdps/forecast/__init__.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/eccc/hrdps/forecast/region_job.py
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/scripts/icechunk_utils.py
  src/scripts/validation/utils.py
  tests/common/common_template_config_subclasses_test.py
  tests/common/datasets_cf_compliance_test.py
  tests/common/monitoring_test.py
  tests/common/rclone_test.py
  tests/dataset_helpers.py
  tests/datasets_test.py
  tests/deploy_test.py
  tests/dwd/archive_gribs/rclone_copyurl_test.py
  tests/eccc/__init__.py
  tests/eccc/hrdps/__init__.py
  tests/eccc/hrdps/archive_gribs/__init__.py
  tests/eccc/hrdps/archive_gribs/copy_files_from_eccc_test.py
  tests/eccc/hrdps/forecast/__init__.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  tests/eccc/hrdps/forecast/region_job_test.py
  tests/eccc/hrdps/forecast/template_config_test.py
Due: ty, generate-manual-workflows

Archive live ECCC HRDPS gribs to Source Coop (#729)
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/__main__.py
  src/reformatters/common/config_models.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/initialize_new_integration.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/rclone.py
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
  src/reformatters/eccc/README.md
  src/reformatters/eccc/__init__.py
  src/reformatters/eccc/hrdps/__init__.py
  src/reformatters/eccc/hrdps/archive_gribs/__init__.py
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
  src/reformatters/eccc/hrdps/forecast/__init__.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/eccc/hrdps/forecast/region_job.py
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/scripts/icechunk_utils.py
  src/scripts/validation/utils.py
  tests/common/common_template_config_subclasses_test.py
  tests/common/datasets_cf_compliance_test.py
  tests/common/monitoring_test.py
  tests/common/rclone_test.py
  tests/dataset_helpers.py
  tests/datasets_test.py
  tests/deploy_test.py
  tests/dwd/archive_gribs/rclone_copyurl_test.py
  tests/eccc/__init__.py
  tests/eccc/hrdps/__init__.py
  tests/eccc/hrdps/archive_gribs/__init__.py
  tests/eccc/hrdps/archive_gribs/copy_files_from_eccc_test.py
  tests/eccc/hrdps/forecast/__init__.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  tests/eccc/hrdps/forecast/region_job_test.py
  tests/eccc/hrdps/forecast/template_config_test.py
Due: ty, generate-manual-workflows

Document dataset id/name convention for materialized vs virtual
  AGENTS.md
  docs/dataset_integration_guide.md
  src/reformatters/example_virtual/template_config.py
Due: ty

Enable ECCC HRDPS archive cron
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Enable ECCC HRDPS archive cron (#732)
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Mask HRRR pressure-level dew point missing sentinel to NaN
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_level/dew_point_temperature/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
Due: ty

Add CF attrs to HRRR virtual vertical coordinates
  src/reformatters/common/config_models.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/model_level/model_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_level/pressure_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
Due: ty

Add cross-dataset CF checks for vertical-level coordinates
  tests/common/datasets_cf_compliance_test.py
Due: ty

docs(validation): make remote-session keep-alive guidance concrete
  docs/validation.md
Due: none

Add model_level positive=up; enforce per-dimension CF axis
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/model_level/model_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
Due: ty

Comment CF rationale for init_time/lead_time having no axis
  tests/common/datasets_cf_compliance_test.py
Due: ty

Remove two comments per PR review
  src/reformatters/common/config_models.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

docs(validation): make remote-session keep-alive guidance concrete (#734)
  docs/validation.md
Due: none

Add CF attributes to HRRR virtual vertical coordinates (#733)
  src/reformatters/common/config_models.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/model_level/model_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_level/pressure_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
Due: ty

Mask HRRR pressure-level dew point missing sentinel to NaN (#735)
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_level/dew_point_temperature/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
Due: ty

Add --point pin + middle-50% default to validation point selection
  docs/validation.md
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/utils_test.py
Due: ty

docs(validation): generalize --point guidance for signal selection
  docs/validation.md
Due: none

Add --point pin + middle-50% default to validation point selection (#736)
  docs/validation.md
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/utils_test.py
Due: ty

Add vegetation_type flag metadata; show flags in validation report
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/vegetation_type_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
Due: ty

Retry only failed keys in _exists_many virtual chunk probe
  src/reformatters/common/virtual_region_job.py
  src/scripts/validation/manifest_scan.py
  tests/common/virtual_region_job_test.py
Due: ty

Add vegetation_type flag metadata; show flags in validation report (#737)
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/vegetation_type_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
Due: ty

Address review: trim comment/docstring, fast first retry
  src/reformatters/common/virtual_region_job.py
  src/scripts/validation/manifest_scan.py
Due: ty
