Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Add virtual-vs-materialized analysis to CHIRPS exploration
  docs/plans/chirps_source_exploration.md
Due: none

Add dataset development coordinator guide
  AGENTS.md
  README.md
  docs/add_new_variable.md
  docs/dataset_development_guide.md
  docs/implementation_guide.md
Due: none

GEFS: skip 80m vars in reforecast era via available_from
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/analysis/region_job_test.py
Due: ty

Refine coordinator guide per review
  docs/dataset_development_guide.md
Due: none

Consolidate STAC publish into the development guide
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_development_guide.md
Due: none

Retitle implementation guide header
  docs/implementation_guide.md
Due: none

Extract backfill into its own doc
  AGENTS.md
  docs/add_new_variable.md
  docs/backfill.md
  docs/dataset_development_guide.md
  docs/implementation_guide.md
Due: none

Tighten doc entry points and draft-vs-publish semantics
  AGENTS.md
  docs/dataset_development_guide.md
  docs/validation.md
Due: none

Publish the report at approval, deploy via the STAC change
  docs/dataset_development_guide.md
Due: none

STAC update lands via a PR to main
  docs/dataset_development_guide.md
Due: none

Allow batching multiple datasets into one STAC PR
  docs/dataset_development_guide.md
Due: none

Add --filter-contains to Manual: Backfill; refresh parallelism guidance
  .github/workflows/manual-backfill.yml
  docs/backfill.md
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Require seconds-precision ISO for filter timestamps
  .github/workflows/manual-backfill.yml
  docs/backfill.md
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Document filter endpoint inclusivity
  .github/workflows/manual-backfill.yml
  docs/backfill.md
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Align on variable set at Checkpoint A; drop Sentry-secret prereq
  docs/backfill.md
  docs/dataset_development_guide.md
Due: none

Scaffold cron jobs suspended until backfill completes
  docs/dataset_development_guide.md
  docs/implementation_guide.md
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Simplify the suspend scaffold comment
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Remove the Backfills section from AGENTS.md
  AGENTS.md
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Auto-trigger dynamical.org Pages deploy on validation report publish
  docs/validation.md
  src/scripts/validation/upload.py
  tests/scripts/validation/upload_test.py
Due: ty

Address code-review findings
  .github/workflows/manual-backfill.yml
  docs/backfill.md
  docs/dataset_development_guide.md
  src/scripts/generate_manual_workflows.py
  src/scripts/validation/availability.py
Due: ty, generate-manual-workflows

Warn that overwrite-metadata is for attribute changes, not encoding
  docs/backfill.md
Due: none

Add dataset development coordinator guide (#775)
  .github/workflows/manual-backfill.yml
  AGENTS.md
  README.md
  docs/add_new_variable.md
  docs/backfill.md
  docs/dataset_development_guide.md
  docs/implementation_guide.md
  docs/validation.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/scripts/generate_manual_workflows.py
  src/scripts/validation/availability.py
Due: ty, generate-manual-workflows

Honor GRIB bitmap in HRRR reads; document dew point sentinel
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Add VBDSF direct/beam solar radiation to NOAA HRRR
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

HRRR VBDSF: skip garbage f00 analysis-time record
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

test: mark VBDSF unavailable in pre-HRRRv3 archive
  tests/noaa/hrrr/analysis/region_job_test.py
Due: ty

Add 10 surface/near-surface variables to NOAA HRRR
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/convective_available_potential_energy_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/friction_velocity_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/ground_heat_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/land_sea_mask_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/latent_heat_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/planetary_boundary_layer_height_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/specific_humidity_2m/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/surface_roughness_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/upward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/visible_diffuse_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/convective_available_potential_energy_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/friction_velocity_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/ground_heat_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/land_sea_mask_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/latent_heat_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/planetary_boundary_layer_height_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/specific_humidity_2m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/surface_roughness_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/upward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/visible_diffuse_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
  tests/noaa/hrrr/analysis/region_job_test.py
Due: ty

GEFS: address review comments on 80m available_from
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/analysis/region_job_test.py
Due: ty

GEFS: skip 80m vars in reforecast era (fix #749 backfill KeyError) (#776)
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/analysis/region_job_test.py
Due: ty

Validation tooling: --lead-time fix, remote-session docs, and optional Pages auto-deploy (#773)
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/plots.py
  src/scripts/validation/upload.py
  tests/scripts/validation/upload_test.py
Due: ty

docs: preserve approved report summary when re-validating for a new variable
  docs/dataset_development_guide.md
  docs/validation.md
Due: none

docs: preserve approved report summary when re-validating for a new variable (#779)
  docs/dataset_development_guide.md
  docs/validation.md
Due: none

validation: categorical red/yellow/green availability colormap
  src/scripts/validation/availability.py
Due: ty

Document cloud ceiling NaN-for-clear-sky in variable comment
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

Add data license check to source data exploration guide
  docs/source_data_exploration_guide.md
Due: none

Add data license check to source data exploration guide (#782)
  docs/source_data_exploration_guide.md
Due: none

Extract shared HRRR virtual base (move-only refactor, no new datasets) (#743)
  docs/virtual_datasets.md
  pyproject.toml
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_virtual_template_config.py
  src/reformatters/noaa/hrrr/template_config.py
  tests/common/dynamical_dataset_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Better Stack log ingestion via logtail (Sentry logging migration, 1/3)
  pyproject.toml
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/kubernetes.py
  tests/common/betterstack_test.py
  tests/common/test_kubernetes.py
  uv.lock
Due: ty, generate-manual-workflows
