Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Correct GFS probe level justification
  src/reformatters/noaa/gfs/virtual_region_job.py
Due: ty

Generalize GFS probe level comment
  src/reformatters/noaa/gfs/virtual_region_job.py
Due: ty

Raise the GEFS precipitation deaccumulation clamp allowance (#1030)
  src/reformatters/common/deaccumulation.py
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/analysis/region_job_test.py
Due: ty

Document GEFS soil ice and helicity conventions (#1025)
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Fix GFS pgrb2b ingestion probe (#1027)
  src/reformatters/noaa/gfs/virtual_region_job.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
  tests/noaa/gfs/forecast_virtual/region_job_test.py
Due: ty

Address virtual source rejection reviews
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/common/virtual_region_job_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/region_job_test.py
  tests/noaa/grib_index_fixtures.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Distinguish rejected virtual sources from internal failures
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/common/virtual_region_job_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/region_job_test.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Report accepted virtual source anomalies
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Detect consistently truncated NOAA sources
  docs/virtual_datasets.md
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/noaa/gfs/virtual_region_job_test.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Unsuspend the GFS and GEFS virtual dataset cron jobs
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Document virtual backfill sizing
  .github/workflows/manual-backfill.yml
  docs/backfill.md
Due: none

Drop the unattributed pod startup floor
  docs/backfill.md
Due: none

Unsuspend the GFS and GEFS virtual dataset cron jobs (#1033)
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Report systemic virtual source rejections after finalize
  docs/backfill.md
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/common/kubernetes_test.py
  tests/common/virtual_region_job_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty, generate-manual-workflows

Address consistent truncation review
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/virtual_region_job.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/common/virtual_region_job_test.py
  tests/noaa/gfs/virtual_region_job_test.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Bound worker result coordination by pod deadline
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/storage.py
  tests/common/failure_injection_test.py
  tests/common/kubernetes_test.py
  tests/common/parallel_coordination_test.py
  tests/common/parallel_writes_test.py
  tests/common/storage_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Bound worker setup coordination by pod deadline
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  tests/common/parallel_coordination_test.py
Due: ty, generate-manual-workflows

Pin zero-ref anomaly observation
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Resolve virtual rejection composition reviews
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  tests/common/virtual_region_job_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Log missing parallel worker indexes
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/storage.py
  tests/common/parallel_coordination_test.py
  tests/common/storage_test.py
Due: ty

Fix worker wait comment
  src/reformatters/common/parallel_coordination.py
Due: ty

Read AIFS indexes without pandas coercion
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty

Document virtual backfill sizing (#1023)
  .github/workflows/manual-backfill.yml
  docs/backfill.md
Due: none

Document the GEFS virtual visibility clip
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/visibility_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/visibility_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Document the GEFS virtual visibility clip (#1039)
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/visibility_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/visibility_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Fit the GEFS 16 day update pod on a 4 cpu node
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Carry the analysis review onto the 35 day virtual
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/haines_index_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/height_above_mean_sea_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/large_scale_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/water_runoff_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/virtual_template_config_test.py
Due: ty, generate-manual-workflows

Separate the 35 day name's qualifiers with commas
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/height_above_mean_sea_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/template_config_test.py
Due: ty

Name both publish bursts and fit the GEFS 35 day update pod on a node
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Trim GEFS 35-day comments
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/template_config.py
Due: ty, generate-manual-workflows

Halve the GEFS 35 day virtual's manifest count
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Regenerate the 35 day template for the ozone and gravity wave metadata
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/eastward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/northward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/total_ozone_atmosphere/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
Due: none

Stub the GEFS 35 day virtual file_refs tests' source file reads
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/region_job_test.py
Due: ty

Document the GEFS 0.25 degree virtual helicity mask threshold
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Document the GEFS 0.25 degree virtual helicity mask threshold (#1041)
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
