Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Use the Dims alias for the template config dims declaration
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
Due: ty

Use CF canonical units for accumulated radiation
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/downward_long_wave_radiation_run_total_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/downward_short_wave_radiation_run_total_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
Due: ty

Rate limit and retry the GEFS NOMADS fallback like GFS and HRRR
  src/reformatters/noaa/gefs/utils.py
  tests/noaa/gefs/analysis/region_job_test.py
Due: ty

Share the AIFS Single coordinates between the two template configs
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/template_config.py
  tests/ecmwf/aifs_single/forecast/template_config_test.py
Due: ty

Correct the materialized AIFS valid_time and forecast length statistics
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/template_config.py
Due: ty

DWD ICON-EU: widen the aswdir_s deaccumulation thresholds
  src/reformatters/common/deaccumulation.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  tests/common/test_deaccumulation.py
Due: ty

Remove three unneeded global ruff ignores
  pyproject.toml
  src/reformatters/common/pydantic.py
Due: ty

Remove three unneeded global ruff ignores (#864)
  pyproject.toml
  src/reformatters/common/pydantic.py
Due: ty

Rate limit and retry the GEFS NOMADS fallback like GFS and HRRR (#862)
  src/reformatters/noaa/gefs/utils.py
  tests/noaa/gefs/analysis/region_job_test.py
Due: ty

DWD ICON-EU: widen the aswdir_s deaccumulation thresholds (#865)
  src/reformatters/common/deaccumulation.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  tests/common/test_deaccumulation.py
Due: ty

Drop unreachable PermissionDeniedError handler from GEFS fallback
  src/reformatters/noaa/gefs/utils.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty

Drop unreachable PermissionDeniedError handler from GEFS fallback (#863)
  src/reformatters/noaa/gefs/utils.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty

Stabilize the AIFS Single virtual integration test against source 503s
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
Due: ty

Move AIFS Single virtual message routing coverage off the network
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
  tests/ecmwf/fixtures/aifs_single_20250301_00z_0h.index
  tests/ecmwf/fixtures/aifs_single_20250301_00z_6h.index
Due: ty

Enable ecmwf-aifs-single-forecast-virtual operational updates
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Let --init-time / --time pin the validation timeseries comparison period
  docs/validation.md
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
Due: ty

Read AIFS Single's transitional experimental/ source path
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty

AIFS Single virtual: read the transitional experimental/ source path
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty

Enable ecmwf-aifs-single-forecast-virtual operational updates (#867)
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

AIFS Single virtual: read the transitional experimental/ source path (#869)
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty

Scaffold google-weathernext2-forecast-virtual dataset
  src/reformatters/google/__init__.py
  src/reformatters/google/weathernext2/__init__.py
  src/reformatters/google/weathernext2/forecast_virtual/__init__.py
  src/reformatters/google/weathernext2/forecast_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/template_config.py
  tests/google/__init__.py
  tests/google/weathernext2/__init__.py
  tests/google/weathernext2/forecast_virtual/__init__.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
  tests/google/weathernext2/forecast_virtual/region_job_test.py
  tests/google/weathernext2/forecast_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Code review fixes for google-weathernext2-forecast-virtual
  src/reformatters/common/config_models.py
  src/reformatters/common/download.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/template_config.py
  src/reformatters/google/weathernext2/forecast_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/google/weathernext2/forecast_virtual/templates/latest.zarr/zarr.json
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/utils.py
  tests/common/common_template_config_subclasses_test.py
  tests/common/dynamical_dataset_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/google/weathernext2/forecast_virtual/region_job_test.py
  tests/google/weathernext2/forecast_virtual/template_config_test.py
  tests/scripts/validation/compare_spatial_test.py
  tests/scripts/validation/compare_timeseries_test.py
  tests/scripts/validation/grids.py
  tests/scripts/validation/utils_test.py
Due: ty, generate-manual-workflows

Fingerprint validate_dataset's Sentry reports by (dataset_id, check)
  src/reformatters/__main__.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
  tests/common/validation_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

AIFS Single: read the transitional experimental/ source path
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/template_config.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
  tests/ecmwf/aifs_single/forecast/template_config_test.py
Due: ty

Route outside comments to Slack #feedback
  .github/workflows/outside-comment-notify.yml
Due: none

Route outside comments to Slack #feedback (#874)
  .github/workflows/outside-comment-notify.yml
Due: none

Also notify #feedback on outside PRs
  .github/workflows/outside-comment-notify.yml
Due: none

Also notify #feedback on outside PRs (#875)
  .github/workflows/outside-comment-notify.yml
Due: none

Stop virtual update polling before a tick overruns the deadline
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Report why an operational update stopped, and stop at its own fire
  docs/ops_card.md
  docs/virtual_datasets.md
  src/reformatters/__main__.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/virtual_region_job.py
  tests/common/monitoring_test.py
  tests/common/test_kubernetes.py
  tests/common/virtual_region_job_test.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Build the update window from the fire rather than trimming it after
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Hand the update's scheduled fire to operational_update_jobs
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Trim the prose this branch added
  docs/ops_card.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/monitoring_test.py
Due: ty, generate-manual-workflows

Simplify the sigterm handler and the fire time opt in
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/monitoring_test.py
Due: ty, generate-manual-workflows

Trim the sigterm handler docstring and flush comment
  src/reformatters/common/monitoring.py
Due: ty
