Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Read HRRR analysis 2 m moisture from the previous init's hour 1 (#1071)
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/hrrr_config_models.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
  tests/noaa/hrrr/hour_0_values_test.py
Due: ty

Name the parcel for the two NOAA CAPE variables that need it
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/virtual_template_config.py
Due: ty

Archive GRIB crons: retry a failed copy with only the missing files, and keep their exceptions reaching Sentry (#1075)
  src/reformatters/__main__.py
  src/reformatters/common/rclone.py
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/copy_icosahedral_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
  tests/common/rclone_test.py
  tests/dwd/archive_gribs/copy_files_from_dwd_test.py
  tests/dwd/archive_gribs/copy_icosahedral_files_from_dwd_test.py
  tests/dwd/archive_gribs/rclone_copyurl_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Name the parcel for the two NOAA CAPE variables that need it (#1072)
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/convective_available_potential_energy_180_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/convective_available_potential_energy_255_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/virtual_template_config.py
Due: ty

Restore the icing level restriction to both siblings
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/icing_probability/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/icing_severity/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/icing_probability/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/icing_severity/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Bump icechunk dependency to ~=2.2 (locks to 2.2.0)
  pyproject.toml
  uv.lock
Due: none

Cancel superseded Code Quality runs so the newest main commit always deploys last
  .github/workflows/code-quality.yml
  .github/workflows/deploy-operational-updates.yml
Due: none

Add exclude-newer-package exception to lock icechunk 2.2.2
  pyproject.toml
  uv.lock
Due: none

Use an explicit UTC timestamp for the icechunk exclude-newer exception
  pyproject.toml
  uv.lock
Due: none

Tighten the concurrency comments
  .github/workflows/code-quality.yml
  .github/workflows/deploy-operational-updates.yml
Due: none

Bump icechunk to 2.2.2 (with exclude-newer-package exception) (#1076)
  pyproject.toml
  uv.lock
Due: none

Cancel superseded Code Quality runs so the newest main commit always deploys last (#1077)
  .github/workflows/code-quality.yml
  .github/workflows/deploy-operational-updates.yml
Due: none

Add remove-chunks, a dry-run-by-default dataset command that deletes chunks or arrays from every store
  docs/backfill.md
  docs/ops_card.md
  src/reformatters/common/chunk_removal.py
  src/reformatters/common/dynamical_dataset.py
  src/scripts/remove_refs.py
  tests/common/chunk_removal_test.py
  tests/scripts/remove_refs_test.py
Due: ty, generate-manual-workflows

Restore the chunk removal tool with an --at selector for explicit append-dim positions
  docs/backfill.md
  src/scripts/remove_refs.py
  tests/scripts/remove_refs_test.py
Due: ty

remove-chunks: commit per array on zarr's event loop, re-consolidate nested replica members
  docs/backfill.md
  src/reformatters/common/chunk_removal.py
  src/reformatters/common/dynamical_dataset.py
  tests/common/chunk_removal_test.py
Due: ty, generate-manual-workflows

Match GEFS a/b snow and ice comments to the s-file wording
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/ice_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/ice_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Give ice thickness its CF standard name and trim the sea-ice clause
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/ice_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/ice_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/average_snow_area_fraction_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/ground_heat_flux_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/ice_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/average_snow_area_fraction_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/ground_heat_flux_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/ice_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/ground_heat_flux_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/ice_thickness_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/soil_temperature_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/soil_temperature_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/soil_temperature_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/soil_temperature_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/ground_heat_flux_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/ice_thickness_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/soil_temperature_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/soil_temperature_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/soil_temperature_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/soil_temperature_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Drop the lake-ice sentence from GFS ice cover
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/ice_cover_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/ice_cover_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Start operational updates for the GEFS 35 day 0.5 degree virtual dataset
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Start operational updates for the GEFS 35 day 0.5 degree virtual dataset (#1080)
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Right-size the GFS virtual cron job memory requests
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Right-size the GEFS 0.25 degree virtual cron job memory requests
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Use the house 3.7G virtual request rather than 3.5G
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Describe GFS virtual potential evaporation and soil moisture placeholders
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Say what potential evaporation and icy soil moisture values mean
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Right-size the GFS virtual cron job memory requests (#1082)
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Set the soil moisture ice threshold at 0.5
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Right-size the GEFS 0.25 degree virtual cron job memory requests (#1083)
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Add memory to the virtual backfill sizing guidance
  docs/backfill.md
Due: none

Add memory to the virtual backfill sizing guidance (#1081)
  docs/backfill.md
Due: none

Describe GFS virtual potential evaporation and soil moisture placeholders (#1085)
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Say what potential evaporation and icy soil moisture values mean (#1084)
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Sample four pressure levels in the GEFS 0.5 degree decode check so icing is reached
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Sample four pressure levels in the GEFS 0.5 degree decode check so icing is reached (#1086)
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Start operational updates for the GEFS 16 day 0.5 degree virtual dataset
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

List the GEFS 0.5 degree source files published without their 5WAVH record
  docs/virtual_datasets.md
  src/reformatters/noaa/gefs/virtual_region_job.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/region_job_test.py
Due: ty

List the GEFS 0.5 degree source files published without their 5WAVH record (#1088)
  docs/virtual_datasets.md
  src/reformatters/noaa/gefs/virtual_region_job.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/region_job_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
