Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Download ECDS results over parallel Range requests and log archive stage timings (#1150)
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Separate ECDS API authentication from result downloads (#1146)
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Constrain deployment inputs and pin build tools (#1145)
  .github/dependabot.yml
  .github/workflows/code-quality.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  deploy/Dockerfile
  docs/cluster_setup.md
  docs/staging.md
  pyproject.toml
Due: none

Update ops_card.md
  docs/ops_card.md
Due: none

Scrub nested credential fields from telemetry (#1144)
  docs/ops_card.md
  src/reformatters/__main__.py
  src/reformatters/common/monitoring.py
  tests/common/monitoring_test.py
Due: ty, generate-manual-workflows

Record the measured ECDS publication time of the 2026-10-01 initialization
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
Due: ty

Preserve forecast metadata and tighten RRFS configuration
  docs/noaa_rrfs.md
  docs/virtual_datasets.md
  src/reformatters/noaa/models.py
  src/reformatters/noaa/noaa_grib_index.py
  src/reformatters/noaa/projected_forecast_template_config.py
  src/reformatters/noaa/refs/forecast_virtual/dynamical_dataset.py
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/lead_time/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/pressure_level/lead_time/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/wildfire_potential_surface/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/depth_below_ground/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/height_above_mean_sea_level/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/pressure_level/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/wildfire_potential_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/depth_below_ground/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/height_above_mean_sea_level/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/pressure_level/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/wildfire_potential_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/template_config.py
  src/reformatters/noaa/rrfs/variables.py
  tests/noaa/noaa_grib_index_test.py
  tests/noaa/rrfs/decoder_test.py
  tests/noaa/rrfs/template_config_test.py
Due: ty, generate-manual-workflows

Clarify GRIB window label units
  src/reformatters/noaa/noaa_grib_index.py
Due: ty

Defer RRFS fields requiring complex-packing missing-value support
  src/reformatters/noaa/refs/forecast_virtual/dynamical_dataset.py
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/aerosol_optical_thickness_atmosphere/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/wildfire_potential_surface/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/maximum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/minimum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/potential_evaporation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/specific_humidity_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/maximum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/minimum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/potential_evaporation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/specific_humidity_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/variables.py
  tests/noaa/rrfs/decoder_test.py
  tests/noaa/rrfs/dynamical_dataset_test.py
  tests/noaa/rrfs/fixtures/missing_management_sources.json
  tests/noaa/rrfs/fixtures/vegmax-all-missing.grib2
  tests/noaa/rrfs/fixtures/vegmin-all-missing.grib2
  tests/noaa/rrfs/region_job_test.py
  tests/noaa/rrfs/template_config_test.py
Due: ty, generate-manual-workflows

Correct RRFS radar missing-value metadata
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/hourly_maximum_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/maximum_derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/hourly_maximum_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/maximum_derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/variables.py
  tests/noaa/rrfs/fixtures/echo-top-no-echo.grib2
  tests/noaa/rrfs/fixtures/echo-top-no-echo.json
  tests/noaa/rrfs/source_oracle_test.py
Due: ty

Reduce repeated template construction and synthetic fixture work
  README.md
  src/reformatters/common/template_utils.py
  tests/common/template_utils_test.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
Due: ty

Split CI tests while preserving required quality gates
  .github/workflows/README.md
  .github/workflows/code-quality.yml
  .github/workflows/deploy-staging.yml
Due: none

Consolidate CI quality checks into one gate
  .github/workflows/README.md
  .github/workflows/code-quality.yml
  README.md
Due: none

Parallelize the full CI suite and reduce template setup work (#1164)
  .github/workflows/README.md
  .github/workflows/code-quality.yml
  .github/workflows/deploy-staging.yml
  src/reformatters/common/template_utils.py
  tests/common/template_utils_test.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
Due: ty

Remove ECMWF operations note as requested in review
  docs/ops_card.md
Due: none

Use the 48-hour licence delay for ECMWF update selection
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Bound ECMWF 46-day updates to expected published inits
  docs/ops_card.md
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty, generate-manual-workflows

Clarify ECMWF 46-day operational update guidance
  docs/ops_card.md
Due: none

Reduce ECMWF 46-day update memory requests
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Honor requested timezones in the ECMWF update test clock
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
Due: ty

Bound ECMWF 46-day update jobs and reduce resource requests (#1143)
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty, generate-manual-workflows

Never start an ECDS publication probe after the deadline
  src/reformatters/ecmwf/archive_gribs/archive.py
  tests/ecmwf/archive_gribs/archive_test.py
Due: ty

Poll ECDS for the newest ECMWF 46-day initialization from 03 UTC
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Declare Gribberish serializer metadata without abstract codec construction
  docs/virtual_datasets.md
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/example_virtual/template_config.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  src/reformatters/noaa/gfs/virtual_template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/template_utils_test.py
  tests/common/virtual_region_job_test.py
  tests/example_virtual/template_config_test.py
Due: ty

Preserve Gribberish codec construction with targeted ty ignores
  docs/virtual_datasets.md
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/example_virtual/template_config.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  src/reformatters/noaa/gfs/virtual_template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/template_utils_test.py
  tests/common/virtual_region_job_test.py
  tests/example_virtual/template_config_test.py
Due: ty

Start the ECMWF 46-day archiver at 03 UTC and poll ECDS until publication (#1162)
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Align freshness deadlines with source availability and processing
  docs/implementation_guide.md
  docs/ops_card.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/current_data_deadline_test.py
  tests/common/current_data_update_fire_test.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Clarify validation monitor timeout after the pod deadline
  docs/virtual_datasets.md
Due: none

Refine source readiness thresholds and polling regression coverage
  docs/implementation_guide.md
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  tests/common/current_data_deadline_test.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Allow GFS virtual source publication until init plus 3h50m
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
  tests/common/current_data_deadline_test.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Upgrade gribberish to 1.8.1 and remove codec typing suppressions
  pyproject.toml
  src/reformatters/common/config_models.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  src/reformatters/noaa/gfs/virtual_template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/template_utils_test.py
  tests/common/virtual_region_job_test.py
  uv.lock
Due: ty

Use compatible gribberish versions and remove expired icechunk cutoff
  pyproject.toml
  uv.lock
Due: none

Validate ICON-EU archive completeness after source expiry
  src/reformatters/common/rclone.py
  src/reformatters/dwd/README.md
  src/reformatters/dwd/archive_gribs/copy_icosahedral_files_from_dwd.py
  tests/common/rclone_test.py
  tests/dwd/archive_gribs/copy_icosahedral_files_from_dwd_test.py
Due: ty

Require first-pod success for WN3 rollout timing gate
  docs/weathernext2_holdback.md
Due: none

Keep general dataset guidance outside the holdback runbook
  docs/backfill.md
  docs/validation.md
  docs/virtual_datasets.md
Due: none
