Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Say that albedo is exactly zero when the window had no sunlight
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/albedo_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/albedo_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  tests/noaa/gfs/forecast_virtual/template_config_test.py
Due: ty

Mask the soil moisture placeholders over permanent land ice
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/liquid_volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Say that ventilation rate zeros are rounded down values
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/ventilation_rate_planetary_boundary_layer/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/ventilation_rate_planetary_boundary_layer/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Drop the unverified wavelength range from the UV-B comments
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/clear_sky_uv_b_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/uv_b_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/clear_sky_uv_b_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/uv_b_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Say which analysis values come from the previous forecast cycle
  src/reformatters/noaa/gfs/analysis_virtual/template_config.py
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/convective_cloud_cover/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/instantaneous_precipitation_convective_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/pressure_convective_cloud_bottom/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/pressure_convective_cloud_top/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gfs/analysis_virtual/template_config_test.py
Due: ty

State the verified UV-B wavelength band
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/clear_sky_uv_b_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/uv_b_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/clear_sky_uv_b_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/uv_b_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Say which storm motion the helicity values use
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Drop the per-variable hour 0 substitution comments
  .part_b_final.md
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-72-cq7gv.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-79-pc8lq.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-85-h2d9w.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-87-52c4t.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-91-hx4k7.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-93-59jgd.stderr
  .podlogs-yqv9/pod-list.txt
  .podlogs-yqv9/pull-A.txt
  .podlogs-yqv9/pull-B.txt
  .podlogs-yqv9/sentry-1000.txt
  .podlogs-yqv9/sentry-all.txt
  .questions_for_alden.md
  .step3-params.txt
  .subagent-brief-boilerplate.txt
  .upp_source_check.md
  .validation_pass2.md
  .validation_pass2_independent.md
  .validation_pass2_secondlook.md
  .validation_report.txt
  .validation_sounding_board_report_gfs.md
  gfs-upp-source-verified-fixes-summary.md
  gfs-virtual-backfill-2026-09-06-report.md
  gfs-virtual-metadata-fixes-summary.md
  src/reformatters/noaa/gfs/analysis_virtual/template_config.py
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/convective_cloud_cover/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/instantaneous_precipitation_convective_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/pressure_convective_cloud_bottom/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/pressure_convective_cloud_top/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gfs/analysis_virtual/template_config_test.py
Due: ty

Address review on the GEFS virtual analysis
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Remove validation scratch files committed by mistake
  .part_b_final.md
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-72-cq7gv.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-79-pc8lq.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-85-h2d9w.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-87-52c4t.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-91-hx4k7.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-93-59jgd.stderr
  .podlogs-yqv9/pod-list.txt
  .podlogs-yqv9/pull-A.txt
  .podlogs-yqv9/pull-B.txt
  .podlogs-yqv9/sentry-1000.txt
  .podlogs-yqv9/sentry-all.txt
  .questions_for_alden.md
  .step3-params.txt
  .subagent-brief-boilerplate.txt
  .upp_source_check.md
  .validation_pass2.md
  .validation_pass2_independent.md
  .validation_pass2_secondlook.md
  .validation_report.txt
  .validation_sounding_board_report_gfs.md
  gfs-upp-source-verified-fixes-summary.md
  gfs-virtual-backfill-2026-09-06-report.md
  gfs-virtual-metadata-fixes-summary.md
Due: none

Require overwrite_chunks on process_worker_jobs, no default
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Trim process_worker_jobs docstrings to the caller contract
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
Due: ty

Drive whole-region-rewriting variants with overwrite_chunks=True
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
Due: ty, generate-manual-workflows

Honor overwrite-chunks on virtual datasets (#952)
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Remove validation scratch files committed by mistake (#1020)
  .part_b_final.md
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-72-cq7gv.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-79-pc8lq.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-85-h2d9w.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-87-52c4t.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-91-hx4k7.stderr
  .podlogs-yqv9/noaa-gfs-analysis-vir-backfill-2026-09-06t05-00-0-yqv9-93-59jgd.stderr
  .podlogs-yqv9/pod-list.txt
  .podlogs-yqv9/pull-A.txt
  .podlogs-yqv9/pull-B.txt
  .podlogs-yqv9/sentry-1000.txt
  .podlogs-yqv9/sentry-all.txt
  .questions_for_alden.md
  .step3-params.txt
  .subagent-brief-boilerplate.txt
  .upp_source_check.md
  .validation_pass2.md
  .validation_pass2_independent.md
  .validation_pass2_secondlook.md
  .validation_report.txt
  .validation_sounding_board_report_gfs.md
  gfs-upp-source-verified-fixes-summary.md
  gfs-virtual-backfill-2026-09-06-report.md
  gfs-virtual-metadata-fixes-summary.md
Due: none

Validate a NOAA GRIB index against its data file before building refs
  docs/virtual_datasets.md
  src/reformatters/common/download.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/noaa/gfs/forecast_virtual/region_job_test.py
  tests/noaa/gfs/virtual_region_job_test.py
  tests/noaa/grib_index_fixtures.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Drop the backwards CF standard names from the GFS gravity wave stresses
  .gwd_sign_check.md
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/eastward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/northward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/eastward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/northward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Read GFS analysis sunshine duration at the windowed leads
  src/reformatters/noaa/gfs/analysis_virtual/region_job.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
Due: ty

Publish GFS virtual total ozone in metres under its CF standard name
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/total_ozone_atmosphere/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/total_ozone_atmosphere/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Validate the index against the message the object holds at its first offset
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/common/datasets_cf_compliance_test.py
  tests/common/download_test.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Trim the lead selection and stale index comments to their non-obvious facts
  src/reformatters/noaa/gfs/analysis_virtual/region_job.py
  src/reformatters/noaa/noaa_virtual_region_job.py
Due: ty

Remove the gravity wave sign working note from the repository
  .gwd_sign_check.md
Due: none

Key the stubbed index download on the url it is given
  tests/noaa/grib_index_fixtures.py
Due: ty

Select the sunshine duration lead by its hour 0 override
  src/reformatters/noaa/gfs/analysis_virtual/region_job.py
  src/reformatters/noaa/gfs/virtual_template_config.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
  tests/noaa/gfs/analysis_virtual/template_config_test.py
  tests/noaa/gfs/forecast_virtual/region_job_test.py
  tests/noaa/gfs/virtual_region_job_test.py
Due: ty

Name the hour 0 catalog test for the assertion it makes
  tests/noaa/gfs/analysis_virtual/region_job_test.py
Due: ty

Stub the GEFS virtual source file reads through the shared fixture
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
Due: ty

Key both stubbed NOAA source file reads on the index url
  tests/noaa/grib_index_fixtures.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Build GFS NODD HTTPS URLs on the global S3 host
  src/reformatters/noaa/gfs/region_job.py
  tests/noaa/gfs/analysis/region_job_test.py
  tests/noaa/gfs/forecast/region_job_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/gfs/virtual_region_job_test.py
Due: ty

Check the index's last offset against the object, not its first
  docs/virtual_datasets.md
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/noaa/grib_index_fixtures.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Correct GFS virtual lead selection, ozone units, gravity wave standard names, and the stale-index guard (#1021)
  docs/virtual_datasets.md
  src/reformatters/common/download.py
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/eastward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/northward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/total_ozone_atmosphere/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/eastward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/northward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/total_ozone_atmosphere/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/common/datasets_cf_compliance_test.py
  tests/common/download_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
  tests/noaa/gfs/analysis_virtual/template_config_test.py
  tests/noaa/gfs/forecast_virtual/region_job_test.py
  tests/noaa/gfs/virtual_region_job_test.py
  tests/noaa/grib_index_fixtures.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
  tests/noaa/noaa_virtual_region_job_test.py
Due: ty

Drop an order of magnitude the split does not have
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Regenerate the 10 day template for the soil moisture names
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
Due: none

Derive the GEFS forecast validation fire's age from its cron schedule
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
Due: ty

Regenerate the 10 day template for the soil moisture short name
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
Due: none

Read the GEFS window lead time sequences off the lead grid
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/region_job.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/virtual_template_config_test.py
Due: ty

State the GEFS virtual forecast split size against a measured commit
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Alert on two stalled GEFS 10 day cycles rather than one rolled-over fire
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows
