Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Add ECMWF ER 46-day 6-hourly forecast
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/__main__.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/__init__.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ensemble_member/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ensemble_member/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/latitude/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/latitude/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/lead_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/lead_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/longitude/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/longitude/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/maximum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/minimum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/spatial_ref/c
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/spatial_ref/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/zarr.json
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/__init__.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config_test.py
Due: ty, generate-manual-workflows

Enforce WeatherNext 2 valid-time holdback and stage audited remediation
  docs/validation.md
  docs/weathernext2_holdback.md
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/template_config.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/template_config.py
  src/reformatters/google/weathernext2/forecast_virtual/validation.py
  src/scripts/icechunk_utils.py
  src/scripts/weathernext2_holdback.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/google/weathernext2/forecast_virtual/validation_test.py
  tests/scripts/weathernext2_holdback_test.py
Due: ty, generate-manual-workflows

Pin purge ancestry and clarify backfill audit guarantees
  docs/weathernext2_holdback.md
  src/scripts/weathernext2_holdback.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/scripts/weathernext2_holdback_test.py
Due: ty

Mirror ICON-EU icosahedral GRIBs after the regular lat/lon mirror (#1063)
  src/reformatters/common/rclone.py
  src/reformatters/dwd/README.md
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/copy_icosahedral_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  tests/common/rclone_test.py
  tests/dwd/archive_gribs/copy_icosahedral_files_from_dwd_test.py
  tests/dwd/archive_gribs/rclone_copyurl_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Size the 6-hourly product for full-forecast reads and prove it end to end
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/maximum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/minimum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/zarr.json
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config_test.py
Due: ty, generate-manual-workflows

Restore WeatherNext 2 valid-time holdback and audited remediation (#1066)
  docs/validation.md
  docs/weathernext2_holdback.md
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/template_config.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/template_config.py
  src/reformatters/google/weathernext2/forecast_virtual/validation.py
  src/scripts/icechunk_utils.py
  src/scripts/weathernext2_holdback.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/google/weathernext2/forecast_virtual/validation_test.py
  tests/scripts/weathernext2_holdback_test.py
Due: ty, generate-manual-workflows

Start the 6-hourly ECMWF ER product at 2026-01-01
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/zarr.json
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config_test.py
Due: ty

Resume WeatherNext 2 operational crons after holdback cleanup
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Clarify suspension step for future holdback remediation
  docs/weathernext2_holdback.md
Due: none

Add ECMWF ER 46-day 6-hourly forecast dataset (#980)
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/__main__.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/__init__.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ensemble_member/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ensemble_member/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/latitude/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/latitude/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/lead_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/lead_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/longitude/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/longitude/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/maximum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/minimum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/spatial_ref/c
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/spatial_ref/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/zarr.json
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/__init__.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config_test.py
Due: ty, generate-manual-workflows

Clarify safe window for resuming WeatherNext crons
  docs/weathernext2_holdback.md
Due: none

Enable the ECMWF ER 46-day 6-hourly cron jobs
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Document WeatherNext proxy prerequisite for new variables
  docs/add_new_variable.md
Due: none

Resume WeatherNext 2 operational crons after holdback cleanup (#1067)
  docs/add_new_variable.md
  docs/weathernext2_holdback.md
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

AIFS Single virtual: fill pre-2025-03 GCS gaps from S3
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty

Keep default caching on the NOMADS mirror domain
  docs/virtual_datasets.md
Due: none

Read HRRR analysis 2 m moisture from the previous init's hour 1
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/hrrr_config_models.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
  tests/noaa/hrrr/hour_0_values_test.py
Due: ty

Read HRRR analysis RH at the 0C isotherm from the previous init's hour 1
  src/reformatters/noaa/hrrr/hrrr_config_models.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

AIFS Single virtual: enforce the S3 gate where the URL is built
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty

Keep HRRR analysis RH at the 0C isotherm on hour 0; pin dew point's source in end-to-end tests
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/hrrr_config_models.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

Pin the virtual analysis dew point test values to the codec's decode
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
Due: ty

Bound the HRRR analysis hour-1 moisture read to HRRRv3 onward
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/hrrr_config_models.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
  tests/noaa/hrrr/hour_0_values_test.py
Due: ty

Pin the virtual analysis lead flip at the HRRRv3 start; reuse HRRR_V3_START for turbulent kinetic energy
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

Enable the ECMWF ER 46-day 6-hourly cron jobs (#1068)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

AIFS Single virtual: fill pre-2025-03 GCS gaps from S3 (#1070)
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty

Make the HRRR fast virtual product NOMADS-only with a moving 3-day window
  docs/ops_card.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/region_job.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/template_config.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/templates/latest.zarr/init_time/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/templates/latest.zarr/model_level/init_time/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/templates/latest.zarr/model_level/valid_time/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/templates/latest.zarr/pressure_level/init_time/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/templates/latest.zarr/pressure_level/valid_time/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/common/storage_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual_fast/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual_fast/region_job_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual_fast/template_config_test.py
Due: ty, generate-manual-workflows

Document a 4-day mirror lifecycle under the 72-hour window
  docs/virtual_datasets.md
Due: none

AIFS Single virtual: say that snow area fraction has values over water at forecast hour 0
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/snow_area_fraction_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/zarr.json
Due: ty

Address review of the moving window: fence the metadata refresh, sweep once
  docs/ops_card.md
  docs/virtual_datasets.md
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/region_job.py
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/common/virtual_region_job_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual_fast/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual_fast/region_job_test.py
Due: ty, generate-manual-workflows

Rename the ECMWF 46-day CAPE variable to name its surface level
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/average_convective_available_potential_energy_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

AIFS Single virtual: say that snow area fraction has values over water at forecast hour 0 (#1073)
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/snow_area_fraction_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/zarr.json
Due: ty

Keep docs/virtual_datasets.md product-neutral
  docs/virtual_datasets.md
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual_fast/region_job.py
  src/reformatters/noaa/hrrr/nomads_mirror.py
Due: ty

Rename the ECMWF 46-day CAPE variable to name its surface level (#1074)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/average_convective_available_potential_energy_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Revert "Pin the virtual analysis lead flip at the HRRRv3 start; reuse HRRR_V3_START for turbulent kinetic energy"
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

Revert "Bound the HRRR analysis hour-1 moisture read to HRRRv3 onward"
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/hrrr_config_models.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
  tests/noaa/hrrr/hour_0_values_test.py
Due: ty

Truncate long strings in Sentry events
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Copy ICON-EU regular lat/lon files with the shared copy_urls
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
  tests/dwd/archive_gribs/copy_files_from_dwd_test.py
  tests/dwd/archive_gribs/rclone_copyurl_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty

Pin the copy_urls call shape from copy_files_from_dwd_https
  tests/dwd/archive_gribs/copy_files_from_dwd_test.py
Due: ty

Retry a failed archive copy with only the files still missing
  src/reformatters/common/rclone.py
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/copy_icosahedral_files_from_dwd.py
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
  tests/common/rclone_test.py
  tests/dwd/archive_gribs/copy_files_from_dwd_test.py
  tests/dwd/archive_gribs/copy_icosahedral_files_from_dwd_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
