Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Skip GEFS source files the cycle has not published yet
  docs/virtual_datasets.md
  src/reformatters/common/source_listing.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/hrrr/forecast_virtual_region_job.py
  tests/common/source_listing_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/utils_test.py
Due: ty, generate-manual-workflows

Detect stale GRIB index byte ranges in GFS/GEFS downloads
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/noaa_grib_index.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gfs/forecast/region_job_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/noaa_grib_index_test.py
Due: ty

Apply review: cut the source_listing docstring, rename for clarity
  src/reformatters/common/source_listing.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/gefs/utils.py
  tests/common/source_listing_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/utils_test.py
Due: ty, generate-manual-workflows

Replace the source listing with two publication-schedule constants
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/virtual_source_listing.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/hrrr/virtual_region_job.py
  tests/common/virtual_source_listing_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/utils_test.py
Due: ty, generate-manual-workflows

Pin the GEFS publication schedule the update's constants assume
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/source_publication_test.py
Due: ty, generate-manual-workflows

Skip GEFS source files the cycle has not published yet (#920)
  src/reformatters/common/virtual_source_listing.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/source_publication_test.py
Due: ty, generate-manual-workflows

Deploy the ECMWF S2S GRIB archive as its own cron
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  .pre-commit-config.yaml
  src/reformatters/__main__.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/operational.py
  src/reformatters/ecmwf/archive_gribs/s2s_archiver.py
  src/scripts/generate_manual_workflows.py
  tests/common/dynamical_dataset_test.py
  tests/conftest.py
  tests/ecmwf/archive_gribs/s2s_archiver_test.py
Due: ty, generate-manual-workflows

Name the generator's loop over deployables for what it holds
  src/reformatters/__main__.py
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Exempt semantic missing values from the all-NaN decode failure
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/scripts/validation/availability.py
  tests/common/virtual_region_job_test.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Regenerate the analysis-virtual template for the new NaN comments
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/geopotential_height_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/pressure_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/pressure_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
Due: none

Pin the workflow generator to the action versions on main
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Port the S2S validators to configured Validator instances
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Make all-NaN decode exemptions explicit
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/scripts/validation/availability.py
  src/scripts/validation/decode_scan.py
  tests/common/virtual_region_job_test.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Address HRRR analysis virtual review wording
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/template_config.py
  tests/noaa/hrrr/analysis_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Preserve Dependabot updates in manual workflows
  .github/workflows/README.md
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  src/scripts/generate_manual_workflows.py
  tests/scripts/generate_manual_workflows_test.py
Due: ty, generate-manual-workflows

Simplify workflow generation documentation
  .github/workflows/README.md
Due: none

Ground backfill parallelism guidance in cluster capacity
  docs/backfill.md
Due: none

Preserve Dependabot updates in manual workflows (#923)
  .github/workflows/README.md
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  src/scripts/generate_manual_workflows.py
  tests/scripts/generate_manual_workflows_test.py
Due: ty, generate-manual-workflows

Ground backfill parallelism guidance in cluster capacity (#924)
  docs/backfill.md
Due: none

Move the GEFS update to 06:45 and tighten its deadlines
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Rename the ECMWF 46-day archiver
  .github/workflows/manual-create-job-from-cronjob.yml
  .pre-commit-config.yaml
  src/reformatters/__main__.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Fix ECMWF 46-day archiver CronJob name
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/common/kubernetes.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/common/test_kubernetes.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Fix ECMWF 46-day archiver CronJob name (#926)
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/common/kubernetes.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/common/test_kubernetes.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Move the GEFS update to 06:45 and tighten its deadlines (#925)
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Check every position an update writes, in one read pass
  AGENTS.md
  src/reformatters/common/kubernetes.py
  src/reformatters/common/validation.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/validation_test.py
Due: ty, generate-manual-workflows

Update a slow test's assertion to the new pass-message wording
  tests/common/virtual_multi_group_test.py
Due: ty

Derive the NaN check's window from the update's own jobs
  AGENTS.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/validation.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/scripts/validation/decode_scan.py
  tests/common/dynamical_dataset_test.py
  tests/common/validation_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Validate recent NaNs across trailing shards
  AGENTS.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/scripts/validation/decode_scan.py
  tests/common/dynamical_dataset_test.py
  tests/common/validation_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Fix the shard-derived NaN window on unsharded and mixed stores
  src/reformatters/common/iterating.py
  src/reformatters/common/validation.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  tests/common/validation_test.py
  tests/common/virtual_multi_group_test.py
Due: ty, generate-manual-workflows

Address review: rename the window knobs, simplify, cover the edge cases
  AGENTS.md
  src/reformatters/common/iterating.py
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/validation_test.py
  tests/common/virtual_multi_group_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Validate recent NaNs across trailing output shards (#909)
  AGENTS.md
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/validation_test.py
  tests/common/virtual_multi_group_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Extend time only to an hour holding its hour-0 files
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  tests/common/virtual_region_job_test.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Pin the sample the dead-point exclusion test measures
  tests/common/validation_test.py
Due: ty

Add HRRR analysis virtual regression coverage
  src/reformatters/noaa/hrrr/analysis_virtual/template_config.py
  src/scripts/validation/decode_scan.py
  tests/common/virtual_multi_group_test.py
  tests/noaa/hrrr/analysis_virtual/template_config_test.py
  tests/scripts/validation/decode_scan_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
