Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Make AIFS ENS Icechunk AWS Open Data the primary (and only) storage
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Make icechunk primary for AIFS ENS, remove dev.zarr write model special case
  .github/workflows/manual-create-job-from-cronjob.yml
  docs/dataset_integration_guide.md
  src/reformatters/__main__.py
  src/reformatters/common/template_utils.py
  tests/common/test_template_utils.py
Due: ty, generate-manual-workflows

Increase HRRR analysis pod active deadline to 25m
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
Due: ty, generate-manual-workflows

Make icechunk primary for AIFS ENS, remove dev.zarr write model special case (#585)
  .github/workflows/manual-create-job-from-cronjob.yml
  docs/dataset_integration_guide.md
  src/reformatters/__main__.py
  src/reformatters/common/template_utils.py
  tests/common/test_template_utils.py
Due: ty, generate-manual-workflows

Increase HRRR analysis pod active deadline to 25m (#586)
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
Due: ty, generate-manual-workflows

Adjust validation.md and scripts to help AIs do a first review
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/report_nulls.py
Due: ty

Adjust validation.md and scripts to help AIs do a first review (#587)
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/report_nulls.py
Due: ty

Add dataset-urls subcommand to print canonical store URLs
  docs/validation.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_storage.py
  tests/datasets_test.py
Due: ty, generate-manual-workflows

Print "(none)" when there are no replicas in dataset-urls text output
  src/reformatters/common/dynamical_dataset.py
  tests/datasets_test.py
Due: ty, generate-manual-workflows

Use Literal["text", "json"] instead of an enum for --format
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Dedupe path formatting between _get_store_path and _build_dataset_url
  src/reformatters/common/storage.py
Due: ty

Document that _build_dataset_url returns prod URL regardless of env
  src/reformatters/common/storage.py
Due: ty

Add dataset-urls subcommand to print canonical store URLs (#588)
  docs/validation.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_storage.py
  tests/datasets_test.py
Due: ty, generate-manual-workflows

Update validation.md
  docs/validation.md
Due: none

Fix IFS ENS MARS scale_factor incorrectly applied to Open Data
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Update validation.md (#589)
  docs/validation.md
Due: none

Fix IFS ENS MARS scale_factor incorrectly applied to Open Data (#590)
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Flatten store repr in zarr copy log lines
  src/reformatters/common/zarr.py
Due: ty

Use str() instead of repr() in _store_repr
  src/reformatters/common/zarr.py
Due: ty

Improve store representation in zarr logging messages (#592)
  src/reformatters/common/zarr.py
Due: ty

Add HTML rendering and R2 upload for validation reports
  docs/validation.md
  pyproject.toml
  src/scripts/validation/plots.py
  src/scripts/validation/render.py
  src/scripts/validation/upload.py
  tests/scripts/__init__.py
  tests/scripts/validation/__init__.py
  tests/scripts/validation/render_test.py
  uv.lock
Due: ty

Style validation report to match dynamical.org
  src/scripts/validation/render.py
Due: ty

Polish validation report formatting
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/summary.py
Due: ty

Add report intro paragraph, switch run timestamp to UTC
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
Due: ty

Add validation report rendering and R2 upload functionality (#594)
  docs/validation.md
  pyproject.toml
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/render.py
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/upload.py
  src/scripts/validation/utils.py
  tests/scripts/__init__.py
  tests/scripts/validation/__init__.py
  tests/scripts/validation/render_test.py
  uv.lock
Due: ty

Stop mobile TOC drawer from being covered by the hamburger toggle
  src/scripts/validation/render.py
Due: ty

Require reviewing every per-variable PNG in validation runs
  docs/validation.md
Due: none

Polish validation report TOC: name heading, native casing, centered toggle icon
  src/scripts/validation/render.py
Due: ty

Add combined retry filter to missing_timestamps.txt
  src/scripts/validation/report_nulls.py
Due: ty

Improve table of contents styling and dataset name extraction (#597)
  docs/validation.md
  src/scripts/validation/render.py
  src/scripts/validation/report_nulls.py
Due: ty

Set max_nan_percentage=0 for ECMWF check_forecast_recent_nans validators
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix IFS ENS control source after IFS Cycle 50r1 cutover
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
  tests/ecmwf/test_ecmwf_grib_index.py
Due: ty

Fix IFS ENS control source after IFS Cycle 50r1 cutover (#598)
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
  tests/ecmwf/test_ecmwf_grib_index.py
Due: ty

Add GCS mirror fallback for AIFS-ENS downloads
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/ecmwf_utils.py
  tests/ecmwf/aifs_ens/forecast/region_job_test.py
Due: ty

Inline source base URLs in _get_base_url
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/ecmwf_utils.py
Due: ty

Move download_file above _download_from_source
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
Due: ty

Add GCS mirror fallback for AIFS-ENS downloads (#600)
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/ecmwf_utils.py
  tests/ecmwf/aifs_ens/forecast/region_job_test.py
Due: ty

Use deployed CronJob image for backfill-kubernetes
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  tests/common/dynamical_dataset_test.py
Due: ty, generate-manual-workflows
