Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Port materialized vertical-group support into the Validator API
  tests/common/validation_test.py
Due: ty

Show variable comments in validation reports
  docs/validation.md
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/template_config.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/summary_test.py
Due: ty

Put the comment row last in the metadata table
  src/scripts/validation/summary.py
  tests/scripts/validation/summary_test.py
Due: ty

Guide validation summaries toward brevity
  docs/validation.md
Due: none

Document GFS no-data markers and surface comments in validation reports (#903)
  docs/validation.md
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/template_config.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/summary_test.py
Due: ty

Name the ECDS retrieval archiving, not staging
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/field_identity.py
  src/reformatters/ecmwf/archive_gribs/grib_inventory.py
  src/reformatters/ecmwf/archive_gribs/request_shards.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
  tests/ecmwf/archive_gribs/grib_inventory_test.py
  tests/ecmwf/archive_gribs/request_shards_test.py
Due: ty

Add the ECDS GRIB stager for ECMWF IFS Extended Range (#906)
  src/reformatters/common/rclone.py
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/list_files.py
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
  src/reformatters/ecmwf/archive_gribs/__init__.py
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  src/reformatters/ecmwf/archive_gribs/field_identity.py
  src/reformatters/ecmwf/archive_gribs/grib_inventory.py
  src/reformatters/ecmwf/archive_gribs/request_shards.py
  tests/common/rclone_test.py
  tests/dwd/archive_gribs/list_files_test.py
  tests/ecmwf/archive_gribs/__init__.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
  tests/ecmwf/archive_gribs/grib_inventory_test.py
  tests/ecmwf/archive_gribs/request_shards_test.py
  tests/ecmwf/fixtures/s2s_control_2026-08-10T00Z.grib2
  tests/ecmwf/fixtures/s2s_control_2026-08-10T00Z.grib2.index
  tests/ecmwf/s2s_fixtures.py
Due: ty

Drop the stale GEFS update runtime comment
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
Due: ty, generate-manual-workflows

Say what NaN means where the quantity does not apply
  AGENTS.md
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/pressure_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/pressure_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/flash_qpe_ffg_max_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
Due: ty

Say what NaN means where the quantity does not apply (#910)
  AGENTS.md
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/pressure_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/pressure_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_cloud_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/flash_qpe_ffg_max_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
Due: ty

validation: draw the timeseries window from the reference-covered range
  docs/validation.md
  src/scripts/validation/compare_timeseries.py
Due: ty

Fix GEFS reforecast index lookup and stop interpolating flag variables
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/utils.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/utils_test.py
Due: ty

Fixes from validating NOAA GEFS analysis (#911)
  docs/validation.md
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/utils.py
  src/scripts/validation/compare_timeseries.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/utils_test.py
Due: ty

docs: cluster validation summary notes under group headings
  docs/validation.md
Due: none

docs: cluster validation summary notes under group headings (#912)
  docs/validation.md
Due: none

Distinguish ECMWF hour-0 source messages from stored hour-0 values
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/test_ecmwf_config_models.py
Due: ty

Report availability by whether the store holds a lead-0 value
  docs/validation.md
  src/reformatters/common/config_models.py
  src/reformatters/common/validation.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/scripts/validation/availability.py
  tests/common/test_config_models.py
  tests/common/validation_test.py
  tests/scripts/validation/availability_test.py
Due: ty

docs: BARRA2 source data exploration report
  docs/plans/barra2_source_data_exploration.md
Due: none

Opt in to Sentry stdlib log forwarding
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Publish zarr v3 stores before icechunk ones, swap zarr v3 stores to replicas
  AGENTS.md
  docs/parallel_processing.md
  src/reformatters/__main__.py
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/datasets_test.py
Due: ty, generate-manual-workflows

Report availability by whether the store holds a lead-0 value (#914)
  docs/validation.md
  src/reformatters/common/config_models.py
  src/reformatters/common/validation.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/scripts/validation/availability.py
  tests/common/test_config_models.py
  tests/common/validation_test.py
  tests/scripts/validation/availability_test.py
Due: ty

Opt in to Sentry stdlib log forwarding (#913)
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Fix HRRR analysis snowfall rate and document VBDSF sunrise artifact
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Publish zarr v3 stores before icechunk ones, swap zarr v3 stores to replicas (#915)
  AGENTS.md
  docs/parallel_processing.md
  src/reformatters/__main__.py
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/datasets_test.py
Due: ty, generate-manual-workflows

Add BOM ACCESS-G source data exploration report
  docs/plans/bom_access_g_source_exploration.md
Due: none

docs: record BARRA2 geographic coverage per domain
  docs/plans/barra2_source_data_exploration.md
Due: none

Record that VBDSF is direct normal irradiance
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

Fix HRRR analysis snowfall rate, document VBDSF (#916)
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Document BOM ACCESS-G access routes and rolling-window availability
  docs/plans/bom_access_g_source_exploration.md
Due: none

docs: pin down BARRA2 licence chain and access mechanics
  docs/plans/barra2_source_data_exploration.md
Due: none

Let --init-time pin the forecast the time series plots draw
  docs/validation.md
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
Due: ty

Carry the validation time pins on RunContext
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  tests/scripts/validation/compare_timeseries_test.py
Due: ty

Document the averaging window on deaccumulated radiation fluxes
  AGENTS.md
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_diffuse_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_direct_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/template_config.py
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
Due: ty

Document the averaging window on deaccumulated radiation fluxes (#917)
  AGENTS.md
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_diffuse_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_direct_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/template_config.py
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
Due: ty

Carry the validation time pins on RunContext (#918)
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  tests/scripts/validation/compare_timeseries_test.py
Due: ty

Document fractional categorical flags beyond lead 240h
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/categorical_freezing_rain_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/categorical_ice_pellets_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/categorical_rain_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/categorical_snow_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
Due: ty

Name the four flag variables explicitly
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
Due: ty

Lift the comment rewrite out of the comprehension
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
Due: ty

Document fractional categorical flags beyond lead 240h (#919)
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/categorical_freezing_rain_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/categorical_ice_pellets_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/categorical_rain_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/categorical_snow_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
