Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Test the GFS forecast virtual dataset and align convective precipitation metadata
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/region_job.py
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/gfs/forecast_virtual/__init__.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/region_job_test.py
  tests/noaa/gfs/forecast_virtual/template_config_test.py
Due: ty

Regenerate the forecast template for the censoring comments
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/pressure_of_lifted_parcel_level_255_0mb/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/visibility_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
Due: none

Record where the GFS forecast names a window HRRR reads at the valid time
  tests/common/datasets_cf_compliance_test.py
Due: ty

Stub the shared index download in the GFS forecast virtual tests
  tests/noaa/gfs/forecast_virtual/region_job_test.py
Due: ty

Say what a variable is, not why it is not something else
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/template_config.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Describe what the split must satisfy, not a value it once had
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/template_config_test.py
Due: ty

Regenerate the forecast template for the reworded window comments
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/sunshine_duration_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
Due: none

Point the split sizes at the doc that explains them
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Pick up the vsw spelling in the forecast template
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
Due: none

Name the accumulation window without explaining how to difference it
  src/reformatters/noaa/gfs/analysis_virtual/template_config.py
  src/reformatters/noaa/gfs/forecast_virtual/template_config.py
  tests/noaa/gfs/analysis_virtual/template_config_test.py
  tests/noaa/gfs/forecast_virtual/template_config_test.py
Due: ty

Regenerate the GFS virtual templates for the shortened accumulation comments
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/water_runoff_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/total_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/water_runoff_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
Due: none

Describe the forecast update window by what publishes, not the lead range
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Request 3.5 cpu so the forecast update fits on a 4 cpu node
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Test the GEFS 0.25 degree virtual analysis
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/soil_temperature_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
Due: ty

Rename GEFS config models to the repo's provider-model naming policy
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/analysis/template_config.py
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gefs/read_data.py
  src/reformatters/noaa/gefs/utils.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/gefs_config_models_test.py
  tests/noaa/gefs/utils_test.py
Due: ty, generate-manual-workflows

Require an explicit manifest split entry for every vertical group
  tests/datasets_test.py
Due: ty

Pin the GEFS analysis recovery window to its update cadence
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/region_job.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
Due: ty

Give the virtual analysis validator a commit margin and reject doubled refs
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/virtual_region_job.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Name the unstated-group-split exemption instead of exempting all scalars
  tests/datasets_test.py
Due: ty

Complete a GEFS variable when any of its element spellings matches
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_freezing_rain_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_ice_pellets_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_rain_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_snow_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
Due: ty

Apply review findings to the GEFS virtual analysis
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/region_job.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_freezing_rain_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_ice_pellets_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_rain_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/categorical_snow_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20200923T12_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20200923T12_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20200923T12_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T06_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T06_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T06_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T12_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T12_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20210720T12_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T06_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T06_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T06_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T12_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T12_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20221018T12_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20260828T00_f000.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20260828T00_f003.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/idx_fixtures/20260828T00_f006.idx
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Apply review findings to the GEFS virtual base migration
  docs/virtual_datasets.md
  src/reformatters/noaa/gefs/virtual_region_job.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
Due: ty

Use the ECMWF short name for volumetric soil moisture
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Match the soil moisture names the catalog already carries
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Prune the GEFS virtual comments that restate the code
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/region_job.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/soil_temperature_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty, generate-manual-workflows

Trim the GEFS analysis virtual comments to their timeless facts
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/region_job.py
  src/reformatters/noaa/gefs/virtual_region_job.py
  tests/datasets_test.py
Due: ty, generate-manual-workflows

Build GEFS virtual refs on the shared NOAA virtual region job
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/noaa_virtual_region_job.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
Due: ty

Inherit the shared init time field in the GEFS virtual source file coord
  src/reformatters/noaa/gefs/virtual_region_job.py
Due: ty

Start the GEFS virtual archive where the materialized forecast does
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/time/c/0
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/time/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
Due: ty

Drop an order of magnitude the split does not have
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Cut comments that defend choices or cite other datasets
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Record the GEFS virtual analysis's window-average step types
  tests/common/datasets_cf_compliance_test.py
Due: ty

Give the convective cloud pressure pair their own missing value wording
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/pressure_convective_cloud_bottom/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/pressure_convective_cloud_top/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/pressure_convective_cloud_bottom/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/pressure_convective_cloud_top/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Declare the Haines index flag values and meanings
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/haines_index_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/haines_index_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Drop the CF soil_type standard name from GFS soil type
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/soil_type_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/soil_type_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty
