Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Sync ruff pre-commit rev with pyproject
  .pre-commit-config.yaml
Due: none

Run ruff hooks from the uv env so its version is pinned in one place
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Point WeatherNext 2 storage at the google-weathernext2 bucket
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Point WeatherNext 2 storage at the google-weathernext2 bucket (#971)
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Check the whole project in the ty hook
  .pre-commit-config.yaml
Due: none

Say what grey means in the availability heatmap caption
  src/scripts/validation/summary.py
Due: ty

Show unprobed availability cells as unavailable
  src/scripts/validation/availability.py
  src/scripts/validation/summary.py
Due: ty

Run ruff hooks from the uv env so its version is pinned in one place (#970)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Show unprobed availability cells as unavailable (#972)
  src/scripts/validation/availability.py
Due: ty

Upload validation reports concurrently
  src/scripts/validation/upload.py
Due: ty

Upload validation reports concurrently (#973)
  src/scripts/validation/upload.py
Due: ty

Size validation read concurrency by chunk bytes, not operation count
  src/scripts/validation/decode_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/decode_scan_test.py
  tests/scripts/validation/utils_test.py
Due: ty

Match a pinned point's longitude in either convention
  src/scripts/validation/utils.py
  tests/scripts/validation/utils_test.py
Due: ty

Resume an interrupted manifest scan, and let a run scope its sampling
  src/scripts/validation/availability.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Model the decode footprint the way the checker actually samples
  src/reformatters/common/validation.py
  src/scripts/validation/decode_scan.py
  tests/scripts/validation/decode_scan_test.py
Due: ty

Reject a non-numeric --lead-time when the run starts
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
Due: ty

Record two WeatherNext 2 variable quirks the validation run surfaced
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/pressure_level/specific_humidity/zarr.json
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/sea_surface_temperature/zarr.json
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/pressure_level/specific_humidity/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/sea_surface_temperature/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_virtual/template_config.py
Due: ty

Add precipitation, 10 m wind, 2 m extremes and CAPE to ECMWF ER 46 day
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/average_convective_available_potential_energy_atmosphere/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/maximum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/minimum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/archive_gribs/grib_inventory_test.py
  tests/ecmwf/fixtures/s2s_control_2026-08-10T00Z.grib2
  tests/ecmwf/fixtures/s2s_control_2026-08-10T00Z.grib2.index
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Use the WeatherNext 2 bucket's real name, not its public hostname
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Use the WeatherNext 2 bucket's real name, not its public hostname (#979)
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Add ECMWF ER 46-day 6-hourly forecast
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/__main__.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/__init__.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ensemble_member/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ensemble_member/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/latitude/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/latitude/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/lead_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/lead_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/longitude/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/longitude/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/maximum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/minimum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/spatial_ref/c
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/spatial_ref/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/templates/latest.zarr/zarr.json
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/__init__.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/template_config_test.py
Due: ty, generate-manual-workflows

Run WeatherNext 2 operational updates and validation
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Run WeatherNext 2 operational updates and validation (#981)
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Configure ECMWF ER archive by data product
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_dynamical_dataset_test.py
Due: ty

Bind six-hourly dataset to archive manifest
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
Due: ty

Add precipitation, 10 m wind, 2 m extremes and CAPE to ECMWF ER 46 day (#978)
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/average_convective_available_potential_energy_atmosphere/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/maximum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/minimum_temperature_2m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/archive_gribs/grib_inventory_test.py
  tests/ecmwf/fixtures/s2s_control_2026-08-10T00Z.grib2
  tests/ecmwf/fixtures/s2s_control_2026-08-10T00Z.grib2.index
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Name the dataset in OperationalValidationError message
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Name the dataset in the validation-passed log line
  src/reformatters/common/validation.py
Due: ty

Name the dataset in the validation start log line
  src/reformatters/common/validation.py
Due: ty

Name the dataset in OperationalValidationError message (#983)
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Move WeatherNext 2 variable quirks into comment attrs
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/pressure_level/specific_humidity/zarr.json
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/sea_surface_temperature/zarr.json
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/pressure_level/specific_humidity/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/sea_surface_temperature/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_virtual/template_config.py
Due: ty

Apply the WeatherNext 2 publication lag to initialization time
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty

Apply the WeatherNext 2 publication lag to initialization time (#982)
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty

Match the specific humidity and sea surface temperature comment wording
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/pressure_level/specific_humidity/zarr.json
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/sea_surface_temperature/zarr.json
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/pressure_level/specific_humidity/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/sea_surface_temperature/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_virtual/template_config.py
Due: ty

Record two WeatherNext 2 variable quirks found while validating the historical archive (#968)
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/pressure_level/specific_humidity/zarr.json
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/sea_surface_temperature/zarr.json
  src/reformatters/google/weathernext2/forecast_historical_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/pressure_level/specific_humidity/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/sea_surface_temperature/zarr.json
  src/reformatters/google/weathernext2/forecast_operational_virtual/templates/latest.zarr/zarr.json
  src/reformatters/google/weathernext2/forecast_virtual/template_config.py
Due: ty

Keep the WeatherNext 2 update template covering the whole store
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty

Shrink the WeatherNext 2 operational update window to 24 hours plus the lag
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty

Sweep 24 hours of newly publishable initializations
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty

Sweep 24 hours of newly publishable WeatherNext 2 initializations (#988)
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty
