Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Bump noaa-hrrr-forecast-48-hour-spatial version 0.1.0 -> 0.2.0
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
Due: ty

Grow HRRR-spatial manifest split 8 -> 120 inits (#702)
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Bump noaa-hrrr-forecast-48-hour-spatial version 0.1.0 -> 0.2.0 (#703)
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
Due: ty

Poison the batched virtual driver's region to guard against region leaks
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Batch virtual backfill commits: one commit per worker (#701)
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty

Widen HRRR analysis update deadline + validate offset (15m -> 20m)
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
Due: ty, generate-manual-workflows

Widen HRRR analysis update deadline + validate offset (15m -> 20m) (#704)
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
Due: ty, generate-manual-workflows

Skip empty grib index in HRRR-spatial file_refs
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/region_job.py
  tests/noaa/hrrr/forecast_48_hour_spatial/region_job_test.py
Due: ty

Differentiate manifest split by array group for HRRR-spatial
  docs/virtual_datasets.md
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  tests/common/test_storage.py
Due: ty, generate-manual-workflows

Skip empty grib index in HRRR-spatial file_refs (#705)
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/region_job.py
  tests/noaa/hrrr/forecast_48_hour_spatial/region_job_test.py
Due: ty

Address review: reword 'sparse', drop resize claim
  docs/virtual_datasets.md
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Rename 'split count' to 'manifest count' per review
  docs/virtual_datasets.md
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Differentiate manifest split by array group for HRRR-spatial (#706)
  docs/virtual_datasets.md
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  tests/common/test_storage.py
Due: ty, generate-manual-workflows

Size HRRR-spatial manifest splits per group from measured bytes/ref; bump to v0.5.0
  docs/virtual_datasets.md
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
Due: ty, generate-manual-workflows

Assign virtual backfill workers contiguous append-dim blocks
  AGENTS.md
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/iterating_test.py
  tests/common/region_job_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Document virtual backfill commit-latency model and measured validation
  docs/virtual_datasets.md
Due: none

Size HRRR-spatial manifest splits per group from measured bytes/ref; bump to v0.5.0 (#707)
  docs/virtual_datasets.md
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
Due: ty, generate-manual-workflows

Document virtual backfill commit-latency model and measured validation (#709)
  docs/virtual_datasets.md
Due: none

Document backfill parallelism ceiling and rebase starvation tail
  docs/virtual_datasets.md
Due: none

Assign virtual backfill workers contiguous append-dim blocks (#708)
  AGENTS.md
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/iterating_test.py
  tests/common/region_job_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Unsuspend HRRR-spatial operational update and validation crons
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  tests/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Unsuspend HRRR-spatial operational update and validation crons (#710)
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  tests/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Review fixes: decode-scan coverage, parallel manifest probe, truthful claims
  docs/validation.md
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/summary.py
  tests/common/virtual_multi_group_test.py
Due: ty

Fixes surfaced by a real batched review of HRRR-spatial (177 vars)
  docs/validation.md
  dpt2m.grib2
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

docs: add ECCC HRDPS continental source data exploration
  docs/source_exploration/eccc_hrdps_continental.md
Due: none

Encode HRRR v3 36h forecast length in HRRR-spatial expected_forecast_length
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/expected_forecast_length/c/0
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/expected_forecast_length/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/expected_forecast_length/c/0
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/expected_forecast_length/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
Due: ty

Render only plots the run produced + pin R2 region for upload
  src/scripts/validation/render.py
  src/scripts/validation/upload.py
Due: ty

Encode HRRR v3 36h forecast length in HRRR-spatial expected_forecast_length (#712)
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/expected_forecast_length/c/0
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/expected_forecast_length/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/expected_forecast_length/c/0
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/expected_forecast_length/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
Due: ty

Refresh metadata from template on virtual operational updates
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/zarr.py
  tests/common/test_zarr.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Never overwrite store-written coordinate values in metadata refresh
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/zarr.py
  tests/common/virtual_multi_group_test.py
Due: ty

Address PR review: wording, refresh placement, harness chunk pinning
  dbg_sf/messages.bin
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Consolidated metadata staleness is a current-design fact, not inherent
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
Due: ty

Refresh metadata from template on virtual operational updates (#713)
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/zarr.py
  tests/common/test_zarr.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Check in virtual commit contention options plan (if ever needed)
  docs/plans/virtual_commit_contention_options.md
  docs/virtual_datasets.md
Due: none

Check in virtual commit contention options plan (if ever needed) (#714)
  docs/plans/virtual_commit_contention_options.md
  docs/virtual_datasets.md
Due: none

Align all virtual metadata writers so refresh commits only on real drift
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/test_parallel_coordination.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
