Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Express completeness as per-position fraction thresholds
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Decode-health: check the present refs at the latest position
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty

Add operational validation for virtual datasets (PR 8) (#687)
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/validation.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
  tests/common/iterating_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Docs + examples: virtual datasets, materialized-vs-virtual, integration guide (PR 10)
  AGENTS.md
  docs/dataset_integration_guide.md
  docs/plans/vertical_dimension_structure.md
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/storage.py
  src/reformatters/common/template_config.py
  src/reformatters/common/template_utils.py
  src/reformatters/example/new_dataset.py
  src/reformatters/example_virtual/__init__.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/example_virtual/template_config.py
  tests/example_virtual/__init__.py
  tests/example_virtual/dynamical_dataset_test.py
  tests/example_virtual/region_job_test.py
  tests/example_virtual/template_config_test.py
Due: ty, generate-manual-workflows

PR 10: fold remaining gaps surfaced implementing the HRRR dataset
  src/reformatters/example/new_dataset.py
  src/reformatters/example_virtual/template_config.py
Due: ty

Correct CF/ECMWF metadata wrongly excused by test exemptions
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/best_4_layer_lifted_index_180_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/derived_radar_reflectivity_263k_max/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/friction_velocity_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/ground_heat_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/hourly_maximum_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/max_relative_vorticity_1000_0m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/max_relative_vorticity_2000_0m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/max_upward_vertical_velocity_1000_100mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_vegetation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/minimum_vegetation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/cloud_ice_mixing_ratio/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/fraction_of_cloud_cover/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/turbulent_kinetic_energy/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/cloud_ice_mixing_ratio/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_of_lifted_parcel_level_255_0mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/surface_lifted_index_500_1000mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/vegetation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/vertical_velocity_geometric_0p5_0p8_sigma/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Address PR #688 review comments
  src/reformatters/common/config_models.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/types.py
  src/reformatters/common/validation.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
  src/reformatters/noaa/noaa_grib_index.py
  tests/common/common_template_config_subclasses_test.py
  tests/common/datasets_cf_compliance_test.py
  tests/common/dynamical_dataset_test.py
  tests/common/virtual_multi_group_test.py
  tests/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Note HRRR south-first ordering is interim, pending the catalog convention
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
Due: ty

Document the catalog latitude-ordering convention (north-first)
  AGENTS.md
Due: none

Tune HRRR-spatial resources + 30-day manifest split
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Address small PR #688 review comments
  src/reformatters/common/config_models.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/region_job.py
Due: ty, generate-manual-workflows

example_virtual: drop the inaccurate .idx-unlink comment
  src/reformatters/example_virtual/region_job.py
Due: ty

Tune virtual op window to 14h + raise download concurrency
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/region_job.py
Due: ty

Normalize HRRR-spatial aggregation var names to maximum_/minimum_
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_column_integrated_graupel_atmosphere/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_downward_vertical_velocity_100_1000mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_hail_diameter_0p1sigma/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_hail_diameter_atmosphere/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_hail_diameter_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_relative_vorticity_1000_0m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_relative_vorticity_2000_0m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_updraft_helicity_2000_0m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_updraft_helicity_3000_0m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_updraft_helicity_5000_2000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_upward_vertical_velocity_100_1000mb/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_wind_speed_10m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_wind_u_component_10m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/maximum_wind_v_component_10m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/minimum_updraft_helicity_2000_0m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/minimum_updraft_helicity_3000_0m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/minimum_updraft_helicity_5000_2000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/hrrr/forecast_48_hour_spatial/region_job_test.py
Due: ty

Document variable naming conventions in AGENTS.md
  AGENTS.md
Due: none

Fix virtual backfill OOM: cap download concurrency, add memory headroom
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Address review: trim comments, memory 3.7G to fit a 4G node
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix virtual backfill OOM: cap download concurrency, add memory headroom (#690)
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Push ifs-ens update later so late ENS leads have disseminated
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Push ifs-ens update later so late ENS leads have disseminated (#691)
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Offline/backfill validation tooling for virtual datasets (PR 11)
  docs/validation.md
  src/reformatters/common/validation.py
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/render.py
  src/scripts/validation/report_nulls.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/common/virtual_multi_group_test.py
  tests/scripts/validation/manifest_scan_test.py
  tests/scripts/validation/render_test.py
  tests/scripts/validation/utils_test.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

Log per-batch phase timings in the virtual write loop
  src/reformatters/common/virtual_region_job.py
Due: ty

Log per-batch phase timings in the virtual write loop (#692)
  src/reformatters/common/virtual_region_job.py
Due: ty

Shrink HRRR-spatial manifest split 120 -> 8 inits
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Shrink HRRR-spatial manifest split 120 -> 8 inits (#694)
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Suspend HRRR-spatial update/validate crons during initial backfill
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  tests/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Push aifs-ens update later (H+7h00m) so more leads have disseminated
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Push aifs-ens update later (H+7h00m) so more leads have disseminated (#696)
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Suspend HRRR-spatial update/validate crons during initial backfill (#695)
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
  tests/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Vectorize per-var chunk index resolution to fix virtual emit hotspot
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Add multi-var and mixed present/absent tests for _resolve_chunk_indices
  tests/common/virtual_region_job_test.py
Due: ty

Trim no-caching justification from _resolve_chunk_indices docstring
  src/reformatters/common/virtual_region_job.py
Due: ty

Rename _resolve_chunk_indices to _resolve_chunk_keys
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Vectorize per-var chunk index resolution to fix virtual emit hotspot (#699)
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Batch virtual backfill commits: one commit per worker
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty

Grow HRRR-spatial manifest split 8 -> 120 inits
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows
