Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Safer, simpler backfills: explicit overwrite API, auto append-dim end, manual GitHub action
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-suspend-resume-cronjobs.yml
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/scripts/generate_manual_workflows.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_parallel_coordination.py
  tests/common/test_storage.py
  tests/common/test_template_utils.py
Due: ty, generate-manual-workflows

Retry NCEI 5xx errors when listing NDVI source files
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  tests/contrib/noaa/ndvi_cdr/analysis/region_job_test.py
Due: ty

Retry NCEI 5xx errors when listing NDVI source files (#754)
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  tests/contrib/noaa/ndvi_cdr/analysis/region_job_test.py
Due: ty

Quantize MRMS GRIB reads to the message's decimal precision
  src/reformatters/common/grib.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/grib_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Run overwrite backfills concurrently with operational updates via icechunk rebase
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-suspend-resume-cronjobs.yml
  AGENTS.md
  docs/add_new_variable.md
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/scripts/generate_manual_workflows.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
Due: ty, generate-manual-workflows

Mark replay commits via snapshot metadata, not commit message text
  docs/parallel_processing.md
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/zarr.py
  tests/common/test_parallel_writes.py
Due: ty

Add Dependabot version updates (#753)
  .github/dependabot.yml
Due: none

Manual: Backfill runs only from main with the image main's deploy built
  .github/workflows/manual-backfill.yml
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Assert integer GRIB reference value; clarify quantization comment
  src/reformatters/common/grib.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/grib_test.py
Due: ty

Limit the backfill workflow's deploy wait to 30 minutes
  .github/workflows/manual-backfill.yml
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Split decimal scale lookup onto two lines for readability
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
Due: ty

Document the GRIB2 byte layout behind the section 5 offsets
  src/reformatters/common/grib.py
Due: ty

Fix GRIB decimal precision rounding in MRMS data (#758)
  src/reformatters/common/grib.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/grib_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Run backfill workflow setup steps before waiting on main's deploy
  .github/workflows/manual-backfill.yml
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Per-kind jobs-per-pod and max-parallelism guidance in backfill docs and action
  .github/workflows/manual-backfill.yml
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

WIP: review fixes for concurrent backfill/update support
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/retry.py
  src/reformatters/common/storage.py
Due: ty

Split out concurrent backfill/update support; keep the temp-branch flow
  .github/workflows/manual-backfill.yml
  AGENTS.md
  docs/add_new_variable.md
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/zarr.py
  src/scripts/generate_manual_workflows.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
Due: ty, generate-manual-workflows

HRRR materialized: CF missing_value for percent_frozen_precipitation (#759)
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

Advise running overwrite backfills between update runs, not suspending crons
  AGENTS.md
  docs/add_new_variable.md
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

HRRR ops validation: exclude percent_frozen_precipitation from NaN check
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
Due: ty, generate-manual-workflows

HRRR ops validation: exclude percent_frozen_precipitation from NaN check (#760)
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
Due: ty, generate-manual-workflows

Point backfill-kubernetes docstring at AGENTS.md Backfills section
  AGENTS.md
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Validate recent init_times for NaNs, not just the newest
  src/reformatters/common/validation.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  tests/common/validation_test.py
Due: ty, generate-manual-workflows

Drop explanatory comments on ECMWF recent-nans validators
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Add sliding window validation for recent forecast init_times (#766)
  src/reformatters/common/validation.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  tests/common/validation_test.py
Due: ty, generate-manual-workflows

Safer, simpler backfills: explicit overwrite API, auto append-dim end, manual GitHub action (#755)
  .github/workflows/manual-backfill.yml
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/scripts/generate_manual_workflows.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
  tests/common/test_template_utils.py
Due: ty, generate-manual-workflows

Virtual datasets review: test coverage, comment cleanups, unequal-groups guard
  AGENTS.md
  docs/dataset_integration_guide.md
  docs/parallel_processing.md
  docs/validation.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_parallel_coordination.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/common/virtual_source_listing_test.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Add 80m wind, temperature, and pressure to NOAA GFS (#748)
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/pressure_80m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/temperature_80m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_u_80m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_v_80m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/pressure_80m/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/temperature_80m/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/wind_u_80m/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/wind_v_80m/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/template_config.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/gfs/analysis/region_job_test.py
  tests/noaa/gfs/template_config_test.py
Due: ty

Virtual datasets review: test coverage, comment cleanups, unequal-groups guard (#767)
  AGENTS.md
  docs/dataset_integration_guide.md
  docs/parallel_processing.md
  docs/validation.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_parallel_coordination.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/common/virtual_source_listing_test.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Tolerate GRIB message padding; read at float32 to restore memory profile
  src/reformatters/common/grib.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/grib_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Assert decimal scale is small enough for exact float32 rounding
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
Due: ty

Tolerate GRIB message padding; read at float32 to restore memory profile (#768)
  src/reformatters/common/grib.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/grib_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

docs: point add-new-variable step 4 at the STAC catalog
  docs/add_new_variable.md
Due: none

docs: point add-new-variable step 4 at the STAC catalog (#770)
  docs/add_new_variable.md
Due: none

Fix availability fraction bool arithmetic on analysis datasets
  src/scripts/validation/availability.py
  tests/scripts/validation/availability_test.py
Due: ty

Fix availability fraction bool arithmetic on analysis datasets (#771)
  src/scripts/validation/availability.py
  tests/scripts/validation/availability_test.py
Due: ty

Add 80m wind, temperature, and pressure to NOAA GEFS (#749)
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/pressure_80m/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/temperature_80m/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/wind_u_80m/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/wind_v_80m/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/pressure_80m/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/temperature_80m/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/wind_u_80m/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/wind_v_80m/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/gefs/analysis/region_job_test.py
Due: ty

Add CHIRPS source data exploration
  docs/plans/chirps_source_exploration.md
Due: none

Fix validation --lead-time parsing; restore remote-session monitoring guidance
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/plots.py
Due: ty

Refine CHIRPS exploration: two datasets, license, naming
  docs/plans/chirps_source_exploration.md
Due: none
