Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Tighten GEFS schedule based on NOMADS file availability
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Test earlier GEFS forecast schedule, bump version to dev-quick
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
Due: ty

HRRR schedule 3 min tweak
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  tests/noaa/noaa_utils_test.py
Due: ty, generate-manual-workflows

HRRR schedule 3 min tweak (#469)
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  tests/noaa/noaa_utils_test.py
Due: ty, generate-manual-workflows

Add NOAA MRMS source exploration report
  plans/noaa_mrms_source_exploration.md
Due: none

Skip lead_time=0 in NaN validator for instantaneous precip vars with no hour 0 values
  src/reformatters/noaa/hrrr/forecast_48_hour/validators.py
  tests/noaa/hrrr/forecast_48_hour/validators_test.py
Due: ty

Skip lead_time=0 in NaN validator for instantaneous precip vars with no hour 0 values (#471)
  src/reformatters/noaa/hrrr/forecast_48_hour/validators.py
  tests/noaa/hrrr/forecast_48_hour/validators_test.py
Due: ty

Add NOAA MRMS CONUS analysis hourly dataset
  src/reformatters/__main__.py
  src/reformatters/noaa/mrms/__init__.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/__init__.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/latitude/c/0
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/latitude/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/longitude/c/0
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/longitude/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_pass_1_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_radar_only_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/spatial_ref/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/time/c/0
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/time/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/__init__.py
  tests/noaa/mrms/conus_analysis_hourly/__init__.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty, generate-manual-workflows

Add single file integration test and fix attribution
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Update chunk/shard sizing and remove stale decompression cache
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_pass_1_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_radar_only_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Address PR review: strengthen test assertions and reorganize tests
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

WIP: Reduce integration test memory usage with trimmed template
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Finalize integration test: reduce memory and add snapshot assertions
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Speed up integration test by writing only first shard and merging shard boundary test
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Fix Iowa Mesonet download URLs: remove MRMS_ filename prefix
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Update src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
Due: ty

Update docs/dataset_integration_guide.md
  docs/dataset_integration_guide.md
Due: none

increase resource requests
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Address Alden's second review of ECMWF AIFS PR #449
  docs/dataset_integration_guide.md
  pyproject.toml
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/convective_precipitation_rate_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_500hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/precipitable_water_atmosphere/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/precipitation_rate_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/pressure_reduced_to_mean_sea_level/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/pressure_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/temperature_2m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_u_100m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_v_100m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
  tests/ecmwf/aifs_deterministic/forecast/dynamical_dataset_test.py
  uv.lock
Due: ty

Handle pre-v12 Iowa Mesonet GRIB2 files with 2 bands
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
Due: ty

Reduce MRMS chunk/shard sizes to stay under 60GB shared memory
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_pass_1_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_radar_only_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
Due: ty

Bump dataset version to 0.2.0 and regenerate template
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
Due: ty

Add NASA IMERG source exploration report
  plans/nasa-imerg-source-exploration.md
Due: none

Update IMERG report: V07 Intermediate subgroup variables, version history
  plans/nasa-imerg-source-exploration.md
Due: none

Fix test shard slice bounds after spatial shard size reduction
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Remove update progress tracker and all references
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/update_progress_tracker.py
  src/reformatters/common/zarr.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  tests/common/test_update_progress_tracker.py
  tests/common/test_zarr.py
Due: ty, generate-manual-workflows

Remove update progress tracker
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/update_progress_tracker.py
  src/reformatters/common/zarr.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  tests/common/test_update_progress_tracker.py
  tests/common/test_zarr.py
Due: ty, generate-manual-workflows

Remove update progress tracker (#476)
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/update_progress_tracker.py
  src/reformatters/common/zarr.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  tests/common/test_update_progress_tracker.py
  tests/common/test_zarr.py
Due: ty, generate-manual-workflows

Fix ~2x peak memory in _read_into_data_array by clearing Future._result
  src/reformatters/common/region_job.py
Due: ty

Simplify future result clearing: use finally block, inline result()
  src/reformatters/common/region_job.py
Due: ty

Move comment to above the line it explains
  src/reformatters/common/region_job.py
Due: ty

Fix ~2x peak memory in _read_into_data_array by clearing Future._result (#477)
  src/reformatters/common/region_job.py
Due: ty
