Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Rewrite virtual icechunk plan after design review
  docs/plans/virtual_icechunk_datasets.md
Due: none

Address review notes on virtual icechunk plan
  docs/plans/virtual_icechunk_datasets.md
Due: none

Don't bake in source-file packing assumptions
  docs/plans/virtual_icechunk_datasets.md
Due: none

Use IcechunkStore.exists(key) for filter ref-presence check
  docs/plans/virtual_icechunk_datasets.md
Due: none

Encoding rules: chunks match GRIB message shape, broader examples
  docs/plans/virtual_icechunk_datasets.md
Due: none

Reframe per-file atomicity as a feature, not a caveat
  docs/plans/virtual_icechunk_datasets.md
Due: none

Drop the 'corruption class' framing from reader safety
  docs/plans/virtual_icechunk_datasets.md
Due: none

Spell out replica-then-primary recovery semantics
  docs/plans/virtual_icechunk_datasets.md
Due: none

s/first-customer/first-user/
  docs/plans/virtual_icechunk_datasets.md
Due: none

Add MRMS 2-minute analysis to the candidate datasets table
  docs/plans/virtual_icechunk_datasets.md
Due: none

Commit on every yield; drop max_seconds_between_commits
  docs/plans/virtual_icechunk_datasets.md
Due: none

Plan: Virtual Icechunk datasets (#621)
  docs/plans/virtual_icechunk_datasets.md
Due: none

Extract MaterializedRegionJob from RegionJob
  src/reformatters/common/region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/region_job_test.py
  tests/common/test_parallel_writes.py
Due: ty

docs: describe RegionJob / MaterializedRegionJob split
  AGENTS.md
  docs/dataset_integration_guide.md
Due: none

Fix noisy multi-dimensional coord logging in validation
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Remove explanatory comment in _summarize_coords
  src/reformatters/common/validation.py
Due: ty

Fix multi-dimensional coordinate summarization in validation (#644)
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

docs(plan): fold virtual-icechunk spike results into the plan
  docs/plans/virtual_icechunk_datasets.md
Due: none

docs(plan): fold virtual-icechunk spike results into the plan (#645)
  docs/plans/virtual_icechunk_datasets.md
Due: none

Address PR review: repr class name, docstring, doc wording
  AGENTS.md
  docs/dataset_integration_guide.md
  src/reformatters/common/region_job.py
Due: ty

Extract MaterializedRegionJob from RegionJob (virtual datasets PR 1/6) (#643)
  AGENTS.md
  docs/dataset_integration_guide.md
  src/reformatters/common/region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/region_job_test.py
  tests/common/test_parallel_writes.py
Due: ty

Prep for virtual icechunk datasets (virtual datasets PR 2/6)
  docs/plans/virtual_icechunk_datasets.md
  pyproject.toml
  src/reformatters/common/config_models.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_config_models.py
  tests/common/test_storage.py
  tests/common/test_template_utils.py
  tests/ecmwf/test_ecmwf_grib_index.py
  uv.lock
Due: ty, generate-manual-workflows

Address PR review: rename + relocate virtual config helpers, assert S3 sources
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_storage.py
  tests/common/test_template_utils.py
Due: ty, generate-manual-workflows

Use a single GribberishCodec instance as the serializer test's source of truth
  tests/common/test_template_utils.py
Due: ty

Prep for virtual icechunk datasets (virtual datasets PR 2/6) (#647)
  docs/plans/virtual_icechunk_datasets.md
  pyproject.toml
  src/reformatters/common/config_models.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_config_models.py
  tests/common/test_storage.py
  tests/common/test_template_utils.py
  tests/ecmwf/test_ecmwf_grib_index.py
  uv.lock
Due: ty, generate-manual-workflows

Fix zero-filled easternmost longitude column in GEFS a/b GRIB upsampling (#632)
  src/reformatters/noaa/gefs/read_data.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/read_data_test.py
Due: ty

Add VirtualRegionJob + virtual driver fork (virtual datasets PR 3/6)
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/storage.py
  tests/common/test_storage.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Lift virtual operational update out of _process_region_jobs
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Address PR review: remove process from base, drop deadline, tidy comments
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Address PR review: repo accessor split, drop cast, simplify VirtualRef
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/region_job.py
  src/reformatters/common/storage.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Harden virtual region job: per-store resize, config + buffer guards
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Extract per-worker processing seam onto RegionJob
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
Due: ty, generate-manual-workflows

Extract per-worker processing seam onto RegionJob (#649)
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
Due: ty, generate-manual-workflows

Add VirtualRegionJob on the worker-processing seam (virtual datasets PR 3b)
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/region_job.py
  src/reformatters/common/storage.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Reorder VirtualRegionJob methods by audience and level
  src/reformatters/common/region_job.py
Due: ty

Address PR review: doc trims, method moves, single-writer doc
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/storage.py
Due: ty, generate-manual-workflows

docs(plan): add running implementation notes & decision log
  docs/plans/virtual_icechunk_datasets.md
Due: none

Address PR review: template-authoritative chunks, virtual guards
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

docs(plan): log review-round-2 decisions
  docs/plans/virtual_icechunk_datasets.md
Due: none

Move max_vars_per_job lock onto VirtualRegionJob via ty Final
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows
