Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Document strict MARS field-count proposal and legacy split compatibility
  docs/ifs_ens_mars_request_completeness.md
Due: none

Preserve permissive discovery probes in MARS proposal
  docs/ifs_ens_mars_request_completeness.md
Due: none

Upgrade gribberish to 1.8.1 (#1169)
  pyproject.toml
  src/reformatters/common/config_models.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  src/reformatters/noaa/gfs/virtual_template_config.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/template_utils_test.py
  tests/common/virtual_region_job_test.py
  uv.lock
Due: ty

Remove unused numba type ignores
  src/reformatters/common/binary_rounding.py
  src/reformatters/common/deaccumulation.py
  src/reformatters/common/interpolation.py
Due: ty

Validate ICON-EU archive completeness after source expiry (#1170)
  src/reformatters/common/rclone.py
  src/reformatters/dwd/README.md
  src/reformatters/dwd/archive_gribs/copy_icosahedral_files_from_dwd.py
  tests/common/rclone_test.py
  tests/dwd/archive_gribs/copy_icosahedral_files_from_dwd_test.py
Due: ty

Correct RRFS radar missing-value metadata
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/hourly_maximum_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/maximum_derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/hourly_maximum_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/maximum_derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/variables.py
  tests/noaa/rrfs/fixtures/echo-top-no-echo.grib2
  tests/noaa/rrfs/fixtures/echo-top-no-echo.json
  tests/noaa/rrfs/source_oracle_test.py
Due: ty

Clarify GRIB window label units
  src/reformatters/noaa/noaa_grib_index.py
Due: ty

Defer RRFS fields requiring complex-packing missing-value support
  src/reformatters/noaa/refs/forecast_virtual/dynamical_dataset.py
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/aerosol_optical_thickness_atmosphere/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/wildfire_potential_surface/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/maximum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/minimum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/potential_evaporation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/specific_humidity_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/maximum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/minimum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/potential_evaporation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/specific_humidity_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/variables.py
  tests/noaa/rrfs/decoder_test.py
  tests/noaa/rrfs/dynamical_dataset_test.py
  tests/noaa/rrfs/fixtures/missing_management_sources.json
  tests/noaa/rrfs/fixtures/vegmax-all-missing.grib2
  tests/noaa/rrfs/fixtures/vegmin-all-missing.grib2
  tests/noaa/rrfs/region_job_test.py
  tests/noaa/rrfs/template_config_test.py
Due: ty, generate-manual-workflows

Preserve forecast metadata and tighten RRFS configuration
  docs/noaa_rrfs.md
  docs/virtual_datasets.md
  src/reformatters/noaa/models.py
  src/reformatters/noaa/noaa_grib_index.py
  src/reformatters/noaa/projected_forecast_template_config.py
  src/reformatters/noaa/refs/forecast_virtual/dynamical_dataset.py
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/lead_time/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/pressure_level/lead_time/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/wildfire_potential_surface/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/depth_below_ground/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/height_above_mean_sea_level/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/pressure_level/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/wildfire_potential_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/depth_below_ground/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/height_above_mean_sea_level/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/pressure_level/lead_time/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/wildfire_potential_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/dynamical_dataset.py
  src/reformatters/noaa/rrfs/forecast_sub_hourly_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/template_config.py
  src/reformatters/noaa/rrfs/variables.py
  tests/noaa/noaa_grib_index_test.py
  tests/noaa/rrfs/decoder_test.py
  tests/noaa/rrfs/template_config_test.py
Due: ty, generate-manual-workflows

Include RRFS fields awaiting decoder missing-value fixes
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/maximum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/minimum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/potential_evaporation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/specific_humidity_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/maximum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/minimum_vegetation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/potential_evaporation_rate_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/potential_evaporation_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/specific_humidity_surface/zarr.json
  src/reformatters/noaa/rrfs/forecast_84_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/rrfs/variables.py
  src/reformatters/noaa/rrfs_ens/forecast_virtual/templates/latest.zarr/aerosol_optical_thickness_atmosphere/zarr.json
  src/reformatters/noaa/rrfs_ens/forecast_virtual/templates/latest.zarr/wildfire_potential_surface/zarr.json
  src/reformatters/noaa/rrfs_ens/forecast_virtual/templates/latest.zarr/zarr.json
  tests/noaa/rrfs/decoder_helpers.py
  tests/noaa/rrfs/decoder_test.py
  tests/noaa/rrfs/region_job_test.py
  tests/noaa/rrfs/source_oracle_test.py
  tests/noaa/rrfs/template_config_test.py
Due: ty

Clarify the decoder regression failure reason
  tests/noaa/rrfs/decoder_test.py
Due: ty

Verify RRFS decoder fixes and align inline validation
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/noaa/rrfs/dynamical_dataset.py
  tests/common/current_data_deadline_test.py
  tests/noaa/rrfs/decoder_test.py
  tests/noaa/rrfs/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Fix MRMS FLASH NCEP fallback directory
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Fix MRMS FLASH NCEP fallback directory (#1173)
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Support sixth SMAP source-file revision
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  tests/contrib/nasa/smap/level3_36km_v9/region_job_test.py
Due: ty

Allow SMAP source-file revisions through 009
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  tests/contrib/nasa/smap/level3_36km_v9/region_job_test.py
Due: ty

Support SMAP source-file revisions through 009 (#1174)
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  tests/contrib/nasa/smap/level3_36km_v9/region_job_test.py
Due: ty

Start GEFS 35-day virtual updates before extension completion
  docs/virtual_datasets.md
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/region_job.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Add opt-in planning for materialized forecast updates
  deploy/trigger-binding-deployer.yaml
  docs/ops_card.md
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/kubernetes_security.py
  src/reformatters/common/source_availability.py
  tests/common/deploy_test.py
  tests/common/dynamical_dataset_test.py
  tests/common/kubernetes_security_test.py
  tests/common/kubernetes_test.py
  tests/common/source_availability_test.py
Due: ty, generate-manual-workflows

Trigger materialized forecasts from source-ready virtual updates
  docs/virtual_datasets.md
  src/reformatters/common/materialized_update_trigger.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/region_job.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/region_job.py
  tests/common/materialized_update_trigger_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Start GEFS 35-day virtual updates before extension completion (#1175)
  docs/virtual_datasets.md
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/region_job.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Shorten ECMWF HTTP 404 fallback warnings
  src/reformatters/ecmwf/ecmwf_utils.py
  tests/ecmwf/ecmwf_utils_test.py
Due: ty

Simplify ECMWF 404 warning classification
  src/reformatters/ecmwf/ecmwf_utils.py
  tests/ecmwf/ecmwf_utils_test.py
Due: ty

Shorten ECMWF HTTP 404 fallback warnings (#1180)
  src/reformatters/ecmwf/ecmwf_utils.py
  tests/ecmwf/ecmwf_utils_test.py
Due: ty

Aggregate recovered IFS ENS GCS fallbacks per processing group
  src/reformatters/common/materialized_region_job.py
  src/reformatters/ecmwf/ecmwf_utils.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ecmwf_utils_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Summarize IMERG candidate download failures per sweep
  src/reformatters/nasa/imerg/region_job.py
  tests/nasa/imerg/region_job_test.py
Due: ty

Remove per-candidate provider fallback warnings
  src/reformatters/ecmwf/ecmwf_utils.py
  src/reformatters/nasa/imerg/region_job.py
  tests/ecmwf/ecmwf_utils_test.py
  tests/nasa/imerg/region_job_test.py
Due: ty

Remove per-candidate provider fallback warnings (#1183)
  src/reformatters/ecmwf/ecmwf_utils.py
  src/reformatters/nasa/imerg/region_job.py
  tests/ecmwf/ecmwf_utils_test.py
  tests/nasa/imerg/region_job_test.py
Due: ty

Enable scheduled RRFS updates
  src/reformatters/noaa/rrfs/dynamical_dataset.py
  tests/noaa/rrfs/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Enable scheduled RRFS updates (#1184)
  src/reformatters/noaa/rrfs/dynamical_dataset.py
  tests/noaa/rrfs/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Remove duplicate REFS temperature mean arrays
  docs/virtual_datasets.md
  src/reformatters/noaa/refs/forecast_virtual/template_config.py
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_2m_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_500hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_500hpa_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_700hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_700hpa_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_850hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_850hpa_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_925hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_925hpa_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/soil_temperature_0m/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/soil_temperature_0m_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_250hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_250hpa_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_2m/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_2m_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_500hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_500hpa_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_700hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_700hpa_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_850hpa_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_925hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_925hpa_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_surface/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_surface_mean/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/variables.py
  tests/noaa/refs/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/refs/forecast_virtual/region_job_test.py
  tests/noaa/refs/forecast_virtual/source_evidence_test.py
  tests/noaa/refs/forecast_virtual/template_config_test.py
Due: ty

Clarify unpopulated REFS temperature statistic slices
  src/reformatters/noaa/refs/forecast_virtual/template_config.py
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_500hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_700hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_850hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/dew_point_temperature_925hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/soil_temperature_0m/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_250hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_2m/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_500hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_700hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_925hpa/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/temperature_surface/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/refs/forecast_virtual/variables.py
  tests/noaa/refs/forecast_virtual/template_config_test.py
Due: ty
