Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Carry the GEFS categorical codes only in flag_values and flag_meanings
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/categorical_freezing_rain_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/categorical_ice_pellets_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/categorical_rain_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/categorical_snow_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/template_config_test.py
Due: ty

Follow the GEFS virtual base onto the shared NOAA region job
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/template_config_test.py
  tests/noaa/gefs/virtual_template_config_test.py
Due: ty

Trim the GEFS window sequence docstring to its contract
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/soil_temperature_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Carry the analysis review onto the 10 day virtual
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Start the GEFS virtual forecasts where the materialized forecast does
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/init_time/c/0
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/init_time/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/template_config_test.py
Due: ty

Trim the GEFS 10 day virtual comments to their timeless facts
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Fail on a GEFS lead spacing the window wording cannot describe
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/virtual_template_config_test.py
Due: ty

Apply review findings to the GEFS 10 day virtual forecast
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Test the GEFS 10 day 0.25 degree virtual forecast
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/__init__.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20200923T12_c00_f000.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20200923T12_c00_f003.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20200923T12_c00_f240.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20200923T12_p01_f240.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20210720T06_c00_f003.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20210720T06_p30_f240.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20210720T12_c00_f000.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20210720T12_c00_f003.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20210720T12_c00_f240.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20221018T06_c00_f003.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20221018T06_p01_f120.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20221018T12_c00_f000.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20221018T12_c00_f003.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20221018T12_c00_f240.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20260828T00_c00_f000.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20260828T00_c00_f003.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20260828T00_c00_f120.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20260828T00_c00_f240.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20260828T00_p01_f003.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/idx_fixtures/20260828T00_p30_f237.idx
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/region_job_test.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Apply review to the 10 day virtual's cron and validators
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/analysis_0_25_degree_virtual/template_config_test.py
  tests/noaa/gefs/virtual_template_config_test.py
Due: ty, generate-manual-workflows

Stub the GEFS 10 day virtual file_refs tests' source file reads
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/region_job_test.py
Due: ty

Follow the GFS catalog's ozone units and gravity wave sign convention
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/eastward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/northward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/total_ozone_atmosphere/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Declare the Haines index flag values on the GEFS 0.5 degree catalog
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/haines_index_surface/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Stub the GEFS 16 day virtual file_refs tests' source file reads
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/region_job_test.py
Due: ty

Declare the 16 day's source file types as an ordered tuple
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/template_config.py
Due: ty

Carry the analysis review onto the 16 day virtual
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/height_above_mean_sea_level/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/large_scale_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/water_runoff_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Name both spans of the lead time axis in forecast_resolution
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/height_above_mean_sea_level/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/template_config_test.py
  tests/noaa/gefs/virtual_template_config_test.py
Due: ty

Separate the 16 day name's qualifiers with commas
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/height_above_mean_sea_level/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/template_config_test.py
Due: ty

Follow the GFS catalog's convective precipitation naming
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Add the GEFS 0.5 degree a and b file catalog and its vertical groups
  src/reformatters/common/config_models.py
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Stub the GEFS 35 day virtual file_refs tests' source file reads
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/region_job_test.py
Due: ty

Separate the 35 day name's qualifiers with commas
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/height_above_mean_sea_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/template_config_test.py
Due: ty

Declare the shared a and b base's source file types as a tuple
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Halve the GEFS 35 day virtual's manifest count
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Carry the analysis review onto the 35 day virtual
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/haines_index_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/height_above_mean_sea_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/large_scale_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/model_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/water_runoff_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/virtual_template_config_test.py
Due: ty, generate-manual-workflows

Regenerate the 35 day template for the ozone and gravity wave metadata
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/eastward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/northward_gravity_wave_surface_stress/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/total_ozone_atmosphere/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
Due: none

Document virtual backfill sizing
  .github/workflows/manual-backfill.yml
  docs/backfill.md
Due: none

Add stale job artifact cleanup script
  docs/ops_card.md
  src/reformatters/common/kubernetes.py
  src/reformatters/common/storage.py
  src/scripts/cleanup_job_artifacts.py
  tests/common/kubernetes_test.py
  tests/scripts/cleanup_job_artifacts_test.py
Due: ty

Tighten CHIRPS code and comments per style review
  src/reformatters/ucsb_chc/chirps/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/region_job.py
  src/reformatters/ucsb_chc/chirps/template_config.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
  tests/ucsb_chc/chirps/region_job_test.py
  tests/ucsb_chc/chirps/template_config_test.py
Due: ty, generate-manual-workflows

Clarify virtual backfill sizing example
  docs/backfill.md
Due: none

Document GEFS soil ice and helicity conventions
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/analysis_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/storm_relative_helicity_3000_0m/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Cover the job cleanup refusal paths and the storage it does not free
  docs/ops_card.md
  src/reformatters/common/kubernetes.py
  src/scripts/cleanup_job_artifacts.py
  tests/common/kubernetes_test.py
  tests/scripts/cleanup_job_artifacts_test.py
Due: ty

Apply final review fixes to the GEFS 16 day virtual
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/template_config.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gefs/virtual_region_job.py
  src/reformatters/noaa/gefs/virtual_template_config.py
  tests/noaa/gefs/gefs_config_models_test.py
Due: ty, generate-manual-workflows

Fix GFS pgrb2b ingestion probe
  src/reformatters/noaa/gfs/virtual_region_job.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
  tests/noaa/gfs/forecast_virtual/region_job_test.py
Due: ty

Correct GFS representative probe docstring
  src/reformatters/noaa/gfs/virtual_region_job.py
Due: ty

Raise the GEFS precipitation deaccumulation clamp allowance
  src/reformatters/common/deaccumulation.py
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/analysis/region_job_test.py
Due: ty
