Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Rework prototype to resize dataset when adding new init times
  prototypes/gfs_icechunk_virtual.py
  reports/gfs_icechunk_virtual_prototype.md
Due: ty

Add reader section to GFS icechunk virtual prototype
  prototypes/gfs_icechunk_virtual.py
  reports/gfs_icechunk_virtual_prototype.md
Due: ty

Update AIFS deterministic forecast cron schedules based on S3 data availability
  src/reformatters/ecmwf/aifs_deterministic/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Remove suspend flags from AIFS deterministic forecast cronjobs
  src/reformatters/ecmwf/aifs_deterministic/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix wind_gust_10m NaN at lead times 93h-144h by resolving ECMWF index param name
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Fix stale docstring for grib_index_param_lead_time_overrides
  src/reformatters/ecmwf/ecmwf_config_models.py
Due: ty

Clean up EcmwfInternalAttrs docstring: move field docs to inline comments
  src/reformatters/ecmwf/ecmwf_config_models.py
Due: ty

Update comment for grib_element/grib_description fields
  src/reformatters/ecmwf/ecmwf_config_models.py
Due: ty

Move grib_element/grib_description comments inline
  src/reformatters/ecmwf/ecmwf_config_models.py
Due: ty

Fix wind_gust_10m NaN at lead times 93h-144h by resolving ECMWF index param name (#517)
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Tune deaccumulation clamp and invalid fraction alert thresholds (#514)
  src/reformatters/common/deaccumulation.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  tests/common/test_deaccumulation.py
Due: ty

Tune deaccumulation clamp and invalid fraction alert thresholds (#514) (#518)
  src/reformatters/common/deaccumulation.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  tests/common/test_deaccumulation.py
Due: ty

Finish DWD ICON-EU forecast integration
  docs/dataset_integration_guide.md
  pyproject.toml
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast/region_job.py
  src/reformatters/dwd/icon_eu/forecast/template_config.py
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/init_time/c/0
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/init_time/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/precipitable_water_atmosphere/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/pressure_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/zarr.json
  tests/dwd/icon_eu/forecast/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast/region_job_test.py
  tests/dwd/icon_eu/forecast/template_config_test.py
  uv.lock
Due: ty, generate-manual-workflows

Remove unused cfgrib and eccodes dev dependencies
  pyproject.toml
  uv.lock
Due: none

Schedule ICON-EU reformat earlier by reading from DWD directly
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix dataset name and reduce update pod deadline to 15 minutes
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
Due: ty, generate-manual-workflows

Add post-update point value assertions to ICON-EU backfill test
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty

Use S3 HTTPS endpoint for Source Co-Op downloads and fix fallback error handling
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Add flash_qpe_ffg_max_surface variable to MRMS CONUS analysis
  docs/add_new_variable.md
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/flash_qpe_ffg_max_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty, generate-manual-workflows

Add flash_qpe_ffg_max_surface variable to MRMS CONUS analysis (#520)
  docs/add_new_variable.md
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/flash_qpe_ffg_max_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty, generate-manual-workflows

Set flash_qpe_ffg_max_surface nan threshold to 86% based on observed quarter sampling values
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Set flash_qpe_ffg_max_surface nan threshold to 86% based on observed quarter sampling values (#521)
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update MRMS flash_qpe_ffg_max_surface metadata: ratio → percentage
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/flash_qpe_ffg_max_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
Due: ty

Update MRMS flash_qpe_ffg_max_surface metadata: ratio → percentage (#522)
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/flash_qpe_ffg_max_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
Due: ty

Keep operational update and validate jobs suspended until backfill
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
Due: ty, generate-manual-workflows

Spatial validation memory optimization for very high res datasets
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/report_nulls.py
Due: ty

Spatial validation memory optimization for very high res datasets (#523)
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/report_nulls.py
Due: ty

Add cron_job_name filter to _monitor for datasets with multiple CronJob types
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Add cron_job_name filter to _monitor for datasets with multiple CronJob types (#524)
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Add dataset registry and CLI test coverage
  tests/datasets_test.py
Due: ty

Remove module docstring from datasets_test.py
  tests/datasets_test.py
Due: ty

Add dataset registry and CLI test coverage (#525)
  tests/datasets_test.py
Due: ty

Add NOAA RRFS source data exploration notes
  docs/noaa_rrfs_exploration.md
Due: none

Add unit tests for untested common modules
  tests/common/test_config.py
  tests/common/test_config_models.py
  tests/common/test_pydantic.py
  tests/common/test_time_utils.py
Due: ty

Add unit tests for untested common modules (#526)
  tests/common/test_config.py
  tests/common/test_config_models.py
  tests/common/test_pydantic.py
  tests/common/test_time_utils.py
Due: ty

Fix bugs and improve test coverage in ICON-EU implementation
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Fix bugs and improve test coverage in ICON-EU implementation (#527)
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
