Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Add notify-stac workflow
  .github/workflows/notify-stac.yml
Due: none

Fix ICON-EU 5-day latitude orientation; add Source Co-Op replica (v0.2.0)
  src/reformatters/__main__.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty, generate-manual-workflows

Use descending latitude coord instead of flipping data
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/latitude/c/0
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
  tests/dwd/icon_eu/forecast_5_day/template_config_test.py
Due: ty

Drop redundant ICON-EU orientation slow test at region_job layer
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Comment cleanup
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
Due: ty

Icon eu lat north v0.2 (#573)
  src/reformatters/__main__.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/latitude/c/0
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
  tests/dwd/icon_eu/forecast_5_day/template_config_test.py
Due: ty, generate-manual-workflows

Rework validation plots for per-variable output and add docs/validation.md
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
  docs/validation.md
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
Due: ty

Reduce ECMWF IFS ENS parallelism to 20
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Add license attribute to DatasetAttributes
  src/reformatters/common/config_models.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/template_config.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/templates/latest.zarr/zarr.json
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/template_config.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/contrib/uarizona/swann/analysis/template_config.py
  src/reformatters/contrib/uarizona/swann/analysis/templates/latest.zarr/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
  src/reformatters/example/template_config.py
  src/reformatters/noaa/gefs/analysis/template_config.py
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/analysis/template_config.py
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/template_config.py
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/test_config_models.py
  tests/noaa/hrrr/template_config_test.py
Due: ty

Add license to dataset metadata + adjust IFS ENS parallelism (#575)
  src/reformatters/common/config_models.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/template_config.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/templates/latest.zarr/zarr.json
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/template_config.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/contrib/uarizona/swann/analysis/template_config.py
  src/reformatters/contrib/uarizona/swann/analysis/templates/latest.zarr/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
  src/reformatters/example/template_config.py
  src/reformatters/noaa/gefs/analysis/template_config.py
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/analysis/template_config.py
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/template_config.py
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/test_config_models.py
  tests/noaa/hrrr/template_config_test.py
Due: ty, generate-manual-workflows

Update ECMWF license value to CC-BY-4.0-and-ECMWF-Terms-of-Use
  src/reformatters/common/config_models.py
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
Due: ty

Use SPDX identifier CC-BY-4.0 for all dataset licenses
  src/reformatters/common/config_models.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/template_config.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/templates/latest.zarr/zarr.json
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/template_config.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/contrib/uarizona/swann/analysis/template_config.py
  src/reformatters/contrib/uarizona/swann/analysis/templates/latest.zarr/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
  src/reformatters/example/template_config.py
  src/reformatters/noaa/gefs/analysis/template_config.py
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/analysis/template_config.py
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/template_config.py
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/test_config_models.py
  tests/noaa/hrrr/template_config_test.py
Due: ty

Update to SPDX CC-BY-4.0 for all datasets (#576)
  src/reformatters/common/config_models.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/template_config.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/templates/latest.zarr/zarr.json
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/template_config.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/contrib/uarizona/swann/analysis/template_config.py
  src/reformatters/contrib/uarizona/swann/analysis/templates/latest.zarr/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
  src/reformatters/example/template_config.py
  src/reformatters/noaa/gefs/analysis/template_config.py
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/analysis/template_config.py
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/template_config.py
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/test_config_models.py
  tests/noaa/hrrr/template_config_test.py
Due: ty

Return Sequence[CronJob] from operational_kubernetes_resources
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_parallel_writes.py
  tests/deploy_test.py
Due: ty, generate-manual-workflows

Fix name capitalization for DWD ICON-EU forecast, 5 day
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
Due: ty

Fix name capitalization for DWD ICON-EU forecast, 5 day (#578)
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
Due: ty

Remove Source Coop zarr replica for DWD ICON-EU forecast
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Remove Source Coop zarr replica for DWD ICON-EU forecast (#579)
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Combine icechunk cleanup and list scripts into icechunk_utils.py
  src/scripts/icechunk_utils.py
Due: ty

Combine icechunk cleanup and list scripts into icechunk_utils.py (#580)
  src/scripts/icechunk_utils.py
Due: ty

Add IMERG V08 availability source-exploration report
  reports/nasa_imerg_v8_availability.md
Due: none

Fix ruff formatting in example region job
  src/reformatters/example/region_job.py
Due: ty

Upgrade project runtime to Python 3.14
  .python-version
  deploy/Dockerfile
  pyproject.toml
  src/reformatters/common/config_models.py
  src/reformatters/common/region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  uv.lock
Due: ty

Bump pydantic to 2.13.3 and restore lock revision 3
  uv.lock
Due: none

Upgrade project runtime to Python 3.14 (#581)
  .python-version
  deploy/Dockerfile
  pyproject.toml
  src/reformatters/common/config_models.py
  src/reformatters/common/region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  uv.lock
Due: ty

validation.md review
  docs/validation.md
Due: none

Tighten AIFS ENS update cron to 3 min after observed publish (H+5h47m)
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Rework validation plots for per-variable output and add docs/validation.md (#574)
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
Due: ty

Add slow integration snapshot test for AIFS ENS backfill + update
  tests/ecmwf/aifs_ens/forecast/dynamical_dataset_test.py
Due: ty

Use icechunk amend for intermediate writes on temp job branch
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/storage.py
Due: ty, generate-manual-workflows

Update FakeSession test double to support amend/rebase
  tests/common/test_parallel_coordination.py
Due: ty

Address PR review: tune AIFS ENS k8s/job sizing and add real-data download tests
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  tests/ecmwf/aifs_ens/forecast/region_job_test.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
Due: ty, generate-manual-workflows

Scope slow real-data tests to a single grib file
  tests/ecmwf/aifs_ens/forecast/region_job_test.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
Due: ty

Fix AIFS ENS validate cron to cover 00z init (use */6)
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Set suspend=True on AIFS ENS update and validate cron jobs
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Apply Option G chunk/shard layout (lat shards 384, lon shards 288)
  src/reformatters/ecmwf/aifs_ens/forecast/template_config.py
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/geopotential_height_850hpa/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/geopotential_height_925hpa/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/pressure_reduced_to_mean_sea_level/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/pressure_surface/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/temperature_2m/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/temperature_925hpa/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/wind_u_100m/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/wind_v_100m/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/zarr.json
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
