Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Fix download cleanup race causing pass_2 and radar_only all-NaN
  src/reformatters/common/region_job.py
Due: ty

Rename EcmwfAifsForecast* to EcmwfAifsDeterministicForecast*, fix cron schedules, improve tests
  src/reformatters/__main__.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/__init__.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/region_job.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  tests/ecmwf/aifs_deterministic/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_deterministic/forecast/region_job_test.py
  tests/ecmwf/aifs_deterministic/forecast/template_config_test.py
Due: ty, generate-manual-workflows

Fix MRMS download race: use per-variable local_path_suffix for unique file paths
  src/reformatters/common/region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Fix MRMS download race via data_var_name suffix on source coord
  src/reformatters/common/region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Simplify MRMS race fix: required data_var_name, per-group cleanup restored
  src/reformatters/common/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

Restore cleanup comment in region_job.py
  src/reformatters/common/region_job.py
Due: ty

Fix download cleanup race causing pass_2 and radar_only all-NaN (#499)
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

Tune MRMS validators for expected radar only nan fraction Radar only is ~%34 nan always. With quarter sampling this can get as high as 62.2%. It is available at all timestamps.
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Tune MRMS validators for expected radar only nan fraction (#500)
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Raise MRMS precipitation_surface max NaN threshold from 35% to 40%
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Raise MRMS precipitation_surface max NaN threshold from 35% to 40% (#501)
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update README.md
  README.md
Due: none

Update README.md (#502)
  README.md
Due: none

Raise MRMS gauge_latency_vars NaN threshold from 40% to 48%
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Rename EcmwfAifsForecast* to EcmwfAifsDeterministicForecast*, fix cron schedules, improve tests (#498)
  src/reformatters/__main__.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/__init__.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/region_job.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  tests/ecmwf/aifs_deterministic/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_deterministic/forecast/region_job_test.py
  tests/ecmwf/aifs_deterministic/forecast/template_config_test.py
Due: ty, generate-manual-workflows

Raise MRMS gauge_latency_vars NaN threshold from 40% to 48% (#503)
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix latitude chunk/shard sizes to avoid tiny tail shards
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_height_850hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_height_925hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/pressure_reduced_to_mean_sea_level/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/pressure_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/temperature_2m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/temperature_925hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_u_100m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_v_100m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/zarr.json
Due: ty

Remove restriction preventing icechunk as primary storage
  src/reformatters/common/storage.py
Due: ty

Remove restriction preventing icechunk as primary storage (#505)
  src/reformatters/common/storage.py
Due: ty

Finish DWD ICON-EU forecast integration
  docs/dataset_integration_guide.md
  pyproject.toml
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast/region_job.py
  src/reformatters/dwd/icon_eu/forecast/template_config.py
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/init_time/c/0
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/init_time/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/precipitable_water_atmosphere/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/pressure_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/zarr.json
  tests/dwd/icon_eu/forecast/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast/region_job_test.py
  tests/dwd/icon_eu/forecast/template_config_test.py
  uv.lock
Due: ty, generate-manual-workflows

Deduplicate _parse_index_file index column construction
  src/reformatters/ecmwf/ecmwf_grib_index.py
Due: ty

Replace ecmwf_utils with vars_available in ecmwf_config_models
  src/reformatters/ecmwf/aifs_deterministic/forecast/region_job.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ecmwf_utils.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Minor AIFS cleanup: docstring, forecast_resolution wording, template update
  src/reformatters/__main__.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/zarr.json
Due: ty, generate-manual-workflows

Improve AIFS URL tests, simplify integration guide, drop boto3 dev dep
  docs/dataset_integration_guide.md
  pyproject.toml
  tests/ecmwf/aifs_deterministic/forecast/region_job_test.py
  uv.lock
Due: ty

Move ecmwf_utils tests to test_ecmwf_config_models, add vars_available tests
  tests/ecmwf/test_ecmwf_config_models.py
Due: ty

Remove unused cfgrib and eccodes dev dependencies
  pyproject.toml
  uv.lock
Due: none

Schedule ICON-EU reformat earlier by reading from DWD directly
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Deaccumulate AIFS precipitation and radiation variables
  src/reformatters/ecmwf/aifs_deterministic/forecast/region_job.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/zarr.json
  tests/ecmwf/aifs_deterministic/forecast/dynamical_dataset_test.py
Due: ty

Add slow test validating MARS-staged GRIB data from source.coop
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Add MARS archive support to IFS ENS reformatter with full pipeline test
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Add virtual zarr + icechunk prototype
  prototypes/virtual_zarr_icechunk.py
  prototypes/virtual_zarr_icechunk_results.md
Due: ty

Add direct GRIB virtualization using gribberish
  prototypes/virtual_grib_gribberish.py
  prototypes/virtual_zarr_icechunk_results.md
Due: ty

Update report: deep comparison, mixed storage, partial writes analysis
  prototypes/virtual_zarr_icechunk_results.md
Due: none

Simplify partial writes section: zarr hypercube handles pre-allocation
  prototypes/virtual_zarr_icechunk_results.md
Due: none

Add simplified pipeline to top of report: idx files + set_virtual_ref
  prototypes/virtual_zarr_icechunk_results.md
Due: none

Reuse TemplateConfig in virtual dataset setup
  prototypes/virtual_zarr_icechunk_results.md
Due: none

Note that GribberishCodec var param is unused at read time
  prototypes/virtual_zarr_icechunk_results.md
Due: none

Add GFS virtual icechunk dataset prototype
  prototypes/gfs_icechunk_virtual.py
  pyproject.toml
  reports/gfs_icechunk_virtual_prototype.md
  uv.lock
Due: ty

Add prototype_output/ to gitignore
  .gitignore
Due: none

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
