Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Opt every job out of node consolidation, not just updates
  src/reformatters/common/kubernetes.py
  tests/common/test_kubernetes.py
Due: ty

Install SIGTERM handler at CLI startup (#942)
  src/reformatters/__main__.py
  tests/common/deploy_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty, generate-manual-workflows

Start operational updates for eccc-hrdps-forecast
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Start operational updates for eccc-hrdps-forecast (#946)
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Add WeatherNext virtual reference identity
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/common/virtual_region_job_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/google/weathernext2/forecast_virtual/real_files_integration_test.py
Due: ty

Fix ECMWF 46-day pressure level axis order
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Document water-point behavior in AIFS Single virtual variables
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/runoff_water_equivalent_run_total_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/snow_area_fraction_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/soil_temperature_layer_1/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/soil_temperature_layer_2/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_layer_1/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_layer_2/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/zarr.json
Due: ty

Note lead time 0 NaN in HRDPS cloud cover and precipitation type comments
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/zarr.json
Due: ty

Document water-point behavior in AIFS Single virtual variables (#948)
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/runoff_water_equivalent_run_total_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/snow_area_fraction_surface/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/soil_temperature_layer_1/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/soil_temperature_layer_2/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_layer_1/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/volumetric_soil_moisture_layer_2/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/zarr.json
Due: ty

Cover the pressure level group with a backfill test
  tests/ecmwf/ifs_ens/forecast_46_day_dynamical_dataset_test.py
Due: ty

Name the gate analysis_usable_from
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/hrrr_config_models.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

Fix ECMWF 46-day pressure level axis order (#947)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/ifs_ens/forecast_46_day_dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Document BOM ACCESS-G/ACCESS-C source exploration
  docs/plans/bom_access_source_exploration.md
Due: none

Note lead time 0 NaN in HRDPS cloud cover and precipitation type comments (#949)
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/zarr.json
Due: ty

Let the backfill action run overwrite-metadata
  .github/workflows/manual-backfill.yml
Due: none

Let the backfill action run overwrite-metadata (#951)
  .github/workflows/manual-backfill.yml
Due: none

Add a tool to remove chunks and arrays from a store
  docs/backfill.md
  src/scripts/remove_refs.py
  tests/scripts/remove_refs_test.py
Due: ty

Adopt floating_ice_area_fraction for HRRR ice cover
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/ice_cover_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/ice_cover_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/ice_cover_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Drop the chunk removal tool
  docs/backfill.md
  src/scripts/remove_refs.py
  tests/scripts/remove_refs_test.py
Due: ty

Remove WeatherNext-specific virtual dataset docs
  docs/virtual_datasets.md
Due: none

Tighten comment
  src/reformatters/common/kubernetes.py
Due: ty

Address HRDPS no-HEAD review findings (#941)
  src/reformatters/eccc/README.md
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
  tests/eccc/hrdps/archive_gribs/copy_files_from_eccc_test.py
Due: ty

Opt every job out of node consolidation, not just updates (#945)
  src/reformatters/common/kubernetes.py
  tests/common/test_kubernetes.py
Due: ty

Satisfy ty 0.0.73 diagnostics
  src/reformatters/common/binary_rounding.py
  src/reformatters/common/config_models.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/validation.py
  tests/chunk_utils.py
Due: ty

Honor overwrite-chunks on virtual datasets
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Warn, don't abort, when a file misses its probe chunk
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Add R2 bucket and secret provisioning script
  deploy/cloudflare/create_new_r2_bucket.sh
Due: none

Require a Cloudflare API token only for minting R2 credentials
  deploy/cloudflare/create_new_r2_bucket.sh
Due: none

Remove R2 provisioning script
  deploy/cloudflare/create_new_r2_bucket.sh
Due: none

Point WeatherNext 2 storage at the provisioned R2 bucket
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Run ECMWF 46-day operational updates and validation
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  tests/ecmwf/ifs_ens/forecast_46_day_dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Run ECMWF 46-day operational updates and validation (#954)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  tests/ecmwf/ifs_ens/forecast_46_day_dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Give WeatherNext 2 geographic y/x 2D coordinates in validation tooling
  src/scripts/validation/utils.py
  tests/scripts/validation/utils_test.py
Due: ty

Label WeatherNext 2 longitudes in the reference convention for validation
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/utils.py
  tests/scripts/validation/utils_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
