Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Mrms precipitation surface expected invalid deaccum (#557)
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
Due: ty

Update backfill test to use renamed snow_water_equivalent_surface
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty

Avoid race on additional GRIB download in read_data
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Drop total downward shortwave derived variable
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Drop redundant previous_seconds comment
  src/reformatters/common/deaccumulation.py
Due: ty

Move no-else comment to where the else would sit
  src/reformatters/common/deaccumulation.py
Due: ty

Drop unevidenced expected_clamp_fraction override on ICON-EU radiation
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
Due: ty

Bunch of new variables for ICON-EU + derive total shortwave radiation + deaccumulation for running averages (#554)
  src/reformatters/common/deaccumulation.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/cloud_cover_high/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/cloud_cover_low/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/cloud_cover_medium/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/convective_available_potential_energy_atmosphere/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_diffuse_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_direct_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_gust_10m/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
  tests/common/test_deaccumulation.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Allow 25% clamp fraction for ICON-EU running-mean radiation deaccumulation
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
Due: ty

Unit test that expected_clamp_fraction and related kwargs are plumbed through
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Allow 25% clamp fraction for ICON-EU running-mean radiation deaccumulation (#559)
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Update icechunk to ~=2.0 and promote DWD ICON-EU Icechunk to primary
  pyproject.toml
  src/reformatters/__main__.py
  uv.lock
Due: ty, generate-manual-workflows

Update icechunk to ~=2.0 and promote DWD ICON-EU Icechunk to primary (#560)
  pyproject.toml
  src/reformatters/__main__.py
  uv.lock
Due: ty, generate-manual-workflows

Update zarr to 3.1.6 and add uv exclude-newer setting
  pyproject.toml
  uv.lock
Due: none

Upgrade project runtime to Python 3.14
  .python-version
  deploy/Dockerfile
  pyproject.toml
  src/reformatters/common/config_models.py
  src/reformatters/common/region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  uv.lock
Due: ty

Relax zarr constraint to ~=3.1
  pyproject.toml
  uv.lock
Due: none

Fill icechunk test gaps around primary-as-icechunk configurations
  tests/common/test_parallel_coordination.py
  tests/common/test_storage.py
Due: ty

Set Source Coop credentials for ICON-EU archive-grib-files job
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
Due: ty, generate-manual-workflows

Set Source Coop credentials for ICON-EU archive-grib-files job (#564)
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
Due: ty, generate-manual-workflows

Relock with exclude-newer applied
  uv.lock
Due: none

Remove icechunk storage scheme and dev-env test classes
  tests/common/test_storage.py
Due: ty

Fill small icechunk storage test gaps (#563)
  tests/common/test_parallel_coordination.py
  tests/common/test_storage.py
Due: ty

Remove exclude-newer and upgrade icechunk to 2.0.3
  pyproject.toml
  uv.lock
Due: none

Fix ruff formatting in example region job
  src/reformatters/example/region_job.py
Due: ty

Update zarr to 3.1.6 (#562)
  pyproject.toml
  uv.lock
Due: none

Clarify backfill metadata writes with parallel setup
  docs/parallel_processing.md
Due: none

Refine metadata write comments and parallel docs
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

docs: remove redundant python from uv run script commands
  README.md
  docs/add_new_variable.md
  docs/chunk_shard_layout_tool.md
  docs/dataset_integration_guide.md
Due: none

Clarify parallel_setup metadata targets in docs
  docs/parallel_processing.md
Due: none

docs: remove redundant python from uv run script commands (#566)
  README.md
  docs/add_new_variable.md
  docs/chunk_shard_layout_tool.md
  docs/dataset_integration_guide.md
Due: none

Clarify backfill metadata behavior after parallel setup adoption (#565)
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix ICON-EU prmsl keep mantissa bits
  docs/add_new_variable.md
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
Due: ty

Update ICON-EU precipitation snapshot after mantissa bits change
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty

Fix ICON-EU prmsl keep mantissa bits (#568)
  docs/add_new_variable.md
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty

Translate icechunk storage options for coordination s3fs
  src/reformatters/common/storage.py
  tests/common/test_storage.py
Due: ty

Translate icechunk storage options for coordination s3fs (#569)
  src/reformatters/common/storage.py
  tests/common/test_storage.py
Due: ty

Enable operational updates for ICON-EU 5-day forecast
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
Due: ty, generate-manual-workflows

Enable operational updates for ICON-EU 5-day forecast (#570)
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
Due: ty, generate-manual-workflows

Increase IFS ENS update parallelism
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Increase IFS ENS update parallelism (#571)
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
