Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Remove Better Stack heartbeats (Sentry cron check-ins replace them)
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  docs/ops_card.md
  docs/staging.md
  pyproject.toml
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  tests/common/betterstack_test.py
  tests/common/test_kubernetes.py
  tests/deploy_test.py
  uv.lock
Due: ty, generate-manual-workflows

Remove Better Stack heartbeats (Sentry cron check-ins replace them) (#805)
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  docs/ops_card.md
  docs/staging.md
  pyproject.toml
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  tests/common/betterstack_test.py
  tests/common/test_kubernetes.py
  tests/deploy_test.py
  uv.lock
Due: ty, generate-manual-workflows

Fix deploy workflows: remove dangling env: left by #805
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
Due: none

Fix deploy workflows: remove dangling env: left by #805 (#807)
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
Due: none

GEFS 35 day: 0.5 degree/6 hourly range starts at 246, not 243
  src/reformatters/common/config_models.py
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
Due: ty

Make IMERG download fall through to a valid granule per candidate
  src/reformatters/nasa/imerg/region_job.py
  tests/nasa/imerg/region_job_test.py
Due: ty

DWD ICON-EU: tolerate rare single-cell deaccumulation noise for aswdir_s
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Give IMERG download test mock a valid HDF5 header
  tests/nasa/imerg/dynamical_dataset_test.py
Due: ty

Make IMERG download fall through to a valid granule per candidate (#811)
  src/reformatters/nasa/imerg/region_job.py
  tests/nasa/imerg/dynamical_dataset_test.py
  tests/nasa/imerg/region_job_test.py
Due: ty

GEFS 35 day: 0.5 degree/6 hourly range starts at 246, not 243 (#813)
  src/reformatters/common/config_models.py
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
Due: ty

Address HRRR 18-hour review feedback
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  tests/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Make ECDS spike CLI locally runnable
  docs/plans/ecmwf_extended_range_request_measurements.json
  docs/plans/ecmwf_extended_range_spike.md
  src/scripts/ecmwf_extended_range_spike.py
  tests/scripts/ecmwf_extended_range_spike_test.py
Due: ty

Add HRRR virtual extension points and share the v3/v4 forecast lengths
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_virtual_region_job.py
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

Fix live ECDS spike workflow
  docs/plans/ecmwf_extended_range_request_measurements.json
  docs/plans/ecmwf_extended_range_spike.md
  src/scripts/ecmwf_extended_range_spike.py
  tests/scripts/ecmwf_extended_range_spike_test.py
Due: ty

Fix live ECDS spike workflow (#817)
  docs/plans/ecmwf_extended_range_request_measurements.json
  docs/plans/ecmwf_extended_range_spike.md
  src/scripts/ecmwf_extended_range_spike.py
  tests/scripts/ecmwf_extended_range_spike_test.py
Due: ty

Validate ECDS GRIB inventory
  src/scripts/ecmwf_extended_range_acceptance.py
  tests/scripts/ecmwf_extended_range_acceptance_test.py
Due: ty

Complete ECDS acceptance run
  docs/plans/ecmwf_extended_range_request_measurements.json
  docs/plans/ecmwf_extended_range_spike.md
  src/scripts/ecmwf_extended_range_acceptance.py
  src/scripts/ecmwf_extended_range_spike.py
  tests/scripts/ecmwf_extended_range_acceptance_test.py
  tests/scripts/ecmwf_extended_range_spike_test.py
Due: ty

Complete ECDS acceptance run (#818)
  docs/plans/ecmwf_extended_range_request_measurements.json
  docs/plans/ecmwf_extended_range_spike.md
  src/scripts/ecmwf_extended_range_acceptance.py
  src/scripts/ecmwf_extended_range_spike.py
  tests/scripts/ecmwf_extended_range_acceptance_test.py
  tests/scripts/ecmwf_extended_range_spike_test.py
Due: ty

Mirror HRRR wrfsfc files from NOMADS into a cache bucket
  src/reformatters/common/download.py
  src/reformatters/noaa/hrrr/archive_gribs/__init__.py
  src/reformatters/noaa/hrrr/archive_gribs/copy_files_from_nomads.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset.py
  tests/noaa/hrrr/archive_gribs/__init__.py
  tests/noaa/hrrr/archive_gribs/copy_files_from_nomads_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Suspend virtual-fast ingest until its store is backfilled
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset.py
  tests/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Read virtual-fast refs from the NOMADS cache, falling back to the archive
  src/reformatters/common/download.py
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual_fast/region_job.py
  tests/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual_fast/region_job_test.py
Due: ty, generate-manual-workflows

Add design proposal for derived products (ensemble statistics, climatologies)
  AGENTS.md
  docs/derived_products_design.md
Due: none

Run overwrite backfills concurrently with operational updates
  AGENTS.md
  docs/backfill.md
  docs/dataset_development_guide.md
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Fix HRRR virtual validation findings
  docs/validation.md
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/ground_heat_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/maximum_wind_speed_10m/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/vertical_u_component_shear_0_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/vertical_u_component_shear_0_6000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/vertical_v_component_shear_0_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/vertical_v_component_shear_0_6000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/ground_heat_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/maximum_wind_speed_10m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/vertical_u_component_shear_0_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/vertical_u_component_shear_0_6000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/vertical_v_component_shear_0_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/vertical_v_component_shear_0_6000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_virtual_template_config.py
  src/scripts/validation/availability.py
  src/scripts/validation/manifest_scan.py
  tests/noaa/hrrr/forecast_48_hour_virtual/template_config_test.py
  tests/scripts/validation/availability_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Serialize HRRR NOMADS mirror requests
  src/reformatters/noaa/hrrr/archive_gribs/copy_files_from_nomads.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset.py
  tests/noaa/hrrr/archive_gribs/copy_files_from_nomads_test.py
Due: ty, generate-manual-workflows

Retry incomplete NOMADS transfers
  src/reformatters/common/rclone.py
  src/reformatters/noaa/hrrr/archive_gribs/copy_files_from_nomads.py
  tests/common/rclone_test.py
  tests/noaa/hrrr/archive_gribs/copy_files_from_nomads_test.py
Due: ty

Activate HRRR 18-hour virtual operations
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  tests/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Activate HRRR 18-hour virtual operations (#835)
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  tests/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Retry incomplete NOMADS transfers (#834)
  src/reformatters/common/rclone.py
  src/reformatters/noaa/hrrr/archive_gribs/copy_files_from_nomads.py
  tests/common/rclone_test.py
  tests/noaa/hrrr/archive_gribs/copy_files_from_nomads_test.py
Due: ty

Add wind gust to NOAA GEFS forecast and analysis
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
  tests/noaa/gefs/forecast_10_day_spatial/template_config_test.py
Due: ty

Poll deterministic HRRR NOMADS paths
  src/reformatters/noaa/hrrr/archive_gribs/copy_files_from_nomads.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset.py
  tests/noaa/hrrr/archive_gribs/copy_files_from_nomads_test.py
Due: ty, generate-manual-workflows

Start HRRR NOMADS mirror at init
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset.py
  tests/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Poll HRRR at historical arrival boundary
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset.py
  tests/noaa/hrrr/forecast_48_hour_virtual_fast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Address HRDPS review: dedup fallback/deaccumulation helpers, tighten CF test
  src/reformatters/common/deaccumulation.py
  src/reformatters/common/download.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/eccc/hrdps/analysis/dynamical_dataset.py
  src/reformatters/eccc/hrdps/analysis/region_job.py
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/reformatters/eccc/hrdps/region_job.py
  src/reformatters/eccc/hrdps/template_config.py
  src/reformatters/ecmwf/ecmwf_utils.py
  tests/common/datasets_cf_compliance_test.py
  tests/common/test_deaccumulation.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty, generate-manual-workflows

Add wind gust to NOAA GEFS forecast and analysis (#836)
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
  tests/noaa/gefs/forecast_10_day_spatial/template_config_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
