Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Handle pod eviction in operational updates gracefully (#877)
  docs/ops_card.md
  docs/virtual_datasets.md
  src/reformatters/__main__.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/monitoring.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/monitoring_test.py
  tests/common/test_kubernetes.py
  tests/common/virtual_region_job_test.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Report a validation failure as one fingerprinted Sentry issue
  src/reformatters/__main__.py
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty, generate-manual-workflows

Fingerprint validate_dataset's Sentry reports by (dataset_id, check) (#872)
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
  tests/common/validation_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

AIFS Single: read the transitional experimental/ source path (#873)
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/template_config.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
  tests/ecmwf/aifs_single/forecast/template_config_test.py
Due: ty

Drop redundant SHA-pin check from Code Quality
  .github/workflows/code-quality.yml
Due: none

Resume NDVI CDR update and validate cron jobs
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
Due: ty, generate-manual-workflows

Drop redundant SHA-pin check from Code Quality (#878)
  .github/workflows/code-quality.yml
Due: none

Resume NDVI CDR update and validate cron jobs (#880)
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
Due: ty, generate-manual-workflows

Log SIGTERM at warning level instead of error
  src/reformatters/common/monitoring.py
  tests/common/monitoring_test.py
Due: ty

Log SIGTERM at warning level instead of error (#881)
  src/reformatters/common/monitoring.py
  tests/common/monitoring_test.py
Due: ty

Document public dataset compatibility
  AGENTS.md
Due: none

Clarify virtual container prefix lookup
  AGENTS.md
Due: none

Document public dataset compatibility (#882)
  AGENTS.md
Due: none

Bound icechunk object store requests with explicit timeouts
  src/reformatters/common/storage.py
  tests/common/test_storage.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
Due: ty

Drop the storage settings comments
  src/reformatters/common/storage.py
Due: ty

Bound icechunk object store requests with explicit timeouts (#883)
  src/reformatters/common/storage.py
  tests/common/test_storage.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
Due: ty

add exhaustive chunk census
  docs/validation.md
  src/scripts/validation/chunk_census.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  tests/scripts/validation/chunk_census_test.py
Due: ty

prepare NOAA fill value migration
  AGENTS.md
  docs/validation.md
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gefs/read_data.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/gfs/template_config.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/models.py
  src/scripts/validation/availability.py
  tests/noaa/fill_value_migration_lock_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/read_data_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/models_test.py
  tests/scripts/validation/availability_test.py
Due: ty, generate-manual-workflows

Log each retried failure in retry()
  src/reformatters/common/retry.py
  tests/common/test_retry.py
Due: ty

simplify source fill handling
  AGENTS.md
  src/reformatters/common/config_models.py
  src/reformatters/nasa/imerg/imerg_config_models.py
  src/reformatters/nasa/imerg/region_job.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gefs/read_data.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/gfs/template_config.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/models.py
  src/scripts/validation/availability.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/read_data_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/models_test.py
  tests/scripts/validation/availability_test.py
Due: ty, generate-manual-workflows

preserve packed zero percent frozen values
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/read_data.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/gfs/template_config.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/models.py
  tests/noaa/models_test.py
Due: ty

use exact decoded source fill values
  AGENTS.md
  docs/validation.md
  src/reformatters/common/config_models.py
  src/reformatters/nasa/imerg/imerg_config_models.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/read_data.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/gfs/template_config.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/models.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/scripts/validation/availability.py
  tests/common/test_config_models.py
  tests/noaa/fill_value_migration_lock_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/read_data_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/template_config_test.py
  tests/noaa/models_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/scripts/validation/availability_test.py
Due: ty, generate-manual-workflows

remove zarr v3 chunk census
  docs/validation.md
  src/scripts/validation/chunk_census.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  tests/scripts/validation/chunk_census_test.py
Due: ty

Prepare NOAA materialized fill-value migration (#885)
  AGENTS.md
  docs/validation.md
  src/reformatters/common/config_models.py
  src/reformatters/nasa/imerg/region_job.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/scripts/validation/availability.py
  tests/common/test_config_models.py
  tests/noaa/fill_value_migration_lock_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/hrrr/template_config_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/scripts/validation/availability_test.py
Due: ty, generate-manual-workflows

Keep the Sentry connection alive across quiet stretches
  docs/virtual_datasets.md
  src/reformatters/__main__.py
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Fix HRRR semantic-NaN validation sampling
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Fix HRRR semantic-NaN validation sampling (#889)
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Support vertical groups in the materialized write path
  AGENTS.md
  src/reformatters/common/config_models.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/shared_memory_utils.py
  src/reformatters/common/zarr.py
  tests/common/dynamical_dataset_test.py
  tests/common/materialized_multi_group_test.py
  tests/common/test_config_models.py
Due: ty, generate-manual-workflows

Inline the heartbeat interval and trim the keep-alive comment
  docs/virtual_datasets.md
  src/reformatters/__main__.py
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Keep the Sentry connection alive across quiet stretches (#888)
  src/reformatters/__main__.py
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Remove redundant missing value attributes
  AGENTS.md
  docs/validation.md
  src/reformatters/common/config_models.py
  src/reformatters/common/template_utils.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/pressure_level/dew_point_temperature/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_level/dew_point_temperature/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_virtual_template_config.py
  src/reformatters/noaa/hrrr/template_config.py
  src/scripts/validation/availability.py
  tests/common/common_template_config_subclasses_test.py
  tests/noaa/fill_value_migration_lock_test.py
  tests/scripts/validation/availability_test.py
Due: ty

Clarify CF fill-value metadata source
  src/reformatters/common/config_models.py
Due: ty

Move public catalog compatibility section lower in AGENTS.md
  AGENTS.md
Due: none

Downgrade read-failure logging for old archived source files
  src/reformatters/common/materialized_region_job.py
Due: ty

Cut over HRRR percent-frozen fill values
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
  tests/noaa/fill_value_migration_lock_test.py
Due: ty

Cut over HRRR percent-frozen fill values (#894)
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
  tests/noaa/fill_value_migration_lock_test.py
Due: ty
