Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Reword max_vars_per_job lock comment
  src/reformatters/common/region_job.py
Due: ty

Address PR review round 3: skip replica decode validator, replica tests
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Address PR review round 4: data-hole guards, repo accessor rename
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/region_job.py
  src/reformatters/common/storage.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Move all_stores_icechunk onto StoreFactory
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
Due: ty, generate-manual-workflows

Address PR review round 5: trim comments/docstrings, add doc TODOs
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
Due: ty, generate-manual-workflows

Resequence virtual-icechunk PRs: add 3c/3d, promote save_config to PR 5
  docs/plans/virtual_icechunk_datasets.md
Due: none

Speed up test suite 3.5x by fixing chunk geometry in integration tests
  docs/dataset_integration_guide.md
  src/reformatters/common/binary_rounding.py
  src/reformatters/common/deaccumulation.py
  src/reformatters/common/interpolation.py
  tests/chunk_utils.py
  tests/conftest.py
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/ecmwf/aifs_ens/forecast/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
Due: ty

Address PR review round 6: instant representative_var, worker_index plumbing, trim docstring
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

VirtualRegionJob on the worker-processing seam (virtual datasets PR 3b) (#650)
  docs/parallel_processing.md
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/storage.py
  tests/common/test_storage.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Split region_job.py into materialized and virtual modules (PR 3c)
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/region_job_test.py
  tests/common/test_parallel_writes.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Collapse single-member materialized_region_job imports to one line
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/region_job_test.py
  tests/common/test_parallel_writes.py
Due: ty

Point moved-symbol test patches at materialized_region_job
  tests/common/test_parallel_writes.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Split region_job.py into materialized and virtual modules (virtual datasets PR 3c) (#653)
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_ens/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/region_job_test.py
  tests/common/test_parallel_writes.py
  tests/common/virtual_region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Move process() onto MaterializedRegionJob (PR 3d)
  AGENTS.md
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  tests/common/dynamical_dataset_test.py
Due: ty

Record PR 3d number (#654) in plan status table
  docs/plans/virtual_icechunk_datasets.md
Due: none

Move process() onto MaterializedRegionJob (virtual datasets PR 3d) (#654)
  AGENTS.md
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  tests/common/dynamical_dataset_test.py
Due: ty

Consolidate processing-loop docs (virtual datasets PR 3e)
  AGENTS.md
  docs/parallel_processing.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
Due: ty, generate-manual-workflows

Record PR 3d merged and PR 3e number (#655) in plan status table
  docs/plans/virtual_icechunk_datasets.md
Due: none

Consolidate processing-loop docs (virtual datasets PR 3e) (#655)
  AGENTS.md
  docs/parallel_processing.md
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
Due: ty, generate-manual-workflows

Record PR 4 number (#656) in plan status table
  docs/plans/virtual_icechunk_datasets.md
Due: none

Per-format metadata copy order; record 10-day rename in plan
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/zarr.py
  tests/common/test_zarr.py
Due: ty

Correct raw-GRIB-value attrs for the virtual GEFS dataset
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/maximum_temperature_2m/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/minimum_temperature_2m/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/temperature_2m/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/gefs/forecast_10_day_spatial/template_config_test.py
Due: ty

Rename virtual GEFS precipitation to total_precipitation_surface
  src/reformatters/noaa/gefs/forecast_10_day_spatial/template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/total_precipitation_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
  tests/noaa/gefs/forecast_10_day_spatial/template_config_test.py
Due: ty

Add -dev suffix to GEFS 10-day spatial dataset id
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/noaa/gefs/forecast_10_day_spatial/template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
Due: ty

Record publication timing measurements, cron-per-run decision, ref-maintenance open question
  docs/plans/virtual_icechunk_datasets.md
Due: none

GEFS 10-day-dev: tick-loop polling with S3 listing discovery
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty, generate-manual-workflows

Apply architecture review, fill in standard tests, single s3:// coord URL
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/download.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/common/virtual_region_job_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
  tests/noaa/gefs/forecast_10_day_spatial/template_config_test.py
Due: ty, generate-manual-workflows

Revert finalize ancestry assert to a warning skip; note gribberish #153
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/parallel_coordination.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

ScaleOffset notes: use zarr.codecs (needs zarr upgrade), not numcodecs wrapper
  docs/plans/virtual_icechunk_datasets.md
  tests/common/datasets_cf_compliance_test.py
Due: ty

Arrow-based bucket listing; hoist bucket region constant
  pyproject.toml
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  uv.lock
Due: ty, generate-manual-workflows

Record profiling results: zarr 3.2 resize fix takes append from 762s to 0.1s
  docs/plans/virtual_icechunk_datasets.md
Due: none

Update xarray to 2026.4, zarr to 3.2, rioxarray to 0.22
  pyproject.toml
  src/reformatters/common/template_utils.py
  uv.lock
Due: ty

Document why write_metadata skips chunk alignment instead of aligning
  src/reformatters/common/template_utils.py
Due: ty

Update xarray to 2026.4, zarr to 3.2, rioxarray to 0.22 (#657)
  pyproject.toml
  src/reformatters/common/template_utils.py
  uv.lock
Due: ty

Remove CronJob concurrency_policy; rely on non-overlapping schedules
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/kubernetes.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Plan: zarr 3.2 upgrade is merged
  docs/plans/virtual_icechunk_datasets.md
Due: none

Remove comment
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Assert virtual encoding compressors == () directly
  src/reformatters/common/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_spatial/template_config_test.py
Due: ty, generate-manual-workflows
