Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Test the GFS forecast virtual dataset and align convective precipitation metadata
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/region_job.py
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/convective_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/gfs/forecast_virtual/__init__.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/region_job_test.py
  tests/noaa/gfs/forecast_virtual/template_config_test.py
Due: ty

Record where the GFS forecast names a window HRRR reads at the valid time
  tests/common/datasets_cf_compliance_test.py
Due: ty

Size forecast manifest splits by refs per commit against operational HRRR
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Stub the shared index download in the GFS forecast virtual tests
  tests/noaa/gfs/forecast_virtual/region_job_test.py
Due: ty

Run the default poll cadence in the GFS forecast
  src/reformatters/noaa/gfs/forecast_virtual/region_job.py
Due: ty

Use grib_index_window_str in the GFS forecast virtual tests
  tests/noaa/gfs/forecast_virtual/region_job_test.py
  tests/noaa/gfs/forecast_virtual/template_config_test.py
Due: ty

Mark the forecast split basis as under review
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Start the virtual forecast where the materialized GFS forecast starts
  src/reformatters/noaa/gfs/forecast_virtual/template_config.py
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/height_above_mean_sea_level/init_time/c/0
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/height_above_mean_sea_level/init_time/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/height_above_mean_sea_level/valid_time/c/0/0
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/height_above_mean_sea_level/valid_time/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/height_above_mean_sea_level/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/init_time/c/0
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/init_time/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/pressure_level/init_time/c/0
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/pressure_level/init_time/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/pressure_level/valid_time/c/0/0
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/pressure_level/valid_time/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  tests/noaa/gfs/forecast_virtual/region_job_test.py
  tests/noaa/gfs/forecast_virtual/template_config_test.py
Due: ty

Regenerate the forecast template and record the measured manifest sizes
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/geopotential_height_0c_isotherm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/geopotential_height_highest_tropospheric_freezing_level/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/ice_temperature_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/soil_temperature_0_10cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/soil_temperature_100_200cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/soil_temperature_10_40cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/soil_temperature_40_100cm/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/sunshine_duration_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/visibility_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
Due: ty, generate-manual-workflows

Sample the archive start and drop change-time narration in the forecast tests
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/forecast_virtual/region_job_test.py
Due: ty

Regenerate the forecast template for the censoring comments
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/pressure_of_lifted_parcel_level_255_0mb/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/visibility_surface/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
Due: none

Say what the schedule and delay bound are for, not how they were derived
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis_virtual/region_job.py
  src/reformatters/noaa/gfs/analysis_virtual/template_config.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Drop the manifest split pointer comment
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Clear the warnings emitted by the test suite
  src/reformatters/common/template_utils.py
  src/reformatters/common/validation.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/common/validation_test.py
  tests/scripts/validation/conftest.py
Due: ty

Drop the dead xarray decode_timedelta warning suppression
  src/reformatters/common/shared_memory_utils.py
Due: ty

Name volumetric soil moisture as the ECMWF datasets already do
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

Clear the warnings emitted by the test suite (#1011)
  src/reformatters/common/shared_memory_utils.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/validation.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/common/validation_test.py
  tests/scripts/validation/conftest.py
Due: ty

Turn pytest warnings into errors
  AGENTS.md
  README.md
  pyproject.toml
Due: none

Name volumetric soil moisture as the ECMWF datasets already do (#1013)
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_0_10cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_100_200cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_10_40cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/volumetric_soil_moisture_40_100cm/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
Due: ty

State what Review notes are for
  docs/validation.md
Due: none

Review notes: actionable gotchas, evidence backs but does not fill the note
  docs/validation.md
Due: none

Revert the README and AGENTS.md additions
  AGENTS.md
  README.md
Due: none

State what Review notes are for (#1015)
  docs/validation.md
Due: none

Correct virtual dataset latency and manifest sizing guidance (#999)
  AGENTS.md
  docs/virtual_datasets.md
  src/reformatters/example_materialized/template_config.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
Due: ty

Turn pytest warnings into errors (#1014)
  pyproject.toml
Due: none
