Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Fail recent-NaN validation when nothing was measured
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Qualify semantic-NaN backfill validation
  docs/validation.md
Due: none

Fail recent-NaN validation when nothing was measured (#895)
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Qualify semantic-NaN backfill validation (#896)
  docs/validation.md
Due: none

Move public catalog compatibility section lower in AGENTS.md (#897)
  AGENTS.md
Due: none

State the keep-alive comment as fact
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Anchor the analysis NaN window to the newest timestamp
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Tighten the combined-log-record comment
  src/reformatters/common/validation.py
Due: ty

State the keep-alive comment as fact (#898)
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Check analysis NaN fractions per timestep, by position
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/validation_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Tighten the recent-nans docstring
  src/reformatters/common/validation.py
Due: ty

Check analysis NaN fractions per timestep, by position (#899)
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/validation_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Make the HRRR virtual modules dataset-shape-agnostic, and let virtual validators target variables and positions
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/virtual_region_job.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/virtual_region_job_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/template_config_test.py
Due: ty, generate-manual-workflows

State the validator contracts, and keep the sizing guidance in the doc
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
Due: ty

Build virtual encodings with their real chunk shape
  src/reformatters/noaa/hrrr/virtual_template_config.py
Due: ty

Guard and report the completeness variable filter
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/virtual_multi_group_test.py
Due: ty

Leave decode health's position selection alone
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  tests/common/virtual_region_job_test.py
Due: ty

Derive the manifest probe cell instead of polluting out_loc with it
  docs/virtual_datasets.md
  src/reformatters/common/virtual_region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/noaa/hrrr/virtual_region_job.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
Due: ty

Document GFS no-data markers in variable comments
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/template_config.py
Due: ty

Reject a mistyped variable filter, and pin the probe cell's contract
  src/reformatters/common/validation.py
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty

Drop the variable filter name assertion
  src/reformatters/common/validation.py
Due: ty

Tighten the prose this branch adds
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/virtual_region_job.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
Due: ty

Check HRRR analysis sentinel-NaN vars over the whole grid
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Check HRRR analysis sentinel-NaN vars over the whole grid (#905)
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Apply review wording on the virtual datasets doc
  docs/virtual_datasets.md
Due: none

Make the HRRR virtual modules dataset-shape-agnostic, and let virtual validators target variables and positions (#900)
  docs/virtual_datasets.md
  src/reformatters/common/validation.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/virtual_region_job.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Make the shard and replica checks group aware
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
  tests/common/dynamical_dataset_test.py
  tests/common/validation_test.py
Due: ty, generate-manual-workflows

Key materialized results by var path in names and docs
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  tests/common/test_config_models.py
Due: ty

Add materialized vertical-group support (#890)
  AGENTS.md
  docs/virtual_datasets.md
  src/reformatters/common/config_models.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  src/reformatters/common/shared_memory_utils.py
  src/reformatters/common/validation.py
  src/reformatters/common/zarr.py
  tests/common/dynamical_dataset_test.py
  tests/common/materialized_multi_group_test.py
  tests/common/test_config_models.py
  tests/common/validation_test.py
Due: ty, generate-manual-workflows

Reword GFS no-data marker comments
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/template_config.py
Due: ty

Add the ECDS GRIB stager for ECMWF IFS Extended Range
  src/reformatters/common/rclone.py
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/list_files.py
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
  src/reformatters/ecmwf/archive_gribs/__init__.py
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  src/reformatters/ecmwf/archive_gribs/field_identity.py
  src/reformatters/ecmwf/archive_gribs/grib_inventory.py
  src/reformatters/ecmwf/archive_gribs/request_shards.py
  src/reformatters/ecmwf/archive_gribs/stage_gribs.py
  tests/common/rclone_test.py
  tests/dwd/archive_gribs/list_files_test.py
  tests/ecmwf/archive_gribs/__init__.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
  tests/ecmwf/archive_gribs/grib_inventory_test.py
  tests/ecmwf/archive_gribs/request_shards_test.py
  tests/ecmwf/archive_gribs/stage_gribs_test.py
  tests/ecmwf/fixtures/s2s_control_2026-08-10T00Z.grib2
  tests/ecmwf/fixtures/s2s_control_2026-08-10T00Z.grib2.index
  tests/ecmwf/s2s_fixtures.py
Due: ty

Migrate common virtual and region job tests to the Validator API
  tests/common/region_job_test.py
  tests/common/test_failure_injection.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty

Redesign operational validation around configured Validator instances
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/validators.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/validators.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/scripts/validation/decode_scan.py
  tests/common/dynamical_dataset_test.py
  tests/common/validation_test.py
Due: ty, generate-manual-workflows

Update comments and drop dead import from review pass
  src/reformatters/example_virtual/dynamical_dataset.py
  tests/common/iterating_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Fold HRRR and SWANN custom validators into CheckRecentNans, drop shard exemption
  src/reformatters/common/validation.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/validators.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/validators.py
  tests/common/validation_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/validators_test.py
Due: ty, generate-manual-workflows

Apply ruff format
  src/reformatters/common/validation.py
Due: ty

Attach CheckCurrentData deadlines to append-dim positions, not the clock
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
  tests/common/validation_test.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Migrate dataset tests to the Validator API
  tests/common/dynamical_dataset_test.py
  tests/common/validation_test.py
  tests/contrib/nasa/smap/level3_36km_v9/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/ecmwf/aifs_ens/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/example_materialized/dynamical_dataset_test.py
  tests/example_virtual/dynamical_dataset_test.py
  tests/nasa/imerg/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/validators_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Port manifest-completeness variable filter tests to the Validator API
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty

Tighten MRMS current-data deadline to its hourly schedule
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
