Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Align all virtual metadata writers so refresh commits only on real drift (#715)
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  tests/common/test_parallel_coordination.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Per-var manifest availability integrated into the validation report
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/render.py
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/availability_test.py
  tests/scripts/validation/manifest_scan_test.py
  tests/scripts/validation/render_test.py
Due: ty

Unify manifest scan into the availability command
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/availability_test.py
Due: ty

Docs + examples: virtual datasets, materialized-vs-virtual, integration guide
  AGENTS.md
  docs/dataset_integration_guide.md
  docs/plans/vertical_dimension_structure.md
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/__main__.py
  src/reformatters/common/initialize_new_integration.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_config.py
  src/reformatters/common/template_utils.py
  src/reformatters/example/__init__.py
  src/reformatters/example/new_dataset.py
  src/reformatters/example_materialized/__init__.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_materialized/region_job.py
  src/reformatters/example_materialized/template_config.py
  src/reformatters/example_virtual/__init__.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/example_virtual/template_config.py
  tests/example_materialized/__init__.py
  tests/example_materialized/dynamical_dataset_test.py
  tests/example_materialized/region_job_test.py
  tests/example_materialized/template_config_test.py
  tests/example_virtual/__init__.py
  tests/example_virtual/dynamical_dataset_test.py
  tests/example_virtual/region_job_test.py
  tests/example_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Docs + examples: virtual datasets, materialized-vs-virtual, integration guide (#689)
  AGENTS.md
  docs/dataset_integration_guide.md
  docs/plans/vertical_dimension_structure.md
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/__main__.py
  src/reformatters/common/initialize_new_integration.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_config.py
  src/reformatters/common/template_utils.py
  src/reformatters/example/__init__.py
  src/reformatters/example/new_dataset.py
  src/reformatters/example_materialized/__init__.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_materialized/region_job.py
  src/reformatters/example_materialized/template_config.py
  src/reformatters/example_virtual/__init__.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/example_virtual/template_config.py
  tests/example_materialized/__init__.py
  tests/example_materialized/dynamical_dataset_test.py
  tests/example_materialized/region_job_test.py
  tests/example_materialized/template_config_test.py
  tests/example_virtual/__init__.py
  tests/example_virtual/dynamical_dataset_test.py
  tests/example_virtual/region_job_test.py
  tests/example_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Fix whole-archive scan memory: share frozen models, stream manifest scan
  docs/validation.md
  src/reformatters/common/config_models.py
  src/reformatters/common/pydantic.py
  src/scripts/validation/manifest_scan.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Fold decode scan into run-all, make it URL-driven like other commands
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/decode_scan_test.py
Due: ty

Decode sampled regions concurrently to fill idle network time
  src/scripts/validation/decode_scan.py
Due: ty

Decode job concurrency 3 -> 4 to bring default scan under 15 minutes
  src/scripts/validation/decode_scan.py
Due: ty

Fix GEFS slow test for adjust_longitude_range rewrap
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty

Retry object store reads across validation runs
  src/reformatters/common/validation.py
  src/scripts/validation/availability.py
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
Due: ty

example_virtual: document adjust_longitude_range and -180..+180 convention
  src/reformatters/example_virtual/template_config.py
  tests/example_virtual/template_config_test.py
Due: ty

Add fast north-first grid assertion for HRRR spatial
  tests/noaa/hrrr/forecast_48_hour_spatial/template_config_test.py
Due: ty

Also assert HRRR 2D longitude first column is westernmost
  tests/noaa/hrrr/forecast_48_hour_spatial/template_config_test.py
Due: ty

Cut virtual value-timeseries decodes 2x and manifest scan CPU ~2x
  docs/validation.md
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/manifest_scan_test.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

Overlap the manifest scan with the decode + plot phases in run-all
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/plots.py
Due: ty

Add --metadata-only to backfill for existing virtual stores
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Reject --metadata-only on zarr3 stores; clarify append_dim_end
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Fix fresh-backfill regression; trim docstrings; correct log message
  src/reformatters/common/dynamical_dataset.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

Skip combined validation plots above a variable-count cap
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
Due: ty

Remove combined all-variable validation plots
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/render_test.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

TEMP: bump gribberish 1.3.0 -> 1.5.0 to read north_up store metadata
  pyproject.toml
  uv.lock
Due: none

Harden the manifest scan against transient object-store outages
  src/scripts/validation/manifest_scan.py
Due: ty

Revert "TEMP: bump gribberish 1.3.0 -> 1.5.0 to read north_up store metadata"
  pyproject.toml
  uv.lock
Due: none

Validation tooling: drop combined plots, pin value-ts level, tune concurrency, snapshot default, robustness + report/doc cleanup
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/render_test.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

Offline decode scan: skip references that don't exist (availability-aware)
  src/reformatters/common/validation.py
  src/scripts/validation/decode_scan.py
  tests/common/virtual_region_job_test.py
Due: ty

Validation tooling: drop combined plots, pin value-ts level, tune concurrency + robustness, report/doc cleanup (#718)
  docs/validation.md
  src/reformatters/common/validation.py
  src/scripts/validation/availability.py
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/common/virtual_region_job_test.py
  tests/scripts/validation/render_test.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

HRRR spatial: fix mislabeled variables, idx spelling variance, sentinel masking (#719)
  src/reformatters/common/config_models.py
  src/reformatters/common/template_config.py
  src/reformatters/common/template_utils.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/lightning_threat_1m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/lightning_threat_2m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/mass_density_8m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/fraction_of_cloud_cover/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/mass_density/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/number_concentration_ice_friendly_aerosol/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/number_concentration_water_friendly_aerosol/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/particulate_matter_coarse/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
  tests/common/common_template_config_subclasses_test.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/hrrr/forecast_48_hour_spatial/template_config_test.py
Due: ty

Enforce missing_value/fill_value agreement with a validator; trim comments
  src/reformatters/common/config_models.py
  src/reformatters/common/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
Due: ty

HRRR spatial: fix mislabeled variables, idx spelling variance, sentinel masking (#719) (#720)
  src/reformatters/common/config_models.py
  src/reformatters/common/template_utils.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/echo_top/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/lightning_threat_1m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/lightning_threat_2m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/mass_density_8m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/fraction_of_cloud_cover/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/mass_density/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/number_concentration_ice_friendly_aerosol/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/number_concentration_water_friendly_aerosol/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/model_level/particulate_matter_coarse/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
  tests/common/common_template_config_subclasses_test.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/hrrr/forecast_48_hour_spatial/template_config_test.py
Due: ty

Review fixes: honor hour-0 override, method note on virtual path, dead-code cleanup
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/render.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/manifest_scan_test.py
  tests/scripts/validation/utils_test.py
Due: ty

Drop the FrozenBaseModel revalidate-instances comment
  src/reformatters/common/pydantic.py
Due: ty

Offline/backfill validation tooling for virtual datasets (PR 11) (#693)
  docs/validation.md
  src/reformatters/common/config_models.py
  src/reformatters/common/pydantic.py
  src/reformatters/common/validation.py
  src/scripts/validation/availability.py
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/render.py
  src/scripts/validation/report_nulls.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/summary.py
  src/scripts/validation/upload.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/scripts/validation/availability_test.py
  tests/scripts/validation/decode_scan_test.py
  tests/scripts/validation/manifest_scan_test.py
  tests/scripts/validation/render_test.py
  tests/scripts/validation/utils_test.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

HRRR-spatial: mask CPOFP -50 sentinel via missing_value
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
Due: ty

HRRR-spatial: mask CPOFP -50 sentinel via missing_value (#723)
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/template_config.py
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_spatial/templates/latest.zarr/zarr.json
Due: ty

Authorize virtual chunk access in icechunk_utils
  src/scripts/icechunk_utils.py
  src/scripts/validation/utils.py
Due: ty

docs: validation runtime/RAM guidance, comment-vs-review-note rule, batch-contract fix
  AGENTS.md
  docs/validation.md
Due: none

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
