Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Move ensemble member info to spatial/time series sections (#612)
  docs/validation.md
  src/scripts/validation/summary.py
Due: ty

Drop H1 from validation_summary.md
  src/scripts/validation/summary.py
Due: ty

Restructure validation_summary.md for clearer visual hierarchy
  src/scripts/validation/summary.py
Due: ty

simplify validation output for consumption by 11ty site (#614)
  src/scripts/validation/summary.py
Due: ty

Use amend_if_icechunk in finalize; add unit tests for amend_if_icechunk
  docs/parallel_processing.md
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
Due: ty

Skip finalize copy + amend when updated_template is identical
  docs/parallel_processing.md
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
Due: ty

docs: trim redundant example from finalize step
  docs/parallel_processing.md
Due: none

Inline retry-around-amend-rebase in finalize
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_coordination.py
Due: ty

Address review comments and add ancestry assertions to icechunk tests
  docs/parallel_processing.md
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_writes.py
Due: ty

parallel_setup: skip metadata + commit on retry when ready.json exists
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
Due: ty

Tighten the retry-skip comment and add a blank line before reset_branch
  src/reformatters/common/parallel_coordination.py
Due: ty

docs: note the setup-retry exception to one snapshot per update
  docs/parallel_processing.md
Due: none

Avoid polar grid points in validation random point selection and expand docs
  docs/validation.md
  src/scripts/validation/utils.py
Due: ty

Clarify validation summary structure, audience, and draft → publish cycle
  docs/validation.md
Due: none

Normalize publish vs draft terminology in validation docs
  docs/validation.md
Due: none

Incorporate PR review on validation.md
  docs/validation.md
Due: none

Skip polar lats in validation random point selection; expand validation docs (#617)
  docs/validation.md
  src/scripts/validation/utils.py
Due: ty

Clarify draft uploads are non-destructive and frame each phase by its upload
  docs/validation.md
Due: none

Clarify draft uploads are non-destructive and frame each phase by its upload (#618)
  docs/validation.md
Due: none

Add verification gate for upstream-cause claims in validation summaries
  docs/validation.md
Due: none

Require named verifications to be executed before stopping
  docs/validation.md
Due: none

Add plan for virtual Icechunk datasets
  docs/plans/virtual_icechunk_datasets.md
Due: none

Require a representative sample of timestamps, not a single spot-check
  docs/validation.md
Due: none

Drop 'load-bearing claim' phrasing in verification gate
  docs/validation.md
Due: none

Drop third-party source as accepted verification evidence
  docs/validation.md
Due: none

docs(validation): clarifications from a recent validation pass (#619)
  docs/validation.md
Due: none

Fix dimension expansion logic in process() pseudocode
  docs/plans/virtual_icechunk_datasets.md
Due: none

Rework virtual icechunk plan: simpler arch, concrete update flow
  docs/plans/virtual_icechunk_datasets.md
Due: none

Switch update process to lazy expansion (no NaN-padded future)
  docs/plans/virtual_icechunk_datasets.md
Due: none

Drop catchup special case; uniform retry-on-conflict in process()
  docs/plans/virtual_icechunk_datasets.md
Due: none

Sharpen conflict story: filter once per job, retry re-runs expansion check
  docs/plans/virtual_icechunk_datasets.md
Due: none

Big-brain pass: fill gaps, drop dead weight
  docs/plans/virtual_icechunk_datasets.md
Due: none

Retarget for ≤5s latency; restore 3-class hierarchy; use ~= pins
  docs/plans/virtual_icechunk_datasets.md
Due: none

Reframe commit batching: time threshold drives latency, files just cap batch
  docs/plans/virtual_icechunk_datasets.md
Due: none

Drop max_files_per_commit; the only knob is max_seconds_between_commits
  docs/plans/virtual_icechunk_datasets.md
Due: none

WIP: tolerate transient S3 errors in validation script
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/report_nulls.py
Due: ty

fix(aifs-ens): correct cron schedules to run 4x/day
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

fix(aifs-ens): correct cron schedules to run 4x/day (#622)
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

validation: default --reference-url to GEFS analysis from STAC catalog
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
