Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

feat: implement ingested_forecast_length for GFS with full test coverage
  src/reformatters/common/download.py
  src/reformatters/common/ingest_stats.py
  src/reformatters/common/zarr.py
  src/reformatters/noaa/gfs/region_job.py
  tests/common/test_ingest_stats.py
  tmpclaude-0904-cwd
  tmpclaude-131d-cwd
  tmpclaude-172f-cwd
  tmpclaude-25a8-cwd
  tmpclaude-46e5-cwd
  tmpclaude-528b-cwd
  tmpclaude-666e-cwd
  tmpclaude-d95c-cwd
  tmpclaude-fe8e-cwd
Due: ty

feat: implement ingested_forecast_length for GFS with full test coverage
  src/reformatters/noaa/gfs/region_job.py
Due: ty

additional fixes
  src/reformatters/common/ingest_stats.py
Due: ty

Address PR review feedback
  docs/plan_dataset_staging.md
  docs/staging.md
  src/reformatters/common/deploy.py
  src/reformatters/common/staging.py
  tests/common/deploy_test.py
  tests/common/staging_test.py
Due: ty

Apply ruff formatting to staging.py
  src/reformatters/common/staging.py
Due: ty

Add runtime check that asserts are enabled
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Format __main__.py with ruff
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

Emphasize pre-commit checks in AGENTS.md
  AGENTS.md
Due: none

Reword pre-commit checks instruction in AGENTS.md
  AGENTS.md
Due: none

Add runtime check that asserts are enabled (#438)
  AGENTS.md
  src/reformatters/__main__.py
Due: ty, generate-manual-workflows

refactor: address code review feedback for ingested_forecast_length
  src/reformatters/common/ingest_stats.py
  src/reformatters/noaa/gfs/region_job.py
  tests/common/test_ingest_stats.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tmpclaude-0904-cwd
  tmpclaude-131d-cwd
  tmpclaude-172f-cwd
  tmpclaude-25a8-cwd
  tmpclaude-46e5-cwd
  tmpclaude-528b-cwd
  tmpclaude-666e-cwd
  tmpclaude-d95c-cwd
  tmpclaude-fe8e-cwd
Due: ty

Add NOMADS fallback for recent GFS and HRRR downloads
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Improve NOMADS test assertions
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Fix slow tests: use replace() to set downloaded_path
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Replace nomads: bool kwarg with source: Literal["s3", "nomads"]
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

self review
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Clean up organization
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Inline NOMADS threshold, add get_idx_url to GFS coord
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/region_job_test.py
Due: ty

more clean up
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
Due: ty

Tighten NOAA dataset run schedules based on NOMADS file availability
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update tests to match new NOAA GEFS cron schedules
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty

Address copilot PR review feedback
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/staging.py
  tests/common/staging_test.py
Due: ty, generate-manual-workflows

Simplify staging name trimming and add clarifying comment
  src/reformatters/common/deploy.py
  src/reformatters/common/staging.py
Due: ty

Shorten inline comment and apply ruff formatting
  src/reformatters/common/deploy.py
  src/reformatters/common/staging.py
Due: ty

Add unit tests for previously uncovered modules
  tests/common/test_download.py
  tests/common/test_shared_memory_utils.py
  tests/common/test_storage.py
  tests/common/test_template_utils.py
  tests/common/test_update_progress_tracker.py
  tests/common/test_zarr.py
  tests/ecmwf/__init__.py
  tests/ecmwf/test_ecmwf_grib_index.py
  tests/noaa/gefs/test_gefs_config_models.py
Due: ty

Add unit tests for previously uncovered modules (#442)
  tests/common/test_download.py
  tests/common/test_shared_memory_utils.py
  tests/common/test_storage.py
  tests/common/test_template_utils.py
  tests/common/test_update_progress_tracker.py
  tests/common/test_zarr.py
  tests/ecmwf/__init__.py
  tests/ecmwf/test_ecmwf_grib_index.py
  tests/noaa/gefs/test_gefs_config_models.py
Due: ty

NOMADS access for recent GFS and HRRR downloads (#439)
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Fix Pydantic V2.11 deprecation: use ClassVar instead of Final
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update GEFS 35-day forecast schedule to wait for f384 (not f240)
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Revert "NOMADS access for recent GFS and HRRR downloads (#439)"
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Revert "NOMADS access for recent GFS and HRRR downloads (#439)" (#443)
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Fix Pydantic V2.11 deprecation: use ClassVar instead of Final (#444)
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

NOMADS access for recent GFS and HRRR downloads with retry, rate limiting, and S3 fallback
  src/reformatters/common/download.py
  src/reformatters/common/retry.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/test_retry.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Refactor download_file: no S3 fallback, inline retry+semaphore, rename _get_download_source
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Self review
  .github/workflows/code-quality.yml
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  docs/staging.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes.py
  tests/common/staging_test.py
Due: ty

Dataset staging / parallel deploys (#437)
  .github/workflows/code-quality.yml
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  docs/staging.md
  src/reformatters/__main__.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/staging.py
  tests/common/deploy_test.py
  tests/common/staging_test.py
Due: ty, generate-manual-workflows

Add NOMADS fallback support for NOAA data downloads (#447)
  src/reformatters/common/download.py
  src/reformatters/common/retry.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/test_retry.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Try serializing requests to NOMDAS
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
Due: ty

Try serializing requests to NOMDAS (#450)
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
