Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Scale coordination file polling: count to wait, batch to read
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
Due: ty, generate-manual-workflows

Document role values in StoreFactory.icechunk_repos docstring
  src/reformatters/common/storage.py
Due: ty

Rename and relocate num_variable_groups, local var cleanups
  docs/dataset_integration_guide.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/example/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  tests/common/test_storage.py
Due: ty, generate-manual-workflows

Extract parallel coordination helpers into parallel_coordination.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
Due: ty, generate-manual-workflows

Type icechunk_repos param as list[tuple[str, icechunk.Repository]]
  src/reformatters/common/parallel_coordination.py
Due: ty

Expand parallel write tests: real aggregation, partial failures, concurrent jobs
  tests/common/test_parallel_writes.py
Due: ty

Shorten parallel_setup icechunk commit message to "Expand dataset"
  src/reformatters/common/parallel_coordination.py
Due: ty

Unify icechunk commit message timestamps to YYYY-MM-DDTHH:MM:SSZ
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
Due: ty, generate-manual-workflows

Mark test_parallel_writes as slow; swap ProcessPool for ThreadPool in tests
  tests/common/test_parallel_writes.py
Due: ty

feat: implement ingested_forecast_length for HRRR and fix GFS scope
  src/reformatters/noaa/gfs/forecast/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour/region_job.py
  tests/common/test_ingest_stats.py
Due: ty

Add fast unit tests for parallel_coordination
  tests/common/test_parallel_coordination.py
Due: ty

Update GitHub Actions to Node.js 24-compatible versions
  .github/workflows/code-quality.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Truncate missing shards list in validation error message
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Collapse repeated shard list when all vars share the same missing set
  src/reformatters/common/validation.py
Due: ty

Test new shards validation message format
  tests/common/validation_test.py
Due: ty

Improve shard validation error messages with better formatting (#548)
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Revert zgosalvez action to v3 SHA blocked by org allowlist
  .github/workflows/code-quality.yml
Due: none

Serialize source file coord results for update_template_with_results to json
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gfs/analysis/region_job.py
  src/reformatters/noaa/hrrr/analysis/region_job.py
  tests/common/region_job_test.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gfs/analysis/region_job_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty, generate-manual-workflows

Set GEFS analysis update parallelism to 2
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
Due: ty, generate-manual-workflows

Set GEFS analysis update parallelism to 2 (#550)
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
Due: ty, generate-manual-workflows

Bump zgosalvez/github-actions-ensure-sha-pinned-actions to v5 (Node 24)
  .github/workflows/code-quality.yml
Due: none

Update GitHub Actions to latest versions, get ready for node 24 requirement (#547)
  .github/workflows/code-quality.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  src/scripts/generate_manual_workflows.py
Due: ty, generate-manual-workflows

Cache GRIB index files on disk across download_file calls
  src/reformatters/common/download.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/test_download.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Rename overwrite_existing/use_local_cache to disk_cache
  src/reformatters/common/download.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/test_download.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Disk cache grib index files (#553)
  src/reformatters/common/download.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/noaa/gefs/utils.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/test_download.py
  tests/noaa/hrrr/region_job_test.py
Due: ty

Rename CoordinateValueOrRange to CoordinateValue and group SourceFileResult helpers
  src/reformatters/common/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gfs/analysis/region_job.py
  src/reformatters/noaa/gfs/forecast/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/region_job_test.py
  tests/noaa/gfs/region_job_test.py
Due: ty

Address DWD ICON-EU review: replica, test coverage, consistency
  src/reformatters/__main__.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  tests/dwd/archive_gribs/copy_files_from_dwd_test.py
  tests/dwd/archive_gribs/list_files_test.py
  tests/dwd/archive_gribs/path_conversion_test.py
  tests/dwd/archive_gribs/rclone_copyurl_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty, generate-manual-workflows

Serialize source file coord results for update_template_with_results to json (#549)
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gfs/analysis/region_job.py
  src/reformatters/noaa/gfs/forecast/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/region_job_test.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gfs/analysis/region_job_test.py
  tests/noaa/gfs/region_job_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty, generate-manual-workflows

Address DWD ICON-EU review: replica, test coverage, consistency (#555)
  src/reformatters/__main__.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  tests/dwd/archive_gribs/copy_files_from_dwd_test.py
  tests/dwd/archive_gribs/list_files_test.py
  tests/dwd/archive_gribs/path_conversion_test.py
  tests/dwd/archive_gribs/rclone_copyurl_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty, generate-manual-workflows

Support running-mean deaccumulation for ICON-EU radiation
  src/reformatters/common/deaccumulation.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  tests/common/test_deaccumulation.py
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Rename cape, align radiation metadata, deaccumulate shortwave radiation
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/convective_available_potential_energy_atmosphere/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_diffuse_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_direct_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_gust_10m/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
Due: ty

Expand DWD ICON-EU variables and align names with cross-dataset convention
  src/reformatters/dwd/archive_gribs/list_files.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/cape_convective/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/cloud_cover_high/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/cloud_cover_low/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/cloud_cover_mid/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/geopotential_height_850hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/temperature_500hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_speed_of_gust_10m/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_u_500hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_u_850hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_v_500hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_v_850hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
Due: ty

Rename wind gust to wind_gust_10m; revert archive filter change
  src/reformatters/dwd/archive_gribs/list_files.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_gust_10m/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
Due: ty

Drop pressure-level variables; archive does not carry them
  src/reformatters/common/deaccumulation.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/geopotential_height_850hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/temperature_500hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_u_500hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_u_850hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_v_500hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/wind_v_850hpa/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Rename cloud_cover_mid to cloud_cover_medium
  src/reformatters/dwd/icon_eu/forecast_5_day/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/cloud_cover_medium/zarr.json
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/zarr.json
Due: ty

Parallelise slow download tests with a ThreadPoolExecutor
  tests/dwd/icon_eu/forecast_5_day/region_job_test.py
Due: ty

Expect up to 8% invalid deaccumulation in MRMS precipitation_surface
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
Due: ty

Expect up to 8% invalid deaccumulation in MRMS precipitation_surface (#556)
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
Due: ty

Adjust mrms precipitation_surface expected invalid deaccum based on longer history of observed values
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
