Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Install rclone from official docker image to get latest version with copyurl --urls flag support
  deploy/Dockerfile
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
Due: ty

Guarantee that we don't get double slashes in the middle of a path
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
Due: ty

Make sure nice logging doesn't get in the way of raising
  src/reformatters/dwd/archive_gribs/list_files.py
Due: ty

Remove re.compile from function body. As suggested by Alden.
  src/reformatters/dwd/archive_gribs/path_conversion.py
Due: ty

Change grib_archive_path to dynamical_grib_archive_rclone_root.
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix comments
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix comments again!
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Use abs path to rclone everywhere
  src/reformatters/dwd/archive_gribs/list_files.py
  tests/dwd/archive_gribs/test_list_files.py
  tests/dwd/archive_gribs/test_rclone_copyurl.py
Due: ty

Install rclone from official docker image to get latest version with copyurl --urls flag support (#419)
  deploy/Dockerfile
  src/reformatters/dwd/archive_gribs/list_files.py
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
  tests/dwd/archive_gribs/test_list_files.py
  tests/dwd/archive_gribs/test_rclone_copyurl.py
Due: ty

`rclone copyurls` part 2 (#420)
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/list_files.py
  src/reformatters/dwd/archive_gribs/path_conversion.py
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

fix: resolve type checking errors
  src/reformatters/common/ingest_stats.py
  src/reformatters/noaa/gfs/region_job.py
  tests/common/test_ingest_stats.py
Due: ty

Tune GFS analysis chunk/shard sizes, resources, and enable updates
  src/reformatters/common/region_job.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/region_job.py
  src/reformatters/noaa/gfs/analysis/template_config.py
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/categorical_freezing_rain_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/categorical_ice_pellets_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/categorical_rain_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/categorical_snow_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/maximum_temperature_2m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/minimum_temperature_2m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/precipitable_water_atmosphere/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/pressure_reduced_to_mean_sea_level/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/pressure_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/relative_humidity_2m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/temperature_2m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_u_100m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_v_100m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  tests/noaa/gfs/analysis/template_config_test.py
Due: ty, generate-manual-workflows

"RCLONE_S3_FORCE_PATH_STYLE": "true" to support source.coop bucket with period in name
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

"RCLONE_S3_FORCE_PATH_STYLE": "true" to support source.coop bucket with period in name (#423)
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

update gfs analysis integration test for changed shard length
  pyproject.toml
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  uv.lock
Due: ty

Tune GFS analysis chunk/shard sizes, resources, and enable updates (#422)
  pyproject.toml
  src/reformatters/common/region_job.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/region_job.py
  src/reformatters/noaa/gfs/analysis/template_config.py
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/categorical_freezing_rain_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/categorical_ice_pellets_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/categorical_rain_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/categorical_snow_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/geopotential_height_cloud_ceiling/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/maximum_temperature_2m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/minimum_temperature_2m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/precipitable_water_atmosphere/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/pressure_reduced_to_mean_sea_level/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/pressure_surface/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/relative_humidity_2m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/temperature_2m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_u_100m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_v_100m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/template_config_test.py
  uv.lock
Due: ty, generate-manual-workflows

Add src/scripts/check_resource_provisioning.py
  pyproject.toml
  src/scripts/check_resource_provisioning.py
  uv.lock
Due: ty

rclone s3 path style force `false`
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

allow Bash(uv run:*)
  .github/workflows/claude.yml
Due: none

pin action version
  .github/workflows/claude.yml
Due: none

rclone s3 path style force `false` (#426)
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

pin all action versions
  .github/workflows/claude.yml
Due: none

Add Claude Code GitHub Workflow (#427)
  .github/workflows/claude.yml
Due: none

Use --s3-no-check-bucket flag with rclone copyurl.
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
Due: ty

Update DWD README
  src/reformatters/dwd/README.md
Due: none

Update DWD README with instructions for running locally (#430)
  src/reformatters/dwd/README.md
Due: none

Use --s3-no-check-bucket flag with rclone copyurl. (#429)
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
Due: ty

Extend HRRR analysis dataset back to 2014-10-01 with PRMSL/MSLMA variable name handling
  src/reformatters/noaa/hrrr/analysis/template_config.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/time/c/0
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/time/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/models.py
  src/reformatters/noaa/noaa_grib_index.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/hrrr/analysis/template_config_test.py
Due: ty

Handle missing and duplicate vars in GRIB index parsing
  src/reformatters/noaa/noaa_grib_index.py
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/noaa_grib_index_test.py
Due: ty

Add explicit allow list for duplicate GRIB index entries
  src/reformatters/noaa/noaa_grib_index.py
Due: ty

Add plan for dataset staging / parallel deploys
  docs/plan_dataset_staging.md
Due: none

Update staging plan: direct push workflow, no branch protection
  docs/plan_dataset_staging.md
Due: none

Add dataset staging system for parallel version deploys
  .github/workflows/deploy-staging.yml
  docs/staging.md
  src/reformatters/__main__.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/staging.py
  tests/common/staging_test.py
Due: ty, generate-manual-workflows

Address review feedback: spelling, docs, CLI test
  docs/plan_dataset_staging.md
  docs/staging.md
  src/reformatters/common/deploy.py
  src/reformatters/common/staging.py
  tests/common/staging_test.py
Due: ty

Add retries to DWD ICON-EU archive operations
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
Due: ty

Unsuspend DWD ICON-EU archive cronjob and adjust resources
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

DWD archive grib unsuspend, adjust resources, and add internal retries (#432)
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix dwd archive gribs cron schedule + add monitoring
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
  tests/dwd/icon_eu/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Fix dwd archive gribs cron schedule + add monitoring (#436)
  src/reformatters/dwd/icon_eu/forecast/dynamical_dataset.py
  tests/dwd/icon_eu/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows
