Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Say what an index in the mirror implies
  src/reformatters/noaa/hrrr/nomads_mirror.py
Due: ty

Document the versioned-bucket lifecycle for the NOMADS mirror
  docs/virtual_datasets.md
Due: none

Handle CHIRPS source gaps and correct dataset descriptions
  docs/implementation_guide.md
  docs/ops_card.md
  src/reformatters/common/materialized_region_job.py
  src/reformatters/ucsb_chc/chirps/analysis_final/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/analysis_final/region_job.py
  src/reformatters/ucsb_chc/chirps/analysis_final/templates/latest.zarr/zarr.json
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/region_job.py
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/templates/latest.zarr/zarr.json
  src/reformatters/ucsb_chc/chirps/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/region_job.py
  src/reformatters/ucsb_chc/chirps/template_config.py
  tests/common/region_job_test.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
  tests/ucsb_chc/chirps/region_job_test.py
Due: ty, generate-manual-workflows

Disambiguate the daily ECMWF 46-day dataset ID
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  docs/ops_card.md
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_helpers_test.py
  tests/common/datasets_cf_compliance_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Keep operations guidance tied to generated CronJob choices
  docs/ops_card.md
Due: none

Suspend renamed daily jobs until the new store is ready
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Disambiguate the daily ECMWF 46-day dataset ID (#1056)
  .github/workflows/manual-backfill.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  docs/ops_card.md
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_helpers_test.py
  tests/common/datasets_cf_compliance_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Enable renamed ECMWF 46-day daily jobs after migration
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Enable renamed ECMWF 46-day daily jobs after migration (#1057)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Simplify CHIRPS updates and tune the materialized layout
  docs/implementation_guide.md
  docs/ops_card.md
  docs/parallel_processing.md
  src/reformatters/common/kubernetes.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/ucsb_chc/chirps/analysis_final/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/analysis_final/region_job.py
  src/reformatters/ucsb_chc/chirps/analysis_final/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ucsb_chc/chirps/analysis_final/templates/latest.zarr/zarr.json
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/region_job.py
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/templates/latest.zarr/zarr.json
  src/reformatters/ucsb_chc/chirps/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/region_job.py
  src/reformatters/ucsb_chc/chirps/template_config.py
  tests/common/kubernetes_test.py
  tests/common/region_job_test.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
  tests/ucsb_chc/chirps/region_job_test.py
  tests/ucsb_chc/chirps/template_config_test.py
Due: ty, generate-manual-workflows

Align CHIRPS validation cadence and dataset names
  src/reformatters/common/materialized_region_job.py
  src/reformatters/ucsb_chc/chirps/analysis_final/dynamical_dataset.py
  src/reformatters/ucsb_chc/chirps/analysis_final/templates/latest.zarr/zarr.json
  src/reformatters/ucsb_chc/chirps/analysis_preliminary/templates/latest.zarr/zarr.json
  src/reformatters/ucsb_chc/chirps/template_config.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
  tests/ucsb_chc/chirps/template_config_test.py
Due: ty, generate-manual-workflows

Enable CHIRPS update and validation crons
  src/reformatters/ucsb_chc/chirps/dynamical_dataset.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Enable CHIRPS update and validation crons (#1059)
  src/reformatters/ucsb_chc/chirps/dynamical_dataset.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Scan own values for availability when nothing co-ingested exists
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  tests/scripts/validation/availability_test.py
Due: ty

Measure availability of a lone semantic-NaN variable from the run points
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/summary.py
  tests/scripts/validation/availability_test.py
Due: ty

Add explicit CHIRPS trailing-NaN store repair
  docs/chirps_trim.md
  src/reformatters/common/template_utils.py
  src/scripts/trim_chirps.py
  tests/scripts/trim_chirps_test.py
  tests/ucsb_chc/chirps/dynamical_dataset_test.py
Due: ty

Use a 90-day land-point sample for CHIRPS trim
  docs/chirps_trim.md
  src/scripts/trim_chirps.py
  tests/scripts/trim_chirps_test.py
Due: ty

Use Kubernetes credentials for CHIRPS trim commits
  docs/chirps_trim.md
  src/scripts/trim_chirps.py
  tests/scripts/trim_chirps_test.py
Due: ty

Describe CAPE's parcel and convective precipitation's excess over total in ECMWF 46-day daily metadata
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/average_convective_available_potential_energy_atmosphere/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/precipitation_convective_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
Due: ty

Say only that differenced source rates show convective precipitation above total
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/precipitation_convective_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
Due: ty

Point AIFS Single virtual refs at the ECMWF Google Cloud mirror
  AGENTS.md
  docs/virtual_datasets.md
  src/reformatters/common/download.py
  src/reformatters/common/storage.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  tests/common/download_test.py
  tests/common/storage_test.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Describe CAPE's parcel and convective precipitation's excess in ECMWF 46-day daily metadata (#1061)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/average_convective_available_potential_energy_atmosphere/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/precipitation_convective_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
Due: ty

Read AIFS Single virtual from GCS only, as a new v0.2.0 store
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/zarr.json
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Mirror ICON-EU icosahedral GRIBs after the regular lat/lon mirror
  src/reformatters/common/rclone.py
  src/reformatters/dwd/README.md
  src/reformatters/dwd/archive_gribs/copy_icosahedral_files_from_dwd.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  tests/common/rclone_test.py
  tests/dwd/archive_gribs/copy_icosahedral_files_from_dwd_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Address PR 1062 review: docs, typed store options, test pinning
  AGENTS.md
  docs/virtual_datasets.md
  src/reformatters/common/download.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Log container peak memory when CLI attempts finish
  docs/ops_card.md
  src/reformatters/__main__.py
  src/reformatters/common/monitoring.py
  tests/common/deploy_test.py
  tests/common/monitoring_test.py
Due: ty, generate-manual-workflows

Limit peak memory logging to readable cgroup counters
  docs/ops_card.md
  src/reformatters/common/monitoring.py
  tests/common/deploy_test.py
  tests/common/monitoring_test.py
Due: ty

Describe snowfall and runoff excess over totals and instantaneous 10 m wind in ECMWF 46-day daily metadata
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/runoff_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/snowfall_water_equivalent_rate_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
Due: ty

Copy icosahedral runs one at a time, after they finish publishing
  src/reformatters/dwd/README.md
  src/reformatters/dwd/archive_gribs/copy_icosahedral_files_from_dwd.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  tests/dwd/archive_gribs/copy_icosahedral_files_from_dwd_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Drop docs changes and cron suspension from AIFS Single virtual GCS switch
  AGENTS.md
  docs/virtual_datasets.md
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Read AIFS Single virtual from the ECMWF Google Cloud bucket, as a new v0.2.0 store (#1062)
  src/reformatters/common/download.py
  src/reformatters/common/storage.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/ecmwf/aifs_single/forecast_virtual/templates/latest.zarr/zarr.json
  tests/common/download_test.py
  tests/common/storage_test.py
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast_virtual/region_job_test.py
Due: ty, generate-manual-workflows

Fail the ICON-EU archive on incomplete runs and lat/lon copy failures
  src/reformatters/dwd/README.md
  src/reformatters/dwd/archive_gribs/copy_icosahedral_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/rclone_copyurl.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  tests/dwd/archive_gribs/copy_icosahedral_files_from_dwd_test.py
  tests/dwd/archive_gribs/rclone_copyurl_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Fail the icosahedral phase when an expected run is missing
  src/reformatters/dwd/README.md
  src/reformatters/dwd/archive_gribs/copy_files_from_dwd.py
  src/reformatters/dwd/archive_gribs/copy_icosahedral_files_from_dwd.py
  tests/dwd/archive_gribs/copy_icosahedral_files_from_dwd_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
Due: ty

Log peak memory at the end of CLI job attempts (#1064)
  src/reformatters/__main__.py
  src/reformatters/common/monitoring.py
  tests/common/deploy_test.py
  tests/common/monitoring_test.py
Due: ty, generate-manual-workflows

Drop the three retained cloud band standard names
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/average_pressure_high_cloud_top/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/average_pressure_low_cloud_bottom/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/average_temperature_high_cloud_top/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/average_pressure_high_cloud_top/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/average_pressure_low_cloud_bottom/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/average_temperature_high_cloud_top/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/average_pressure_high_cloud_top/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/average_pressure_low_cloud_bottom/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/average_temperature_high_cloud_top/zarr.json
  src/reformatters/noaa/gfs/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/average_pressure_high_cloud_top/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/average_pressure_low_cloud_bottom/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/average_temperature_high_cloud_top/zarr.json
  src/reformatters/noaa/gfs/forecast_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Bind six-hourly dataset to archive manifest
  tests/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
