Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Add dew point, gust wind, and snow-related variables to HRRR + Improve metadata tests (#486)
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/template_config.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/ndvi_raw/zarr.json
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/ndvi_usable/zarr.json
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/dwd/icon_eu/forecast/region_job.py
  src/reformatters/dwd/icon_eu/forecast/template_config.py
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/convective_available_potential_energy/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/high_cloud_cover/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/low_cloud_cover/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/snow_depth_water_equivalent/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/total_cloud_cover/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_area_fraction_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snowfall_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_area_fraction_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snowfall_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/hrrr_config_models.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/noaa_grib_index.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/fixtures/hrrr.t00z.wrfsfcf24.grib2.idx
  tests/noaa/hrrr/analysis/region_job_test.py
  tests/noaa/noaa_grib_index_test.py
Due: ty

Add 6 new variables to ECMWF IFS ENS forecast dataset
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Add zarr metadata for 6 new ECMWF IFS ENS variables
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/geopotential_height_850hpa/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/geopotential_height_925hpa/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/temperature_925hpa/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/wind_gust_10m/zarr.json
Due: none

Use fixed init time 2026-01-01 00Z in slow download test
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Add gust, cloud cover, and 925 and 850hPa temp and gh to ECMWF IFS ensemble forecast (#485)
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/geopotential_height_850hpa/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/geopotential_height_925hpa/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/temperature_925hpa/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/wind_gust_10m/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Add 500 hPa geopotential height to GEFS analysis and forecast datasets
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/gefs_config_models.py
Due: ty

Add integration tests for geopotential_height_500hpa download and read across all GEFS data periods
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty

Add geopotential_height_500hpa to GEFS analysis and forecast datasets
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty

Align ECMWF AIFS variable set and metadata with IFS ENS
  src/reformatters/__main__.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/region_job.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_height_850hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_height_925hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/temperature_925hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/zarr.json
  tests/ecmwf/aifs_deterministic/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Add missing AIFS tests following GFS/HRRR patterns
  tests/ecmwf/aifs_deterministic/forecast/region_job_test.py
  tests/ecmwf/aifs_deterministic/forecast/template_config_test.py
Due: ty

Fix slow tests to handle vars missing from older GEFS periods
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty

Fix reforecast 0.5deg files and add explicit missing-var allow-lists
  src/reformatters/noaa/gefs/read_data.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty

Address PR review comments
  AGENTS.md
  docs/dataset_integration_guide.md
  pyproject.toml
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/downward_long_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/downward_short_wave_radiation_flux_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_height_850hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/geopotential_height_925hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/pressure_reduced_to_mean_sea_level/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/pressure_surface/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/temperature_2m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/temperature_850hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/temperature_925hpa/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/total_cloud_cover_atmosphere/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_u_100m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_u_10m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_v_100m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/wind_v_10m/zarr.json
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/zarr.json
  tests/ecmwf/aifs_deterministic/forecast/dynamical_dataset_test.py
  uv.lock
Due: ty

Address PR review comments on GEFS geopotential height PR
  src/reformatters/noaa/gefs/read_data.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty

Fix KeyError for wind_gust_10m at lead_time=0h in ECMWF IFS ENS region job
  src/reformatters/ecmwf/ecmwf_utils.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Parallelize slow test downloads with ThreadPoolExecutor
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Group source_groups by has_hour_0_values; add ecmwf_utils unit tests
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/test_ecmwf_utils.py
Due: ty

Hoist group_has_hour_0_values out of the init_time/lead_time loop
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Add GitHub issue template for adding new variables
  .github/ISSUE_TEMPLATE/add_new_variable.md
Due: none

Update add new variable issue template
  .github/ISSUE_TEMPLATE/add_new_variable.md
Due: none

Add 500 hPa geopotential height variable to GEFS datasets (#490)
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/geopotential_height_500hpa/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/gefs/read_data.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty

Add GitHub issue template for adding new variables (#493)
  .github/ISSUE_TEMPLATE/add_new_variable.md
Due: none

Skip lead_time=0h for ECMWF max/min step_type variables (#492)
  src/reformatters/ecmwf/ecmwf_utils.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/test_ecmwf_utils.py
Due: ty

Add per-variable NaN validation for MRMS with stricter checks on radar-only vars
  src/reformatters/common/validation.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Allow up to 15% NaN for radar-only MRMS vars to account for gaps outside radar range
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update test_validators to expect 3 validators after adding per-var NaN check
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Mrms per var nan validation (#494)
  src/reformatters/common/validation.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Fix MRMS validators to pass when run right after an update
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Add radar_only and pass_2 to MRMS NaN validators
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Refine MRMS validators and reprocess window for pass_2 fix
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
Due: ty, generate-manual-workflows

Use exclude_vars for non-lagged MRMS NaN check
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Refine MRMS validators and reprocess window for pass_2 fix (#495)
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
Due: ty, generate-manual-workflows

Add precipitation_pass_1/pass2 coverage to MRMS slow integration test
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Fix MRMS pass2 all-NaN: move deaccumulation validation to Python, add expected_invalid_fraction
  src/reformatters/common/deaccumulation.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/test_deaccumulation.py
Due: ty

Restore try/except ValueError in MRMS deaccumulation to protect against corrupt files
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
Due: ty

Fix gzip decompression race, add pass1/pass2 download+read tests
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Allow expected nan area in MRMS deaccumulation (#496)
  src/reformatters/common/deaccumulation.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/test_deaccumulation.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
