Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Clarify PR 5 framing: persist registration, authorize still required
  docs/plans/virtual_icechunk_datasets.md
Due: none

Reword persist_virtual_config call-site comment
  src/reformatters/common/parallel_coordination.py
Due: ty

Simplify persist_virtual_config docstring
  src/reformatters/common/storage.py
Due: ty

Persist virtual chunk container config so external readers recover it (#667)
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/storage.py
  tests/common/test_parallel_coordination.py
  tests/common/test_storage.py
Due: ty

Speed up test suite ~3x by fixing chunk geometry in integration tests (#652)
  docs/dataset_integration_guide.md
  tests/chunk_utils.py
  tests/chunk_utils_test.py
  tests/conftest.py
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/ecmwf/aifs_ens/forecast/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
Due: ty

Bump transitive aiohttp 3.13.5 -> 3.14.1 to fix vuln
  uv.lock
Due: none

Bump transitive aiohttp 3.13.5 -> 3.14.1 to fix vuln (#669)
  uv.lock
Due: none

Add compressor benchmark script for already-rounded zarr chunks
  src/scripts/compression_benchmark.py
Due: ty

docs: vertical-dimension structure exploration for virtual datasets
  docs/plans/vertical_structure_exploration.md
  docs/plans/vertical_structure_spikes/spike1_groups.py
  docs/plans/vertical_structure_spikes/spike2_alias.py
  docs/plans/vertical_structure_spikes/spike3_sparsity.py
  pyproject.toml
Due: ty

docs: expand the open decisions in vertical structure exploration
  docs/plans/vertical_structure_exploration.md
  docs/plans/vertical_structure_spikes/spike4_mixed_dims_flat.py
  docs/plans/vertical_structure_spikes/spike5_model_level_availability.py
  pyproject.toml
Due: ty

docs: resolve naming convention (B), add multi-Z-type case, park A/C/D
  docs/plans/vertical_structure_exploration.md
Due: none

docs: source-data vertical-level review + group policy (decision E)
  docs/plans/vertical_structure_exploration.md
  docs/plans/vertical_structure_spikes/spike6_hrrr_gefs_levels.py
  pyproject.toml
Due: ty

docs: verify vertical-level review against real source files
  docs/plans/vertical_structure_exploration.md
  docs/plans/vertical_structure_spikes/spike7_ecmwf_levels.py
  docs/plans/vertical_structure_spikes/spike8_icon_eu_levels.py
  docs/plans/vertical_structure_spikes/spike8b_icon_read_one_grib.py
  docs/plans/vertical_structure_spikes/spike9_mrms_levels.py
  pyproject.toml
Due: ty

docs: reopen pressure_level grouping as an open question
  docs/plans/vertical_structure_exploration.md
Due: none

docs: resolve C (include all levels), drop D, write up E for TSC
  docs/plans/vertical_structure_exploration.md
Due: none

docs: clarify "change later" is breaking for consumers
  docs/plans/vertical_structure_exploration.md
Due: none

docs: add Option C (group everything incl. single_level) to TSC brief
  docs/plans/vertical_structure_exploration.md
Due: none

docs: add layout options D (separate datasets) and E (flat type-suffixed)
  docs/plans/vertical_structure_exploration.md
Due: none

ci: exclude exploration spikes from ty check
  pyproject.toml
Due: none

Document SEAS5 source data exploration
  docs/plans/ecmwf_seas5_source_data_exploration.md
Due: none

docs: encode Decision E (Option B layout) and remaining open sub-questions
  docs/plans/vertical_structure_exploration.md
  docs/plans/vertical_structure_spikes/spike10_group_coord_inheritance.py
Due: ty

Port logging/errors/crons from Sentry to Better Stack
  docs/dataset_integration_guide.md
  docs/ops_card.md
  docs/staging.md
  pyproject.toml
  src/reformatters/__main__.py
  src/reformatters/common/betterstack.py
  src/reformatters/common/config.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/logging.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/staging.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/scripts/generate_manual_workflows.py
  tests/common/betterstack_test.py
  tests/common/dynamical_dataset_test.py
  tests/common/logging_test.py
  tests/common/test_kubernetes.py
  tests/common/virtual_region_job_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  uv.lock
Due: ty, generate-manual-workflows

docs: decide sub-q 1 (duplicate coords into each group), confirm sub-q 4
  docs/plans/vertical_structure_exploration.md
Due: none

docs: decide sub-q 2 boundary rule (dense + comparable -> Z dimension)
  docs/plans/vertical_structure_exploration.md
Due: none

docs: decide sub-q 3 (scope applies to all datasets)
  docs/plans/vertical_structure_exploration.md
Due: none

Regenerate uv.lock honoring exclude-newer cutoff for CI --locked
  uv.lock
Due: none

Mount betterstack-heartbeats secret directly on CronJob
  src/reformatters/common/kubernetes.py
Due: ty

Rename heartbeat provisioning token env to BETTERSTACK_API_TOKEN_RW
  docs/dataset_integration_guide.md
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  tests/common/betterstack_test.py
Due: ty

Rename heartbeat provisioning key env to BETTERSTACK_API_KEY_RW
  docs/dataset_integration_guide.md
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  tests/common/betterstack_test.py
Due: ty

Wire BETTERSTACK_API_KEY_RW into deploy workflows for heartbeat provisioning
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
Due: none

docs: describe dataset vertical-level structure in AGENTS.md
  AGENTS.md
Due: none

docs: describe dataset vertical-level structure in AGENTS.md (#675)
  AGENTS.md
Due: none

Keep per-variable processing logs at INFO; only demote poll-loop waits
  src/reformatters/common/materialized_region_job.py
Due: ty

Fix Better Stack heartbeat provisioning
  .github/workflows/deploy-staging.yml
  .github/workflows/manual-create-job-from-cronjob.yml
  .github/workflows/manual-get-jobs.yml
  .github/workflows/manual-get-pods.yml
  pyproject.toml
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/scripts/generate_manual_workflows.py
  tests/common/betterstack_test.py
  tests/deploy_test.py
  uv.lock
Due: ty, generate-manual-workflows
