Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Trigger ECMWF 46-day updates when archived sources are ready
  docs/ops_card.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes.py
  src/reformatters/ecmwf/archive_gribs/archive.py
  src/reformatters/ecmwf/archive_gribs/forecast_46_day_archiver.py
  tests/common/deploy_test.py
  tests/common/kubernetes_test.py
  tests/ecmwf/archive_gribs/archive_test.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
Due: ty

Stop CronJob deployment when trigger RBAC setup fails
  docs/ops_card.md
  src/reformatters/common/deploy.py
  tests/common/deploy_test.py
Due: ty

Verify complete admission installation and close trigger naming gaps
  docs/kubernetes_security.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes_security.py
  tests/common/deploy_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
Due: ty

Confine trigger Jobs to approved templates and prepare Restricted PSA
  .github/workflows/code-quality.yml
  deploy/Dockerfile
  docs/kubernetes_security.md
  docs/ops_card.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/kubernetes_security.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_6_hourly_1_5_degree/dynamical_dataset.py
  tests/common/deploy_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
  tests/common/kubernetes_test.py
Due: ty, generate-manual-workflows

Reserve completion-index space in retry Job names
  src/reformatters/common/kubernetes.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_test.py
Due: ty

Reduce repeated setup in fast tests
  AGENTS.md
  tests/common/common_template_config_subclasses_test.py
  tests/common/conftest.py
  tests/common/datasets_cf_compliance_test.py
  tests/common/iterating_test.py
  tests/common/template_serialization_test.py
  tests/datasets_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Preserve runner and codec coverage in fast tests
  AGENTS.md
  tests/common/common_template_config_subclasses_test.py
  tests/common/datasets_cf_compliance_test.py
  tests/datasets_test.py
Due: ty

Log commit preparation time and array count (#1117)
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Reduce repeated setup in the fast test suite (#1129)
  AGENTS.md
  tests/common/common_template_config_subclasses_test.py
  tests/common/conftest.py
  tests/common/datasets_cf_compliance_test.py
  tests/common/iterating_test.py
  tests/common/template_serialization_test.py
  tests/datasets_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Fix MARS ENS temperature units with explicit raw decoding
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/README.md
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/audit.json
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/categorical_precipitation_type_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/dew_point_temperature_2m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/downward_long_wave_radiation_flux_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/downward_short_wave_radiation_flux_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/geopotential_height_500hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/geopotential_height_850hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/geopotential_height_925hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/precipitation_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/pressure_reduced_to_mean_sea_level.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/pressure_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/temperature_2m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/temperature_850hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/temperature_925hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/total_cloud_cover_atmosphere.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_gust_10m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_u_100m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_u_10m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_v_100m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_v_10m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/mars_units_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Fix MARS temperature decoding for ENS history (#1131)
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/README.md
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/audit.json
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/categorical_precipitation_type_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/dew_point_temperature_2m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/downward_long_wave_radiation_flux_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/downward_short_wave_radiation_flux_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/geopotential_height_500hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/geopotential_height_850hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/geopotential_height_925hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/precipitation_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/pressure_reduced_to_mean_sea_level.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/pressure_surface.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/temperature_2m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/temperature_850hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/temperature_925hpa.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/total_cloud_cover_atmosphere.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_gust_10m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_u_100m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_u_10m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_v_100m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/fixtures/mars/wind_v_10m.grib.gz
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/mars_units_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Recover published-origin pinning and dormant ENS mirror WIP
  docs/backfill.md
  docs/ens_replica_mirror.md
  docs/ops_card.md
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/replica_mirror.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/validation.py
  src/reformatters/common/zarr.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/scripts/ens_replica_mirror.py
  tests/common/dynamical_dataset_test.py
  tests/common/parallel_coordination_test.py
  tests/common/parallel_writes_test.py
  tests/common/published_origin_test.py
  tests/common/replica_mirror_test.py
Due: ty, generate-manual-workflows

Close recovery proof gaps and verify coordination races
  src/reformatters/common/replica_mirror.py
  tests/common/published_origin_test.py
  tests/common/replica_mirror_test.py
  tests/common/storage_test.py
Due: ty

Recover publication receipts before retrying positional writes
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  tests/common/published_origin_test.py
Due: ty, generate-manual-workflows

Preserve template customization for unchanged published origins
  docs/ens_replica_mirror.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  tests/common/parallel_writes_test.py
  tests/common/published_origin_test.py
Due: ty, generate-manual-workflows

fix: recover partial ENS mirror metadata and audit handoff abort
  docs/ens_replica_mirror.md
  docs/parallel_processing.md
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/replica_mirror.py
  src/scripts/ens_replica_mirror.py
  tests/common/parallel_writes_test.py
  tests/common/published_origin_test.py
  tests/common/replica_mirror_test.py
Due: ty

docs: make ENS handoff guidance evergreen
  docs/ens_replica_mirror.md
Due: none

Pin materialized updates to published origins and gate ENS replica mirroring (#1132)
  docs/backfill.md
  docs/ens_replica_mirror.md
  docs/ops_card.md
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/replica_mirror.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/validation.py
  src/reformatters/common/zarr.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/scripts/ens_replica_mirror.py
  tests/common/dynamical_dataset_test.py
  tests/common/parallel_coordination_test.py
  tests/common/parallel_writes_test.py
  tests/common/published_origin_test.py
  tests/common/replica_mirror_test.py
  tests/common/storage_test.py
Due: ty, generate-manual-workflows

Prepare Restricted workloads and constrain trigger Job admission
  .github/workflows/code-quality.yml
  deploy/Dockerfile
  docs/kubernetes_security.md
  docs/ops_card.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/kubernetes_security.py
  tests/common/deploy_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
  tests/common/kubernetes_test.py
Due: ty

Retry Earthdata downloads with a fresh session after unauthorized responses
  docs/ops_card.md
  src/reformatters/nasa/nasa_auth.py
  tests/nasa/nasa_auth_test.py
Due: ty

Support string dimension coordinates and all-label decode sampling
  docs/implementation_guide.md
  src/reformatters/common/config_models.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/validation.py
  tests/common/config_models_test.py
  tests/common/template_config_test.py
  tests/common/validation_decode_test.py
Due: ty

Pin WeatherNext 2 virtual refs, listings and publication windows
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty

Share WeatherNext virtual discovery and holdback mechanics
  docs/virtual_datasets.md
  docs/weathernext2_holdback.md
  src/reformatters/google/weathernext2/forecast_historical_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/google/weathernext_virtual/__init__.py
  src/reformatters/google/weathernext_virtual/holdback.py
  src/reformatters/google/weathernext_virtual/holdback_audit.py
  src/reformatters/google/weathernext_virtual/listing.py
  src/reformatters/google/weathernext_virtual/region_job.py
  src/reformatters/google/weathernext_virtual/validation.py
  src/scripts/weathernext2_holdback.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/google/weathernext2/forecast_virtual/real_files_integration_test.py
  tests/google/weathernext2/forecast_virtual/validation_test.py
  tests/google/weathernext_virtual/__init__.py
  tests/google/weathernext_virtual/holdback_audit_test.py
  tests/google/weathernext_virtual/listing_test.py
  tests/google/weathernext_virtual/region_job_test.py
  tests/scripts/weathernext2_holdback_test.py
Due: ty, generate-manual-workflows

Simplify trigger security setup and tolerate new Job fields
  .github/workflows/code-quality.yml
  README.md
  deploy/Dockerfile
  docs/kubernetes_security.md
  docs/ops_card.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/kubernetes_security.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
Due: ty

Revert published-origin pins until ENS backfill is ready
  docs/backfill.md
  docs/ens_replica_mirror.md
  docs/ops_card.md
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/replica_mirror.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/validation.py
  src/reformatters/common/zarr.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/scripts/ens_replica_mirror.py
  tests/common/dynamical_dataset_test.py
  tests/common/parallel_coordination_test.py
  tests/common/parallel_writes_test.py
  tests/common/published_origin_test.py
  tests/common/replica_mirror_test.py
  tests/common/storage_test.py
Due: ty, generate-manual-workflows

Persist WeatherNext backfill cutoffs and audit snapshot provenance
  docs/backfill.md
  docs/validation.md
  docs/weathernext2_holdback.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/region_job.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/google/weathernext_virtual/holdback_audit.py
  src/reformatters/google/weathernext_virtual/region_job.py
  src/scripts/validation/availability.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/utils.py
  tests/common/dynamical_dataset_test.py
  tests/common/parallel_coordination_test.py
  tests/common/virtual_region_job_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/google/weathernext_virtual/holdback_audit_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty, generate-manual-workflows

Register deployed CronJobs through create-only admission bindings
  .github/workflows/code-quality.yml
  README.md
  deploy/trigger-binding-deployer.yaml
  docs/staging.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/kubernetes_security.py
  tests/common/deploy_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
  tests/common/kubernetes_test.py
Due: ty

Revert published-origin pins until ENS backfill is ready (#1139)
  docs/backfill.md
  docs/ens_replica_mirror.md
  docs/ops_card.md
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/replica_mirror.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/validation.py
  src/reformatters/common/zarr.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/scripts/ens_replica_mirror.py
  tests/common/dynamical_dataset_test.py
  tests/common/parallel_coordination_test.py
  tests/common/parallel_writes_test.py
  tests/common/published_origin_test.py
  tests/common/replica_mirror_test.py
  tests/common/storage_test.py
Due: ty, generate-manual-workflows

Reapply published-origin pins for the future ENS backfill
  docs/backfill.md
  docs/ens_replica_mirror.md
  docs/ops_card.md
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/replica_mirror.py
  src/reformatters/common/storage.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/validation.py
  src/reformatters/common/zarr.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/scripts/ens_replica_mirror.py
  tests/common/dynamical_dataset_test.py
  tests/common/parallel_coordination_test.py
  tests/common/parallel_writes_test.py
  tests/common/published_origin_test.py
  tests/common/replica_mirror_test.py
  tests/common/storage_test.py
Due: ty, generate-manual-workflows

Clarify Kubernetes admission commands and run API checks on every build
  .github/workflows/code-quality.yml
  README.md
  docs/staging.md
  src/reformatters/common/deploy.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
Due: ty

Integrate WeatherNext 3 with the shared launch cutoff, source audit and scans
  docs/backfill.md
  docs/validation.md
  docs/weathernext2_holdback.md
  src/reformatters/google/weathernext3/forecast_virtual/region_job.py
  src/reformatters/google/weathernext3/forecast_virtual/source.py
  src/scripts/validation/availability.py
  src/scripts/validation/manifest_scan.py
  tests/google/weathernext3/forecast_virtual/integration_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Move cloud deployment setup into its own guide
  README.md
  docs/cluster_setup.md
Due: none

Prepare Restricted workloads and constrain trigger Job admission (#1124)
  .github/workflows/code-quality.yml
  README.md
  deploy/Dockerfile
  deploy/trigger-binding-deployer.yaml
  docs/cluster_setup.md
  docs/staging.md
  src/reformatters/common/deploy.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/kubernetes_security.py
  tests/common/deploy_test.py
  tests/common/kubernetes_security_integration_test.py
  tests/common/kubernetes_security_test.py
  tests/common/kubernetes_test.py
Due: ty

Preserve WeatherNext provenance and launch scope across refreshes and scans
  docs/backfill.md
  docs/validation.md
  docs/weathernext2_holdback.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  src/reformatters/google/weathernext_virtual/region_job.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/scan_common.py
  tests/common/virtual_region_job_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
  tests/scripts/validation/availability_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty, generate-manual-workflows

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
