Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Pin the sample the dead-point exclusion test measures (#928)
  tests/common/validation_test.py
Due: ty

Virtual docs tweak on analysis discover_available
  docs/virtual_datasets.md
Due: none

Virtual docs tweak on analysis discover_available (#930)
  docs/virtual_datasets.md
Due: none

Use exact HTTP container assertion
  tests/common/test_storage.py
Due: ty

Narrow the ECMWF 46-day dataset for a test backfill
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_template_config.py
Due: ty

Narrow the ECMWF 46-day dataset for a test backfill (#933)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_template_config.py
Due: ty

Address ECMWF 46-day blobs by the archive's own manifest
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Fix historical HRRR native virtual refs
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

Refetch an ECDS result whole when a resume returns 416
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Explain HRRR native probe selection
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
Due: ty

Restore the full ECMWF 46-day axis and store version
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_template_config.py
Due: ty

Restore the full ECMWF 46-day axis and store version (#937)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/expected_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/expected_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/ingested_forecast_length/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/init_time/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/init_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/pressure_level/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/valid_time/c/0/0
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/valid_time/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_template_config.py
Due: ty

Address ECMWF 46-day blobs by the archive's own manifest (#934)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_region_job.py
  tests/ecmwf/archive_gribs/forecast_46_day_archiver_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_region_job_test.py
Due: ty

Skip the two truncated 2016-08-05 native files
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  src/reformatters/noaa/hrrr/virtual_region_job.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

Refetch an ECDS result whole when a resume returns 416 (#936)
  src/reformatters/ecmwf/archive_gribs/ecds_client.py
  tests/ecmwf/archive_gribs/ecds_client_test.py
Due: ty

Address review: shared grid helpers, honest CAPE and volume docs
  src/reformatters/common/projection.py
  src/reformatters/eccc/README.md
  src/reformatters/eccc/hrdps/forecast/region_job.py
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/convective_available_potential_energy_surface/zarr.json
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

Report the Datamart request footprint accurately
  src/reformatters/eccc/README.md
Due: none

Address WeatherNext 2 review findings
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/common/common_template_config_subclasses_test.py
  tests/google/weathernext2/forecast_virtual/native_region_job_test.py
Due: ty

Hold the truncated file list in a tuple
  src/reformatters/noaa/hrrr/virtual_region_job.py
Due: ty

Skip the truncated 2016-08-05 HRRR native files (#935)
  src/reformatters/noaa/hrrr/virtual_region_job.py
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

Tune the short wave clamp allowance, and test the transformations
  src/reformatters/eccc/hrdps/forecast/region_job.py
  src/reformatters/eccc/hrdps/forecast/template_config.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
  tests/eccc/hrdps/forecast/region_job_test.py
Due: ty

Enable HRRR analysis virtual operations
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Address review: trim metadata, derive coordinate stats
  src/reformatters/eccc/README.md
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/eccc/hrdps/forecast/region_job.py
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/latitude/zarr.json
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/wind_gust_10m/zarr.json
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/zarr.json
  tests/eccc/hrdps/forecast/region_job_test.py
Due: ty, generate-manual-workflows

Enable HRRR analysis virtual operations (#939)
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  tests/noaa/hrrr/analysis_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Test HRDPS no-HEAD archive traversal
  tests/eccc/hrdps/archive_gribs/copy_files_from_eccc_test.py
Due: ty

Reword the gust comment
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/wind_gust_10m/zarr.json
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/zarr.json
Due: ty

Reduce HRDPS Datamart enumeration requests
  src/reformatters/eccc/README.md
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
Due: ty

Trim the precipitation type comment to the codes
  src/reformatters/eccc/hrdps/forecast/template_config.py
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/eccc/hrdps/forecast/templates/latest.zarr/zarr.json
Due: ty

Reduce HRDPS Datamart enumeration requests (#940)
  src/reformatters/eccc/README.md
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
  tests/eccc/hrdps/archive_gribs/copy_files_from_eccc_test.py
Due: ty

Test the shared grid helpers and the clamp allowances
  tests/common/projection_test.py
  tests/eccc/hrdps/forecast/region_job_test.py
Due: ty

Address HRDPS no-HEAD review findings
  src/reformatters/eccc/README.md
  src/reformatters/eccc/hrdps/archive_gribs/copy_files_from_eccc.py
  tests/eccc/hrdps/archive_gribs/copy_files_from_eccc_test.py
Due: ty

Pin the update to two workers
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  tests/eccc/hrdps/forecast/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Install SIGTERM handler from Typer callback
  pyproject.toml
  src/reformatters/__main__.py
  tests/common/deploy_test.py
Due: ty, generate-manual-workflows

Install SIGTERM handler at CLI startup
  pyproject.toml
  src/reformatters/__main__.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty, generate-manual-workflows
