Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Start operational updates for the GEFS 16 day 0.5 degree virtual dataset (#1087)
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Bound manifest scan probe fan-out and let it resume from checkpoints
  docs/validation.md
  src/reformatters/common/virtual_region_job.py
  src/scripts/validation/availability.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  tests/common/virtual_region_job_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Share one checkpoint between the two spellings of "every variable"
  src/scripts/validation/manifest_scan.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Let the manifest scan bound its probe fan-out per archive
  docs/validation.md
  src/scripts/validation/availability.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Correct the measured effect of --probe-workers
  docs/validation.md
Due: none

Let a caller of _exists_many choose its probe batch size
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Let the decode scan resume from per-job checkpoints
  docs/validation.md
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/utils.py
  tests/scripts/validation/decode_scan_test.py
Due: ty

Tighten the decode scan checkpoint docstrings
  src/scripts/validation/decode_scan.py
Due: ty

Fold manifest scan slices as they finish and key decode checkpoints by outcome only
  docs/validation.md
  src/reformatters/common/virtual_region_job.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/utils.py
  tests/scripts/validation/decode_scan_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Ingest GFS analysis hours valid after the update fire in the same run
  src/reformatters/noaa/gfs/analysis_virtual/region_job.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
Due: ty

Clamp a checkpointed manifest scan's start to the dataset's first position
  docs/validation.md
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/utils.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Ingest GFS analysis hours valid after the update fire in the same run (#1092)
  src/reformatters/noaa/gfs/analysis_virtual/region_job.py
  tests/noaa/gfs/analysis_virtual/region_job_test.py
Due: ty

Say that GEFS 0.5 degree albedo is zero where the window had no sunlight
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/albedo_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/albedo_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Inline the probe batch size default
  src/reformatters/common/virtual_region_job.py
  tests/common/virtual_region_job_test.py
Due: ty

Update virtual_region_job.py
  src/reformatters/common/virtual_region_job.py
Due: ty

Make a virtual whole-archive scan survivable on a large ensemble archive (#1093)
  docs/validation.md
  src/reformatters/common/virtual_region_job.py
  src/scripts/validation/availability.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  src/scripts/validation/plots.py
  src/scripts/validation/scan_common.py
  src/scripts/validation/utils.py
  tests/common/virtual_region_job_test.py
  tests/scripts/validation/decode_scan_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Say that GEFS 0.5 degree albedo is zero where the window had no sunlight (#1094)
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/albedo_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/albedo_surface/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/virtual_template_config.py
Due: ty

Stop the virtual value time series reading whole vertical profiles
  src/scripts/validation/value_timeseries.py
Due: ty

Mirror NOMADS HRRR GRIBs and indexes into R2
  .github/workflows/manual-create-job-from-cronjob.yml
  docs/ops_card.md
  src/reformatters/__main__.py
  src/reformatters/common/download.py
  src/reformatters/noaa/hrrr/nomads_mirror.py
  src/reformatters/noaa/hrrr/region_job.py
  tests/common/download_test.py
  tests/noaa/fixtures/hrrr.t19z.wrfsfcf00.first2.grib2
  tests/noaa/fixtures/hrrr.t19z.wrfsfcf00.first2.grib2.idx
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty, generate-manual-workflows

Catch the mirror up on earlier inits after the current one
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Give catch-up a margin before the deadline and say what it did not check
  src/reformatters/noaa/hrrr/nomads_mirror.py
  tests/noaa/hrrr/nomads_mirror_test.py
Due: ty

Halve the GEFS 10 day 0.25 degree virtual manifest split to two days of inits
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Halve the GEFS 10 day 0.25 degree virtual manifest split to two days of inits (#1096)
  src/reformatters/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_0_25_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Shrink the GFS forecast virtual manifest splits to 16 / 4 / 8 inits
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Shrink the GFS forecast virtual manifest splits to 16 / 4 / 8 inits (#1097)
  src/reformatters/noaa/gfs/forecast_virtual/dynamical_dataset.py
  tests/noaa/gfs/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Shrink the GFS analysis virtual manifest splits and suspend its crons for the re-split
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Halve the GEFS 35 day 0.5 degree virtual root manifest split and suspend its crons for the re-split
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Halve every GEFS 16 day 0.5 degree virtual manifest split and suspend its crons for the re-split
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Shrink the GFS analysis virtual manifest splits and suspend its crons for the re-split (#1098)
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Halve the GEFS 35 day 0.5 degree virtual root manifest split and suspend its crons for the re-split (#1099)
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Halve every GEFS 16 day 0.5 degree virtual manifest split and suspend its crons for the re-split (#1100)
  src/reformatters/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_16_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Unsuspend the GFS analysis virtual cron jobs after the manifest re-split
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Unsuspend the GFS analysis virtual cron jobs after the manifest re-split (#1101)
  src/reformatters/noaa/gfs/analysis_virtual/dynamical_dataset.py
  tests/noaa/gfs/analysis_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Unsuspend the GEFS 35 day 0.5 degree virtual cron jobs after the manifest re-split
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Unsuspend the GEFS 35 day 0.5 degree virtual cron jobs after the manifest re-split (#1102)
  src/reformatters/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset.py
  tests/noaa/gefs/forecast_35_day_0_5_degree_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Probe referenced vertical levels in offline validation scans
  docs/validation.md
  src/reformatters/common/validation.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  tests/scripts/validation/decode_scan_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Limit scan expansion to vertical dimensions
  src/reformatters/common/validation.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty

Reuse shared variable path parsing in validation probes
  src/reformatters/common/validation.py
  src/scripts/validation/manifest_scan.py
Due: ty

Reuse decode presence maps and short-circuit manifest level probes
  docs/validation.md
  src/reformatters/common/validation.py
  src/scripts/validation/decode_scan.py
  src/scripts/validation/manifest_scan.py
  tests/common/virtual_region_job_test.py
  tests/scripts/validation/decode_scan_test.py
  tests/scripts/validation/manifest_scan_test.py
Due: ty
