Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Trigger operational updates from wxopticon source-arrival webhooks
  AGENTS.md
  docs/ops_card.md
  docs/webhooks.md
  pyproject.toml
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/operational_run_guard.py
  src/reformatters/common/storage.py
  src/reformatters/common/webhook/__init__.py
  src/reformatters/common/webhook/deploy.py
  src/reformatters/common/webhook/receiver.py
  src/reformatters/common/webhook/subscription.py
  src/reformatters/common/webhook/triggers.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  tests/common/operational_run_guard_test.py
  tests/common/webhook/__init__.py
  tests/common/webhook/receiver_test.py
  uv.lock
Due: ty, generate-manual-workflows

Write empty chunks for coords consistently
  src/reformatters/common/template_utils.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/templates/latest.zarr/spatial_ref/c
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/spatial_ref/c
  src/reformatters/contrib/uarizona/swann/analysis/templates/latest.zarr/spatial_ref/c
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/dwd/icon_eu/forecast_5_day/templates/latest.zarr/spatial_ref/c
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/aifs_ens/forecast/templates/latest.zarr/spatial_ref/c
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/spatial_ref/c
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/spatial_ref/c
  src/reformatters/example/template_config.py
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/spatial_ref/c
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/spatial_ref/c
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/ingested_forecast_length/c/0/0
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/spatial_ref/c
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/spatial_ref/c
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/spatial_ref/c
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/spatial_ref/c
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/ingested_forecast_length/c/0
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/spatial_ref/c
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/spatial_ref/c
  tests/common/common_template_config_subclasses_test.py
Due: ty

Relock dependencies within exclude-newer window to fix --locked CI
  uv.lock
Due: none

Fix run_key index/type bugs surfaced by operational update tests
  src/reformatters/common/operational_run_guard.py
  tests/common/operational_run_guard_test.py
Due: ty

docs: implementation plan for vertical dimension structure
  docs/plans/vertical_dimension_structure.md
Due: none

docs: implementation plan for vertical dimension structure (#679)
  docs/plans/vertical_dimension_structure.md
Due: none

Add test-suite safety nets from coverage review
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  deploy/Dockerfile
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/template_utils.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_failure_injection.py
  tests/common/test_parallel_writes.py
  tests/common/test_template_utils.py
  tests/contrib/nasa/smap/level3_36km_v9/dynamical_dataset_test.py
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/contrib/uarizona/swann/dataset_integration_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/ecmwf/aifs_ens/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Address review feedback: env-conditional guard, recency assert, unsharded validator fix
  src/reformatters/common/template_utils.py
  src/reformatters/common/validation.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_failure_injection.py
  tests/common/test_template_utils.py
  tests/common/validation_test.py
  tests/contrib/nasa/smap/level3_36km_v9/dynamical_dataset_test.py
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/contrib/uarizona/swann/dataset_integration_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/ecmwf/aifs_ens/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/example/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Opt virtual datasets out of check_for_expected_shards in e2e validator helper
  tests/common/dynamical_dataset_test.py
  tests/contrib/nasa/smap/level3_36km_v9/dynamical_dataset_test.py
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/contrib/uarizona/swann/dataset_integration_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/ecmwf/aifs_ens/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Make check_for_expected_shards shard-only; gate prod deploy via workflow_run
  .github/workflows/code-quality.yml
  .github/workflows/deploy-operational-updates.yml
  src/reformatters/common/validation.py
  tests/common/validation_test.py
Due: ty

Smoke-test the prod entrypoint form in the Dockerfile
  deploy/Dockerfile
Due: none

Tune operational update/validate schedules and pod deadlines
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Address PR review: revert Dockerfile, trim workflow comments, unwrap single imports
  .github/workflows/deploy-operational-updates.yml
  deploy/Dockerfile
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/contrib/uarizona/swann/dataset_integration_test.py
  tests/example/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty

Tune operational update/validate schedules and pod deadlines (#681)
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Test-suite safety nets: structure guard, failure-injection, validator execution, deploy hardening (#680)
  .github/workflows/code-quality.yml
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/template_utils.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_failure_injection.py
  tests/common/test_parallel_writes.py
  tests/common/test_template_utils.py
  tests/contrib/nasa/smap/level3_36km_v9/dynamical_dataset_test.py
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/contrib/uarizona/swann/dataset_integration_test.py
  tests/dwd/icon_eu/forecast_5_day/dynamical_dataset_test.py
  tests/ecmwf/aifs_ens/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/example/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/forecast_48_hour/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Lift the virtual write loop into VirtualRegionJob (PR 7)
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/virtual_source_listing.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_spatial/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/common/virtual_source_listing_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_spatial/region_job_test.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty

Lift the virtual write loop into VirtualRegionJob (PR 7) (#672)
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/virtual_source_listing.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_spatial/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/common/virtual_source_listing_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_spatial/region_job_test.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty

Throwaway: verify main branch protection requires Code Quality
  README.md
Due: none

Lift the virtual write loop into VirtualRegionJob (PR 7)
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/virtual_source_listing.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/common/virtual_source_listing_test.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty

Provision Better Stack heartbeats for update/validate crons
  .github/workflows/deploy-operational-updates.yml
  .github/workflows/deploy-staging.yml
  docs/dataset_integration_guide.md
  docs/ops_card.md
  pyproject.toml
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  tests/common/betterstack_test.py
  tests/common/dynamical_dataset_test.py
  tests/common/test_kubernetes.py
  tests/deploy_test.py
  uv.lock
Due: ty, generate-manual-workflows

Isolate staging heartbeats and skip non-update/validate crons
  src/reformatters/common/betterstack.py
  src/reformatters/common/dynamical_dataset.py
  tests/common/betterstack_test.py
  tests/common/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Lift the virtual write loop into VirtualRegionJob (PR 7) (#684)
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/region_job.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/virtual_source_listing.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/common/virtual_source_listing_test.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty

Move heartbeat provisioning into deploy.py; exclude staging crons
  .github/workflows/deploy-staging.yml
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/staging.py
  tests/common/betterstack_test.py
  tests/common/dynamical_dataset_test.py
  tests/deploy_test.py
Due: ty, generate-manual-workflows

Monitor staging crons with isolated heartbeats, clean up on teardown
  .github/workflows/deploy-staging.yml
  docs/staging.md
  src/reformatters/common/betterstack.py
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/staging.py
  tests/common/betterstack_test.py
  tests/common/dynamical_dataset_test.py
  tests/deploy_test.py
Due: ty, generate-manual-workflows

Multi-group tests, validator + materialized guard, doc/comment cleanup
  AGENTS.md
  docs/plans/vertical_dimension_structure.md
  src/reformatters/common/config_models.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/region_job.py
  src/reformatters/common/template_config.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/types.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/zarr.py
  src/reformatters/example/template_config.py
  tests/common/multi_group_template_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows

write_metadata takes a DataTree, not a Dataset-or-tree
  src/reformatters/common/template_utils.py
  tests/common/dynamical_dataset_test.py
Due: ty

Ignore RUF012 in tests instead of per-line noqa
  pyproject.toml
  tests/common/multi_group_template_test.py
  tests/common/template_config_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty

Address PR review: simpler job geometry, group-aware drift, DataTree-only metadata
  AGENTS.md
  pyproject.toml
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/materialized_region_job.py
  src/reformatters/common/region_job.py
  src/reformatters/common/template_config.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/zarr.py
  tests/common/test_template_utils.py
  tests/common/test_zarr.py
  tests/noaa/gefs/forecast_35_day/template_config_test.py
Due: ty, generate-manual-workflows

Fix the type in the RUF012 ignore comment (balanced brackets)
  pyproject.toml
Due: none

Address PR review comments
  src/reformatters/common/config_models.py
  src/reformatters/common/region_job.py
  src/reformatters/common/template_config.py
  src/reformatters/common/types.py
  tests/common/common_template_config_subclasses_test.py
  tests/common/multi_group_template_test.py
Due: ty

Incorporate code-review findings: safety, simplicity, coverage
  docs/plans/vertical_dimension_structure.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/template_utils.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/common/zarr.py
  tests/common/dynamical_dataset_test.py
  tests/common/iterating_test.py
  tests/common/multi_group_template_test.py
  tests/common/region_job_test.py
  tests/common/test_template_utils.py
  tests/common/test_zarr.py
  tests/common/virtual_multi_group_test.py
Due: ty, generate-manual-workflows

copy_zarr_metadata: also collect a scalar coord's chunk file
  src/reformatters/common/zarr.py
  tests/common/test_zarr.py
Due: ty

Note why the open_datatree ty:ignore is needed (stub omits zarr Store)
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Drop the open_datatree ignore comment
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Add operational validation for virtual datasets (PR 8)
  docs/plans/virtual_icechunk_datasets.md
  docs/virtual_datasets.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/validation.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  tests/common/dynamical_dataset_test.py
  tests/common/iterating_test.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Preserve root attrs in flatten_groups
  src/reformatters/common/iterating.py
  tests/common/iterating_test.py
Due: ty

Harden CheckVirtualDecodeHealth + comment-style cleanup
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/validation.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
Due: ty, generate-manual-workflows
