Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Add SpatialResolution Literal type and align AIFS with 0.25 deg datasets
  src/reformatters/common/config_models.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/zarr.json
  tests/common/test_config_models.py
  tests/noaa/hrrr/template_config_test.py
Due: ty

Add SpatialResolution Literal type and align AIFS with 0.25 deg datasets (#528)
  src/reformatters/common/config_models.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/template_config.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/templates/latest.zarr/zarr.json
  tests/common/test_config_models.py
  tests/noaa/hrrr/template_config_test.py
Due: ty

Parallelize updates across variable groups, unifying with backfills (#418)
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/storage.py
  src/reformatters/common/zarr.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_deterministic/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/analysis/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/region_job_test.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
  tests/datasets_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gfs/analysis/region_job_test.py
Due: ty, generate-manual-workflows

Address PR review: retry safety, sort kwarg, replica test
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
Due: ty, generate-manual-workflows

Derive icechunk branch name in one place instead of serializing in setup_info
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update CLAUDE.md with parallel processing changes and docs listing
  AGENTS.md
Due: none

Update approach overview to reflect parallel updates
  AGENTS.md
Due: none

Fix results merging, skip result loading for backfills, use JSON for setup_info
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Add rotation track and azimuthal shear variables to MRMS dataset
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/azimuthal_shear_0_2km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/azimuthal_shear_3_6km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/rotation_track_60min_0_2km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/rotation_track_60min_3_6km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty, generate-manual-workflows

Simplify rotation/shear validation: include in general check
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Expand AGL to above ground level in comments and long_names
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/azimuthal_shear_0_2km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/azimuthal_shear_3_6km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/rotation_track_60min_0_2km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/rotation_track_60min_3_6km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
Due: ty

Remove redundant source units comment from rotation/shear variables
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/azimuthal_shear_0_2km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/azimuthal_shear_3_6km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/rotation_track_60min_0_2km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/rotation_track_60min_3_6km/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
Due: ty

Average pixels when downsampling instead of skipping
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
Due: ty

Capitalization in AIFS Single description
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/aifs_single/forecast/templates/latest.zarr/zarr.json
Due: ty

Add ECMWF IFS ENS GRIB archive exploration report and suggested README
  reports/ecmwf-ifs-ens-grib-archive-exploration.md
  reports/suggested_readme.md
Due: none

Add slow test validating MARS-staged GRIB data from source.coop
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Add MARS archive support to IFS ENS reformatter with full pipeline test
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Update MRMS to run hourly with 10-min pod deadline
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update MRMS to run hourly with 10-min pod deadline (#538)
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Pass expected_invalid_fraction=0.01 to deaccumulate in ifs_ens region job
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Pass expected_invalid_fraction=0.01 to deaccumulate in ifs_ens region job (#539)
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Treat obstore PermissionDeniedError (403) as FileNotFoundError in MRMS download
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
Due: ty

docstring cleanup
  src/reformatters/ecmwf/ecmwf_grib_index.py
Due: ty

Treat obstore PermissionDeniedError (403) as FileNotFoundError in MRMS download (#540)
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
Due: ty

Refactor MARS archive integration into distinct SourceFileCoord subclasses
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/fixtures/mars_cf_pl.idx
  tests/ecmwf/fixtures/mars_cf_sfc.idx
  tests/ecmwf/fixtures/mars_pf_sfc.idx
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/test_ecmwf_grib_index.py
Due: ty, generate-manual-workflows

Move _mars_request_type to MarsSourceFileCoord.get_request_type
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Use pydantic replace() instead of model_copy for validation
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Combine MARS bucket URL and prefix into single DYNAMICAL_MARS_GRIB_BASE_URL
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Consolidate resolve logic and extract source_file_coord.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty, generate-manual-workflows

Support plural steps in get_message_byte_ranges_from_index
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/test_ecmwf_grib_index.py
Due: ty

Add comment explaining why MARS scale factor is applied in read_data
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Simplify MARS coords to one per lead_time, matching open data structure
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/test_ecmwf_grib_index.py
Due: ty

Code review fixes: inline param, fix variable shadowing, restore error msg
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Consolidate grib metadata validation into _validate_grib_metadata
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Resolve data vars at coord construction, not in download/read
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
Due: ty

Use resolved data_var consistently in read_data, use item() for lookup
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
Due: ty

Keep both data_var and resolved_data_var in read_data
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
Due: ty

Add source_file_coord unit tests, move coord tests from region_job_test
  src/reformatters/ecmwf/ecmwf_config_models.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
