Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

validation: default --reference-url to GEFS analysis from STAC catalog (#623)
  docs/validation.md
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/plots.py
  src/scripts/validation/utils.py
Due: ty

Handle missing temp branch after finalize retry
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_coordination.py
Due: ty

Raise amend retry budget to 100 and cover the concurrent-amend race
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/storage.py
  tests/common/test_storage.py
Due: ty

Silence two flaky test warnings
  pyproject.toml
  tests/common/validation_test.py
Due: ty

Make consolidated handling explicit; opt-in rasterio warning suppression
  pyproject.toml
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
  tests/common/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty, generate-manual-workflows

Remove explanatory comments on consolidated handling
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
Due: ty, generate-manual-workflows

Fix/silence harmless warnings (#625)
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/validation.py
  tests/common/dynamical_dataset_test.py
  tests/common/validation_test.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
Due: ty, generate-manual-workflows

Use flat jitter (no backoff) for amend conflict retries
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/retry.py
  src/reformatters/common/storage.py
  tests/common/test_retry.py
Due: ty

Bump pygments to 2.20.0 to fix ReDoS in AdlLexer
  uv.lock
Due: none

Bump rich to 15.0.0
  uv.lock
Due: none

Update test dependencies to silence low priority dependabot (#626)
  uv.lock
Due: none

Update dependencies to latest within 5-day exclude-newer window
  .pre-commit-config.yaml
  pyproject.toml
  src/reformatters/common/iterating.py
  src/reformatters/common/retry.py
  src/scripts/chunk_shard_size.py
  uv.lock
Due: ty

Update dependencies to latest within 5-day exclude-newer window (#627)
  .pre-commit-config.yaml
  pyproject.toml
  src/reformatters/common/iterating.py
  src/reformatters/common/retry.py
  src/scripts/chunk_shard_size.py
  uv.lock
Due: ty

Update ty to 0.0.39 and migrate ignore directives
  pyproject.toml
  src/reformatters/common/config_models.py
  src/reformatters/common/deaccumulation.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour/region_job.py
  tests/common/common_template_config_subclasses_test.py
  tests/common/template_config_test.py
  tests/common/test_config_models.py
  tests/common/test_deaccumulation.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/validation_test.py
  tests/datasets_test.py
  tests/deploy_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  uv.lock
Due: ty, generate-manual-workflows

fix(gfs-forecast): push update past late f384 tail; sort NaN validation errors
  src/reformatters/common/validation.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Remove comment on sorted NaN-fraction message
  src/reformatters/common/validation.py
Due: ty

fix(gfs-forecast): tighten update/validate pod deadlines, move validate to :32
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

fix(gfs-forecast): push update past late f384 tail; deterministic NaN validation errors (#629)
  src/reformatters/common/validation.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update ty to 0.0.39 and migrate ignore directives (#631)
  pyproject.toml
  src/reformatters/common/config_models.py
  src/reformatters/common/deaccumulation.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/template_config.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/template_config.py
  src/reformatters/noaa/gefs/gefs_config_models.py
  src/reformatters/noaa/hrrr/analysis/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour/region_job.py
  tests/common/common_template_config_subclasses_test.py
  tests/common/template_config_test.py
  tests/common/test_config_models.py
  tests/common/test_deaccumulation.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/validation_test.py
  tests/datasets_test.py
  tests/deploy_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/gfs/forecast/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  uv.lock
Due: ty, generate-manual-workflows

Fix zero-filled easternmost longitude column in GEFS a/b GRIB upsampling
  src/reformatters/noaa/gefs/read_data.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gefs/read_data_test.py
Due: ty

Fix merge straggler: migrate 3 mypy-style ignore directives
  tests/common/test_parallel_coordination.py
Due: ty

Use amend instead of commit for intermediate writes on temp branches (#584)
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/retry.py
  src/reformatters/common/storage.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_retry.py
  tests/common/test_storage.py
Due: ty, generate-manual-workflows

Revert "Use amend instead of commit for intermediate writes on temp branches (#584)"
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/retry.py
  src/reformatters/common/storage.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_retry.py
  tests/common/test_storage.py
Due: ty, generate-manual-workflows

Revert "Use amend instead of commit for intermediate writes on temp branches (#584)" (#633)
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/retry.py
  src/reformatters/common/storage.py
  tests/common/test_parallel_coordination.py
  tests/common/test_parallel_writes.py
  tests/common/test_retry.py
  tests/common/test_storage.py
Due: ty, generate-manual-workflows

docs: how to open a read-only xarray ds via StoreFactory
  AGENTS.md
Due: none

Refactor IMERG run selection to per-run SourceFileCoord subclasses; skip-guard integration tests
  src/reformatters/nasa/imerg/analysis_early_v7/region_job.py
  src/reformatters/nasa/imerg/analysis_late_v7/region_job.py
  src/reformatters/nasa/imerg/region_job.py
  tests/integration.py
  tests/nasa/imerg/analysis_early_v7/region_job_test.py
  tests/nasa/imerg/analysis_late_v7/region_job_test.py
Due: ty

docs(validation): specify where the Summary section goes in validation_summary.md
  docs/validation.md
Due: none

docs(validation): warn that -v re-renders shrink combined_*.png and desync stats
  docs/validation.md
Due: none

docs(validation): clarify where the Summary section goes in validation_summary.md (#637)
  docs/validation.md
Due: none

Fix AIFS Single precipitation units for legacy-format era
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  tests/ecmwf/aifs_single/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
Due: ty

Encode init_time range for AIFS precip scale factor
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  tests/ecmwf/test_ecmwf_config_models.py
Due: ty

Apply init_time scale factor in place
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
Due: ty

Fix AIFS Single precipitation units for legacy-format era (#638)
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  tests/ecmwf/aifs_single/forecast/dynamical_dataset_test.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
  tests/ecmwf/test_ecmwf_config_models.py
Due: ty

Bump kubernetes to >=36.0.1 to fix k8s API 401s
  pyproject.toml
  uv.lock
Due: none

Bump kubernetes to >=36.0.1 to fix k8s API 401s (#640)
  pyproject.toml
  uv.lock
Due: none

Add full-period value time series plots to validation tooling
  docs/validation.md
  src/scripts/validation/plots.py
  src/scripts/validation/render.py
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/render_test.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

Refine value time series plots and run-params summary
  docs/validation.md
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

Draw value-timeseries std in a contrasting color on top of the mean
  src/scripts/validation/value_timeseries.py
Due: ty

Add full-period value time series plots to validation tooling (#641)
  docs/validation.md
  src/scripts/validation/plots.py
  src/scripts/validation/render.py
  src/scripts/validation/report_nulls.py
  src/scripts/validation/summary.py
  src/scripts/validation/utils.py
  src/scripts/validation/value_timeseries.py
  tests/scripts/validation/render_test.py
  tests/scripts/validation/value_timeseries_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
