Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Replace slow MARS backfill test with faster download+read test
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Validate GRIB_ELEMENT in read_data, add MARS grib metadata overrides
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Add MARS archive support to IFS ENS reformatter (#508)
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ecmwf_grib_index.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/fixtures/mars_cf_pl.idx
  tests/ecmwf/fixtures/mars_cf_sfc.idx
  tests/ecmwf/fixtures/mars_pf_sfc.idx
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
  tests/ecmwf/test_ecmwf_grib_index.py
Due: ty, generate-manual-workflows

Docs about docs
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
Due: none

clarify
  AGENTS.md
Due: none

Docs about docs (#541)
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
Due: none

Parallelize updates across variable groups, unifying with backfills (#418)
  docs/parallel_processing.md
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/region_job.py
  src/reformatters/common/storage.py
  src/reformatters/common/zarr.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/region_job.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/region_job.py
  src/reformatters/contrib/uarizona/swann/analysis/region_job.py
  src/reformatters/dwd/icon_eu/forecast_5_day/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/example/region_job.py
  src/reformatters/noaa/gefs/analysis/region_job.py
  src/reformatters/noaa/gefs/forecast_35_day/region_job.py
  src/reformatters/noaa/gfs/analysis/region_job.py
  src/reformatters/noaa/gfs/region_job.py
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/common/dynamical_dataset_test.py
  tests/common/region_job_test.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
  tests/datasets_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/region_job_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/region_job_test.py
  tests/noaa/gfs/analysis/region_job_test.py
Due: ty, generate-manual-workflows

Address PR review: retry safety, sort kwarg, replica test
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
  tests/common/test_parallel_writes.py
  tests/common/test_storage.py
Due: ty, generate-manual-workflows

Derive icechunk branch name in one place instead of serializing in setup_info
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update CLAUDE.md with parallel processing changes and docs listing
  AGENTS.md
Due: none

Fix results merging, skip result loading for backfills, use JSON for setup_info
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update approach overview to reflect parallel updates
  AGENTS.md
Due: none

rebase
  AGENTS.md
Due: none

Fix parallel worker edge cases: empty-job commit and monitor checkins
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Derive update job parallelism from max_vars_per_job
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/iterating.py
  src/reformatters/common/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
Due: ty, generate-manual-workflows

Bump ecmwf ifs ens version to para0 for staging parallel updates
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
Due: ty

Revert "Bump ecmwf ifs ens version to para0 for staging parallel updates"
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
Due: ty

Clarify staging docs: system change vs data change version bumps
  docs/staging.md
Due: none

Fix coordination file polling by invalidating fsspec directory cache
  src/reformatters/common/storage.py
Due: ty

Bump ecmwf ifs ens version to para0 for staging
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/templates/latest.zarr/zarr.json
Due: ty

Fix _parallel_setup writing mode=w to zarr v3 stores
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Improve docs descriptions in AGENTS.md repository structure section
  AGENTS.md
Due: none

Replace write_metadata(mode=w) with copy_zarr_metadata in parallel setup
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/template_utils.py
  tests/common/test_parallel_writes.py
Due: ty, generate-manual-workflows

Fix MARS-era vars with date_available being incorrectly skipped
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
Due: ty

Log warning on parallelism mismatch, set 2x for reprocessing datasets
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
Due: ty, generate-manual-workflows

Update docs: parallelism guidance, example, fix ready.json filename
  docs/dataset_integration_guide.md
  docs/parallel_processing.md
  src/reformatters/example/dynamical_dataset.py
Due: ty, generate-manual-workflows

Simplify: check vars_available after resolve_data_vars for MARS coords
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
Due: ty

Unify vars_available check after resolve_data_vars for both sources
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
Due: ty

Set update parallelism: 2 for forecast datasets, 1x var groups for analysis
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
Due: ty, generate-manual-workflows

Include dataset_id in parallelism mismatch warning
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Rename date_available -> open_data_date_available, simplify resolve test
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
  tests/ecmwf/aifs_single/forecast/template_config_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
  tests/ecmwf/test_ecmwf_config_models.py
Due: ty

Fix staging cronjob names: reduce limit for indexed job pods, strip trailing dashes
  src/reformatters/common/staging.py
Due: ty

Reduce ECMWF IFS ENS S3 request count by ~50% to avoid 503s at scale
  src/reformatters/common/download.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
Due: ty

Revert rename, keep date_available; update comment to note source overrides
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
Due: ty

Revert open_data_date_available rename in remaining files
  src/reformatters/ecmwf/aifs_single/forecast/region_job.py
  src/reformatters/ecmwf/aifs_single/forecast/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/template_config.py
  tests/ecmwf/aifs_single/forecast/region_job_test.py
  tests/ecmwf/aifs_single/forecast/template_config_test.py
  tests/ecmwf/test_ecmwf_config_models.py
Due: ty

Fix MARS source file coord generation for variables with date_available (#543)
  src/reformatters/ecmwf/ecmwf_config_models.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/region_job_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/source_file_coord_test.py
Due: ty

Simplify parallel coordination: eliminate redundant reads and minor cleanups
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/storage.py
Due: ty, generate-manual-workflows

Limit ecmwf-ifs-ens update parallelism to 8 to avoid S3 503s on hot keys
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
Due: ty, generate-manual-workflows

Parallel setup: narrow branch existence checks, stabilize snapshots on retry
  src/reformatters/common/dynamical_dataset.py
Due: ty, generate-manual-workflows

Unify forecast update workers via update_num_variable_groups, expand parallel test coverage
  docs/dataset_integration_guide.md
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  tests/common/test_parallel_writes.py
Due: ty, generate-manual-workflows

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
