Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Error-level log when finalize skips publishing a job's branch
  src/reformatters/common/parallel_coordination.py
Due: ty

Trim processing_mode comment
  src/reformatters/common/virtual_region_job.py
Due: ty

Clarify probe chunk wording in virtual write loop
  src/reformatters/common/virtual_region_job.py
Due: ty

Remove listing comment
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
Due: ty

Development name prefix, drop arro3-core, trim encoding comment
  pyproject.toml
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/template_config.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/templates/latest.zarr/zarr.json
  uv.lock
Due: ty

Negative tests for new virtual guard rails; s3_download_to_disk unit tests
  src/reformatters/common/virtual_region_job.py
  tests/common/test_download.py
  tests/common/virtual_region_job_test.py
Due: ty

Suspend the -dev crons until the operational test launches
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Finalize always writes template metadata to its own tmp_store
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_coordination.py
  tests/common/virtual_region_job_test.py
Due: ty

Finalize always writes template metadata to its own tmp_store (#659)
  src/reformatters/common/parallel_coordination.py
  tests/common/test_parallel_coordination.py
  tests/common/virtual_region_job_test.py
Due: ty

Retry icechunk Repository.open_or_create for fresh-store worker races
  src/reformatters/common/storage.py
Due: ty

Retry icechunk Repository.open_or_create for fresh-store worker races (#658)
  src/reformatters/common/storage.py
Due: ty

AGENTS.md: comment style guidance from virtual datasets review rounds
  AGENTS.md
Due: none

AGENTS.md: comment style guidance from virtual datasets review rounds (#660)
  AGENTS.md
Due: none

Unsuspend GEFS 10-day spatial dev crons to start the operational test
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Cap icechunk chunk-ref cache for virtual datasets to fix update OOM
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/storage.py
  tests/common/test_storage.py
Due: ty

Trim chunk-ref cache comment to one line per comment guidance
  src/reformatters/common/storage.py
Due: ty

Cap icechunk chunk-ref cache for virtual datasets to fix update OOM (#662)
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/storage.py
  tests/common/test_storage.py
Due: ty

Resize GEFS 10-day spatial cron requests: 1.7 cpu, 7G mem, no shm/ephemeral override
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Resize GEFS 10-day spatial cron requests: 1.7 cpu, 7G mem, no shm/ephemeral override (#663)
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Spread backfill regions across the append dim to avoid S3 prefix hot-spotting
  src/reformatters/common/iterating.py
  src/reformatters/common/region_job.py
  tests/common/iterating_test.py
Due: ty

Document S3 prefix spreading in parallel_processing.md
  docs/parallel_processing.md
Due: none

Rename doc section to 'Append dim region spreading' (not S3-specific)
  docs/parallel_processing.md
  src/reformatters/common/iterating.py
Due: ty

Fix get_jobs region-order tests for append dim spreading
  tests/common/region_job_test.py
Due: ty

Spread backfill regions across the append dim to avoid S3 prefix hot-spotting (#664)
  docs/parallel_processing.md
  src/reformatters/common/iterating.py
  src/reformatters/common/region_job.py
  tests/common/iterating_test.py
  tests/common/region_job_test.py
Due: ty

Revert numba JIT disk caching (cache=True)
  src/reformatters/common/binary_rounding.py
  src/reformatters/common/deaccumulation.py
  src/reformatters/common/interpolation.py
Due: ty

Auto-detect chunk/shard shrink sizes in integration tests
  docs/dataset_integration_guide.md
  tests/chunk_utils.py
  tests/chunk_utils_test.py
  tests/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset_test.py
  tests/ecmwf/aifs_ens/forecast/dynamical_dataset_test.py
  tests/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset_test.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
  tests/noaa/gfs/analysis/dynamical_dataset_test.py
  tests/noaa/hrrr/analysis/dynamical_dataset_test.py
Due: ty

Skip source files whose GRIB index references bytes past the data file
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty

Parse the index once for all vars; derive the bounds check from its ranges
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
Due: ty

Skip source files whose GRIB index references bytes past the data file (#665)
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty

Unsuspend GEFS 10-day spatial dev crons to start the operational test (#661)
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Plan: add PR 7 (extract common virtual patterns), bump validation to PR 8
  docs/plans/virtual_icechunk_datasets.md
Due: none

Skip an unreadable source file instead of failing the whole virtual job
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty

Plan: capture the discover/file_refs seam shape as a PR 7 direction
  docs/plans/virtual_icechunk_datasets.md
Due: none

Skip an unreadable source file instead of failing the whole virtual job (#666)
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  tests/noaa/gefs/forecast_10_day_spatial/region_job_test.py
Due: ty

Persist virtual chunk container config so external readers recover it
  docs/plans/virtual_icechunk_datasets.md
  src/reformatters/common/parallel_coordination.py
  src/reformatters/common/storage.py
  tests/common/test_parallel_coordination.py
  tests/common/test_storage.py
Due: ty

Record PR 5 number (#667) in plan status table
  docs/plans/virtual_icechunk_datasets.md
Due: none

Validate GEFS 10-day spatial after each update, not once a day
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
Due: ty, generate-manual-workflows

Tighten current-data threshold to alert on a single late cycle
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Validate GEFS 10-day spatial after each update, and alert on a single late cycle (#668)
  src/reformatters/noaa/gefs/forecast_10_day_spatial/dynamical_dataset.py
  tests/noaa/gefs/forecast_10_day_spatial/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
