Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Plot WeatherNext 2 spatial maps in the archive's own convention
  src/scripts/validation/compare_spatial.py
  src/scripts/validation/compare_timeseries.py
  src/scripts/validation/utils.py
  tests/scripts/validation/compare_spatial_test.py
  tests/scripts/validation/conftest.py
  tests/scripts/validation/utils_test.py
Due: ty

Size the historical manifest split for its own chunk packing
  src/reformatters/google/weathernext2/forecast_historical_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_virtual/region_job.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Add cooldown for GitHub Actions updates
  .github/dependabot.yml
Due: none

Add cooldown for GitHub Actions updates (#955)
  .github/dependabot.yml
Due: none

Keep cron job names within the kubernetes length limit
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/staging.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_historical_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/staging_test.py
  tests/datasets_test.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Keep cron job names within the kubernetes length limit (#957)
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/staging.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_historical_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/staging_test.py
  tests/datasets_test.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Translate force_path_style for the coordination filesystem
  src/reformatters/common/storage.py
  tests/common/test_storage.py
Due: ty

Translate force_path_style for the coordination filesystem (#958)
  src/reformatters/common/storage.py
  tests/common/test_storage.py
Due: ty

Revert "Keep cron job names within the kubernetes length limit (#957)"
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/staging.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_historical_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/staging_test.py
  tests/datasets_test.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Shorten the WeatherNext 2 cron job names locally
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/google/weathernext2/forecast_historical_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  tests/datasets_test.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Shorten WeatherNext 2 cron job names instead of adding a prefix hook (#959)
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/common/deploy.py
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/kubernetes.py
  src/reformatters/common/staging.py
  src/reformatters/contrib/nasa/smap/level3_36km_v9/dynamical_dataset.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/dynamical_dataset.py
  src/reformatters/contrib/uarizona/swann/analysis/dynamical_dataset.py
  src/reformatters/dwd/icon_eu/forecast_5_day/dynamical_dataset.py
  src/reformatters/eccc/hrdps/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_ens/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast/dynamical_dataset.py
  src/reformatters/ecmwf/aifs_single/forecast_virtual/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_15_day_0_25_degree/dynamical_dataset.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset.py
  src/reformatters/example_materialized/dynamical_dataset.py
  src/reformatters/example_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_historical_virtual/dynamical_dataset.py
  src/reformatters/google/weathernext2/forecast_operational_virtual/dynamical_dataset.py
  src/reformatters/nasa/imerg/dynamical_dataset.py
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  src/reformatters/noaa/gfs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gfs/forecast/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis/dynamical_dataset.py
  src/reformatters/noaa/hrrr/analysis_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  tests/common/staging_test.py
  tests/datasets_test.py
  tests/google/weathernext2/forecast_virtual/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Enforce the cron job name limit on every cron job class
  src/reformatters/common/kubernetes.py
  tests/common/test_kubernetes.py
Due: ty

Cover staging cron job renaming for every registered dataset
  src/reformatters/common/staging.py
  tests/common/staging_test.py
Due: ty

Describe the ECMWF 46-day snow mask by snowpack, not land
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/snow_albedo_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/snow_density_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
Due: ty

Describe the ECMWF 46-day snow mask by snowpack, not land (#961)
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/template_config.py
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/snow_albedo_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/snow_density_surface/zarr.json
  src/reformatters/ecmwf/ifs_ens/forecast_46_day_1_5_degree/templates/latest.zarr/zarr.json
Due: ty

Fix reversed HRRR model level ordering comment
  src/reformatters/noaa/hrrr/virtual_template_config.py
Due: ty

Fix reversed HRRR model level ordering comment (#962)
  src/reformatters/noaa/hrrr/virtual_template_config.py
Due: ty

Temporarily skip the AIFS Single virtual integration test
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
Due: ty

Say in the skip reason that the test must be re-enabled before shipping
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
Due: ty

Probe an all-era variable for HRRR analysis file presence
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

Temporarily skip the AIFS Single virtual integration test (#963)
  tests/ecmwf/aifs_single/forecast_virtual/dynamical_dataset_test.py
Due: ty

Shorten the representative_var docstring to one line
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
Due: ty

Probe an all-era variable for HRRR analysis file presence (#964)
  src/reformatters/common/virtual_region_job.py
  src/reformatters/noaa/hrrr/analysis_virtual/region_job.py
  tests/noaa/hrrr/analysis_virtual/region_job_test.py
Due: ty

Read a virtual store's chunk containers with the credential kind each accepts
  docs/validation.md
  src/reformatters/common/storage.py
  src/scripts/validation/utils.py
  tests/scripts/validation/utils_test.py
Due: ty

Size the validation read cache to hold one manifest split
  src/scripts/validation/utils.py
Due: ty

Update validation.md
  docs/validation.md
Due: none

Make the non-S3 virtual stores readable and scannable by the validation tooling (#965)
  src/reformatters/common/storage.py
  src/scripts/validation/utils.py
  tests/scripts/validation/utils_test.py
Due: ty

Enforce the cron job name limit where datasets actually build names (#960)
  src/reformatters/common/kubernetes.py
  src/reformatters/common/staging.py
  tests/common/staging_test.py
  tests/common/test_kubernetes.py
Due: ty

Make tests mirror src layout and test-file naming
  AGENTS.md
  tests/common/binary_rounding_test.py
  tests/common/config_models_test.py
  tests/common/config_test.py
  tests/common/deaccumulation_test.py
  tests/common/deploy_test.py
  tests/common/download_test.py
  tests/common/failure_injection_test.py
  tests/common/interpolation_test.py
  tests/common/kubernetes_test.py
  tests/common/parallel_coordination_test.py
  tests/common/parallel_writes_test.py
  tests/common/pydantic_test.py
  tests/common/retry_test.py
  tests/common/shared_memory_utils_test.py
  tests/common/storage_test.py
  tests/common/template_utils_test.py
  tests/common/time_utils_test.py
  tests/common/zarr_test.py
  tests/contrib/uarizona/swann/analysis/__init__.py
  tests/contrib/uarizona/swann/analysis/dataset_integration_test.py
  tests/contrib/uarizona/swann/analysis/region_job_test.py
  tests/contrib/uarizona/swann/analysis/template_config_test.py
  tests/deploy_test.py
  tests/ecmwf/ecmwf_config_models_test.py
  tests/ecmwf/ecmwf_grib_index_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/__init__.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
  tests/noaa/gefs/gefs_config_models_test.py
Due: ty

Trim the tests/ layout comment in AGENTS.md
  AGENTS.md
Due: none

Make tests mirror src layout and test-file naming (#967)
  AGENTS.md
  tests/common/binary_rounding_test.py
  tests/common/config_models_test.py
  tests/common/config_test.py
  tests/common/deaccumulation_test.py
  tests/common/deploy_test.py
  tests/common/download_test.py
  tests/common/failure_injection_test.py
  tests/common/interpolation_test.py
  tests/common/kubernetes_test.py
  tests/common/parallel_coordination_test.py
  tests/common/parallel_writes_test.py
  tests/common/pydantic_test.py
  tests/common/retry_test.py
  tests/common/shared_memory_utils_test.py
  tests/common/storage_test.py
  tests/common/template_utils_test.py
  tests/common/time_utils_test.py
  tests/common/zarr_test.py
  tests/contrib/uarizona/swann/analysis/__init__.py
  tests/contrib/uarizona/swann/analysis/dataset_integration_test.py
  tests/contrib/uarizona/swann/analysis/region_job_test.py
  tests/contrib/uarizona/swann/analysis/template_config_test.py
  tests/deploy_test.py
  tests/ecmwf/ecmwf_config_models_test.py
  tests/ecmwf/ecmwf_grib_index_test.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/__init__.py
  tests/ecmwf/ifs_ens/forecast_46_day_1_5_degree/dynamical_dataset_test.py
  tests/noaa/gefs/gefs_config_models_test.py
Due: ty

Document the cloud base height bit-packing wrap
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_cloud_base/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/virtual_template_config.py
Due: ty

Declare the 0 m below-ground sentinel on the 253 K and 263 K height levels
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/geopotential_height_253k/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/geopotential_height_263k/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_253k/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/geopotential_height_263k/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_253k/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/geopotential_height_263k/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/virtual_template_config.py
Due: ty

Say what FROZR measures on the frozen precipitation variables
  src/reformatters/noaa/hrrr/analysis_virtual/template_config.py
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/frozen_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/frozen_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/frozen_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/hrrr/analysis_virtual/template_config_test.py
Due: ty

Use ECMWF's ice pellets wording for the FROZR long name
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/frozen_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/frozen_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/frozen_precipitation_run_total_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Name the no-echo floor on the radar reflectivity variables
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/hourly_maximum_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/maximum_derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/hourly_maximum_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/maximum_derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/composite_reflectivity/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/derived_radar_reflectivity_4000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/hourly_maximum_radar_reflectivity_1000m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/maximum_derived_radar_reflectivity_263k/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/virtual_template_config.py
Due: ty

Correct four more HRRR virtual variable metadata gaps
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/land_sea_mask_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/pressure_0c_isotherm/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/pressure_highest_tropospheric_freezing_level/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/temperature_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/total_cloud_cover_boundary_layer/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/visible_diffuse_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/land_sea_mask_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/pressure_0c_isotherm/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/pressure_highest_tropospheric_freezing_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/temperature_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/total_cloud_cover_boundary_layer/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/visible_diffuse_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_18_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/land_sea_mask_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_0c_isotherm/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/pressure_highest_tropospheric_freezing_level/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/temperature_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/total_cloud_cover_boundary_layer/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/visible_diffuse_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/virtual_template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty
