Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    # NOTE: keep this in sync with pyproject.toml
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: "uv run ty check"
        language: system
        types: [python]
        require_serial: true
      - id: generate-manual-workflows
        name: generate manual workflows
        entry: "uv run src/scripts/generate_manual_workflows.py"
        language: system
        files: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
        pass_filenames: false
        require_serial: true

Retry only failed keys in _exists_many virtual chunk probe (#738)
  src/reformatters/common/virtual_region_job.py
  src/scripts/validation/manifest_scan.py
  tests/common/virtual_region_job_test.py
Due: ty

Clarify comment/docstring guidelines and total-codebase simplicity goal in AGENTS.md
  AGENTS.md
Due: none

Rewrite comment/docstring guidelines around a single reader-centered test
  AGENTS.md
Due: none

Allow test comments to describe the specific failure case under test
  AGENTS.md
Due: none

Add materialized_region_job.py and virtual_region_job.py to repo structure
  AGENTS.md
Due: none

Note that doc-pointer comments should be used sparingly
  AGENTS.md
Due: none

Update Python version to 3.14+, rename Dataset structures section, tighten icechunk atomicity wording
  AGENTS.md
Due: none

Note virtual updates commit directly to main; tighten comment guidelines wording
  AGENTS.md
Due: none

Clarify comment/docstring guidelines and total-codebase simplicity goal in AGENTS.md (#739)
  AGENTS.md
Due: none

Drop the std column from the point time series table when empty
  src/scripts/validation/summary.py
Due: ty

Drop the std column from the point time series table when empty (#741)
  src/scripts/validation/summary.py
Due: ty

Render per-variable plots with availability last
  src/scripts/validation/render.py
Due: ty

Render per-variable plots with availability last (#742)
  src/scripts/validation/render.py
Due: ty

Copy 48-hour virtual template config and region job to shared module paths
  src/reformatters/noaa/hrrr/forecast_virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_virtual_template_config.py
Due: ty

Extract shared HRRR virtual base; hoist windowed update jobs to VirtualRegionJob
  docs/virtual_datasets.md
  pyproject.toml
  src/reformatters/common/dynamical_dataset.py
  src/reformatters/common/virtual_region_job.py
  src/reformatters/example_virtual/region_job.py
  src/reformatters/noaa/gefs/forecast_10_day_spatial/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/region_job.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/template_config.py
  src/reformatters/noaa/hrrr/forecast_virtual_region_job.py
  src/reformatters/noaa/hrrr/forecast_virtual_template_config.py
  src/reformatters/noaa/hrrr/template_config.py
  tests/common/virtual_multi_group_test.py
  tests/common/virtual_region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/region_job_test.py
  tests/noaa/hrrr/forecast_48_hour_virtual/template_config_test.py
Due: ty, generate-manual-workflows

Add HRRR 18-hour virtual plan doc
  docs/plans/hrrr_18h_virtual_feasibility.md
Due: none

HRRR-spatial ops latency: parallel commit flush + smaller manifest windows
  deploy/Dockerfile
  docs/virtual_datasets.md
  pyproject.toml
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  uv.lock
Due: ty, generate-manual-workflows

Moderate HRRR-spatial splits to 600/90/80 after manifest-count tradeoff review
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

Pin icechunk fork tip: rewrite_manifests concurrency exposure
  uv.lock
Due: none

Trim fork pin to the minimum: max_concurrent_nodes exposure only
  pyproject.toml
  uv.lock
Due: none

Hardcode commit manifest-write concurrency at 16
  .github/workflows/manual-create-job-from-cronjob.yml
  docs/virtual_datasets.md
  pyproject.toml
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
Due: ty, generate-manual-workflows

HRRR-virtual ops latency: parallel commit flush + smaller manifest windows (~15x) (#744)
  .github/workflows/manual-create-job-from-cronjob.yml
  deploy/Dockerfile
  docs/virtual_datasets.md
  pyproject.toml
  src/reformatters/common/storage.py
  src/reformatters/noaa/hrrr/forecast_48_hour_virtual/dynamical_dataset.py
  uv.lock
Due: ty, generate-manual-workflows

docs: add canonical keep_mantissa_bits guidance to AGENTS.md
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
Due: none

docs: shorten Encoding conventions note to a single sentence
  AGENTS.md
Due: none

docs: drop Encoding conventions header, point docs to AGENTS by name
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
Due: none

docs: reframe keep_mantissa_bits note as a convention to set
  AGENTS.md
Due: none

docs: add canonical keep_mantissa_bits guidance to AGENTS.md (#745)
  AGENTS.md
  docs/add_new_variable.md
  docs/dataset_integration_guide.md
Due: none

Add VBDSF direct/beam solar radiation to NOAA HRRR
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/visible_beam_downward_solar_flux_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

Disable Karpenter consolidation for reformat/update pods
  src/reformatters/common/kubernetes.py
  tests/common/test_kubernetes.py
Due: ty

Disable Karpenter consolidation for reformat/update pods (#747)
  src/reformatters/common/kubernetes.py
  tests/common/test_kubernetes.py
Due: ty

Add 80m wind, temperature, and pressure to NOAA GFS
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/pressure_80m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/temperature_80m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_u_80m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/wind_v_80m/zarr.json
  src/reformatters/noaa/gfs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/pressure_80m/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/temperature_80m/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/wind_u_80m/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/wind_v_80m/zarr.json
  src/reformatters/noaa/gfs/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gfs/template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Add 80m wind, temperature, and pressure to NOAA GEFS
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/pressure_80m/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/temperature_80m/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/wind_u_80m/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/wind_v_80m/zarr.json
  src/reformatters/noaa/gefs/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/gefs/common_gefs_template_config.py
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/pressure_80m/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/temperature_80m/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/wind_u_80m/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/wind_v_80m/zarr.json
  src/reformatters/noaa/gefs/forecast_35_day/templates/latest.zarr/zarr.json
  tests/common/datasets_cf_compliance_test.py
Due: ty

HRRR VBDSF: skip garbage f00 analysis-time record
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

test: mark VBDSF unavailable in pre-HRRRv3 archive
  tests/noaa/hrrr/analysis/region_job_test.py
Due: ty

test: update GFS var count and list for 80m variables
  tests/noaa/gfs/analysis/region_job_test.py
  tests/noaa/gfs/template_config_test.py
Due: ty

test: mark GEFS 80m vars missing from v12 reforecast
  tests/noaa/gefs/analysis/region_job_test.py
Due: ty

Add Dependabot version updates
  .github/dependabot.yml
Due: none

HRRR materialized: CF missing_value for percent_frozen_precipitation
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/percent_frozen_precipitation_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
Due: ty
