Repository dynamical-org/reformatters: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, generate-manual-workflows

ty:
  name: ty
  entry: uv run ty check
  language: system
  require_serial: true

generate-manual-workflows:
  name: generate manual workflows
  entry: uv run src/scripts/generate_manual_workflows.py
  language: system
  pass_filenames: false
  require_serial: true

Speed up integration test by writing only first shard and merging shard boundary test
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Add single file integration test and fix attribution
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

WIP: Reduce integration test memory usage with trimmed template
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Finalize integration test: reduce memory and add snapshot assertions
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Fix test shard slice bounds after spatial shard size reduction
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Update chunk/shard sizing and remove stale decompression cache
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_pass_1_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_radar_only_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

increase resource requests
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Fix Iowa Mesonet download URLs: remove MRMS_ filename prefix
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
Due: ty

Adjust compresion ratio comments
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
Due: ty, generate-manual-workflows

Remove GDAL install from Copilot setup workflow (#481)
  .github/workflows/copilot-setup-steps.yml
Due: none

Implement MRMS review feedback: explicit source metadata, product fallbacks, and robust pre-v12 band selection (#480)
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

Fill missing precipitation_surface gaps with RadarOnly fallback
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/time/c/0
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/time/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

Restore pre-v12 RadarOnly fallback in attrs; simplify generate_source_file_coords
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

Bump dataset version to v0.3.0
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
Due: ty

Update comment about Iowa Mesonet MRMS archive start
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
Due: ty

ruff format
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

Add RadarOnly fallback overrides for precipitation_surface gaps (#483)
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/time/c/0
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/time/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

Add snow, SWE, snow cover, dew point, and wind gust variables to HRRR datasets
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_cover_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_depth_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snowfall_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/wind_speed_of_gust_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/dew_point_temperature_2m/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_cover_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_depth_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snowfall_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/wind_speed_of_gust_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/noaa_grib_index.py
  tests/common/datasets_cf_compliance_test.py
  tests/noaa/hrrr/analysis/region_job_test.py
Due: ty

Align snow_cover_surface with CF canonical units (percent → fraction)
  src/reformatters/common/config_models.py
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_cover_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_cover_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Rename snow variables and deaccumulate snowfall to rate
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_area_fraction_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snowfall_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_area_fraction_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_thickness_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snowfall_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/models.py
  src/reformatters/noaa/noaa_grib_index.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Replace grib_lead_time_is_running_total with window_reset_frequency==pd.Timedelta.max check
  src/reformatters/noaa/hrrr/region_job.py
  src/reformatters/noaa/hrrr/template_config.py
  src/reformatters/noaa/models.py
  src/reformatters/noaa/noaa_grib_index.py
Due: ty

Move scale_factor from BaseInternalAttrs to NoaaHrrrInternalAttrs
  src/reformatters/common/config_models.py
  src/reformatters/noaa/hrrr/hrrr_config_models.py
Due: ty

Rename wind_speed_of_gust_surface → wind_gust_surface
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/wind_gust_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
Due: ty

Consolidate running-total lead time logic into windowed branch
  src/reformatters/noaa/noaa_grib_index.py
Due: ty

Remove dead lead_hours==0 guard in windowed accumulation branch
  src/reformatters/noaa/noaa_grib_index.py
Due: ty

Clarify GRIB accumulation window day/hour labeling logic
  src/reformatters/noaa/noaa_grib_index.py
  tests/noaa/noaa_grib_index_test.py
Due: ty

Remove accum_window_is_whole_days variable, keep inline condition
  src/reformatters/noaa/noaa_grib_index.py
Due: ty

Fix lead time string formatting for running total variables (#487)
  src/reformatters/noaa/noaa_grib_index.py
  tests/noaa/noaa_grib_index_test.py
Due: ty

Tighten GEFS schedule based on NOMADS file availability (#451)
  src/reformatters/noaa/gefs/analysis/dynamical_dataset.py
  src/reformatters/noaa/gefs/forecast_35_day/dynamical_dataset.py
  tests/noaa/gefs/analysis/dynamical_dataset_test.py
  tests/noaa/gefs/forecast_35_day/dynamical_dataset_test.py
Due: ty, generate-manual-workflows

Address PR review comments: delay, band comment, pre-v12 product label
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
Due: ty, generate-manual-workflows

Remove suspend=True from MRMS operational k8s cron jobs
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
Due: ty, generate-manual-workflows

Address MRMS PR review comments: delay, band comment, pre-v12 product label (#488)
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
Due: ty, generate-manual-workflows

Update dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
Due: ty

Add NOAA MRMS CONUS hourly precipitation analysis dataset (#472)
  .github/workflows/manual-create-job-from-cronjob.yml
  src/reformatters/__main__.py
  src/reformatters/noaa/mrms/__init__.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/__init__.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/dynamical_dataset.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/region_job.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/categorical_precipitation_type_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/latitude/c/0
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/latitude/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/longitude/c/0
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/longitude/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_pass_1_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_radar_only_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/spatial_ref/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/time/c/0
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/time/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/__init__.py
  tests/noaa/mrms/conus_analysis_hourly/__init__.py
  tests/noaa/mrms/conus_analysis_hourly/dynamical_dataset_test.py
  tests/noaa/mrms/conus_analysis_hourly/region_job_test.py
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty, generate-manual-workflows

Add precipitation_pass_2_surface variable to MRMS CONUS hourly dataset
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_pass_2_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
Due: ty

Fix MRMS template config tests for new precipitation_pass_2_surface variable
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

Add precipitation_pass_2_surface variable to MRMS CONUS hourly dataset (#489)
  src/reformatters/noaa/mrms/conus_analysis_hourly/template_config.py
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/precipitation_pass_2_surface/zarr.json
  src/reformatters/noaa/mrms/conus_analysis_hourly/templates/latest.zarr/zarr.json
  tests/noaa/mrms/conus_analysis_hourly/template_config_test.py
Due: ty

Add cross-dataset metadata consistency tests; fix HRRR/DWD variable metadata
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/template_config.py
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/ndvi_raw/zarr.json
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/ndvi_usable/zarr.json
  src/reformatters/contrib/noaa/ndvi_cdr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/dwd/icon_eu/forecast/region_job.py
  src/reformatters/dwd/icon_eu/forecast/template_config.py
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/convective_available_potential_energy/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/high_cloud_cover/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/low_cloud_cover/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/medium_cloud_cover/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/snow_depth_water_equivalent/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/total_cloud_cover/zarr.json
  src/reformatters/dwd/icon_eu/forecast/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/snowfall_surface/zarr.json
  src/reformatters/noaa/hrrr/analysis/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snow_water_equivalent_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/snowfall_surface/zarr.json
  src/reformatters/noaa/hrrr/forecast_48_hour/templates/latest.zarr/zarr.json
  src/reformatters/noaa/hrrr/template_config.py
  tests/common/datasets_cf_compliance_test.py
Due: ty

Consolidate CF/ECMWF compliance tests and add cross-dataset units consistency
  tests/common/datasets_cf_compliance_test.py
Due: ty

Add HRRR f24 idx fixture and test to verify day-based lead time string format
  tests/noaa/fixtures/hrrr.t00z.wrfsfcf24.grib2.idx
  tests/noaa/noaa_grib_index_test.py
Due: ty

Path conditions:
  ty: any of: \.py$
  generate-manual-workflows: any of: ^(src/reformatters/__main__\.py|src/reformatters/.*/dynamical_dataset\.py|src/scripts/generate_manual_workflows\.py)$
